{# Overview fields for use in ./list.html and ./retrieve.html #}
{% load i18n humanize stencila %}

<article>
  <header>
    <div class="level">
      <div class="level-left">
        <div class="review-list--meta mb-2">
          <span>
            <span class="icon is-vcentered pr-1">
              <img
                src="{{ review.get_reviewer_image|default:'https://via.placeholder.com/50' }}"
                role="presentation"
              />
            </span>
            <span class="is-vcentered has-text-weight-bold">
              {{ review.get_reviewer_name|default:'Anonymous' }}
            </span>
          </span>

          <span  class="has-tooltip-bottom has-tooltip-text-centered" alt="{{ review.get_date|naturaltime }}" data-tooltip="{{ review.get_date|naturaltime }}">
            <span class="icon is-vcentered">
              <i class="ri-calendar-line"></i>
            </span>
            <span class="is-vcentered">{{ review.get_date }}</span>
          </span>
        </div>
      </div>
    </div>
  </header>

  <div>
    {% if review.status == 'REQUESTED' %}
      <span class="tag is-light is-light">
        Review request sent
      </span>
    {% elif review.status == 'CANCELLED' %}
      <span class="tag is-light is-warning">
        Review request cancelled
      </span>
    {% elif review.status == 'DECLINED' %}
      <span class="tag is-light is-danger  ">
        Review declined
      </span>
    {% elif review.status == 'ACCEPTED' %}
      <span class="tag is-light is-success">
        Review accepted
      </span>
    {% endif %}

    {% with doi=review.get_doi %}
    {% if doi %}
    {# DOI Progress: {{ doi.get_progress }} #}
    <span class="tag is-light">
      <span class="icon is-vcentered">
        <i class="ri-fingerprint-line"></i>
      </span>
      <span>{{ doi.doi }}</span>
    </span>
    {% endif %}
    {% endwith %}

    <span class="tag is-success is-light">
      <span class="icon is-vcentered">
        <i class="ri-question-answer-line"></i>
      </span>
      <span>
      {{ review.get_comments }} comment{{ review.get_comments|pluralize }}
      </span>
    </span>
    {# User is editor: {{ is_editor }} User is the reviewer: {{ is_reviewer }} #}
  </div>

  {% if review.status == 'DECLINED' or review.status == 'EXTRACTED' %}
  {# <p>TODO: Show abstract or declination reason</p> #}
  {% endif %}
</article>
