<h3 class="title is-5">Import review from its source</h3>
<p class="subtitle is-6 mb-0">
  Please complete the fields below to start importing the review.
</p>

{% include "./_retrieve_extract_form.html" %}

{% if not review.reviewer and is_editor %}

<form id="assign-reviewer"
      class="form"
      hx-patch="{% url 'api-projects-reviews-detail' project.id review.id %}"
      hx-template="projects/reviews/_retrieve_pending.html"
      hx-select="form#assign-reviewer"
      hx-swap="outerHTML"
      hx-redirect="UPDATED:{% url 'ui-projects-reviews-retrieve' account.name project.name review.id %}">

  <div class="field mt-4">
    <label class="label"
           for="user-search">Assign to Stencila user (optional)</label>
    <div class="control is-expanded">
      {% include "users/_search.html" with name="reviewer" value=serializer.reviewer.value help_text="If set, the review will be linked to the chosen Stencila user" %}
    </div>
    {% for error in serializer.reviewer.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  </div>

  <button class="button is-primary is-fullwidth-mobile mt-2"
  type="submit">
    <span class="icon">
    <i class="ri-user-line"></i>
    </span>
    <span>Assign reviewer</span>
  </button>

  <!-- <button class="button is-primary is-fullwidth-mobile mt-2"
  type="submit">
    <span class="icon">
    <i class="ri-chat-download-line"></i>
    </span>
    <span>Import review</span>
  </button> -->
</form>

{% endif %}
