<div {% if review.status in 'EXTRACTING' %}
     hx-trigger="every 2s"
     hx-get="{% url 'api-projects-reviews-detail' project.id review.id %}"
     hx-template="projects/reviews/_retrieve.html"
     hx-swap="outerHTML"
     {% endif %}>

  <div class="level level-reverse-mobile">
    <div class="level-left">
      {% include "./_overview.html" %}
    </div>
  </div>

  {% if review.status == 'PENDING' %}
  {% include "./_retrieve_pending.html" %}
  {% elif review.status == 'REQUESTED' %}
  {% include "./_retrieve_requested.html" %}
  {% elif review.status == 'CANCELLED' %}
  {% include "./_retrieve_cancelled.html" %}
  {% elif review.status == 'DECLINED' %}
  {% include "./_retrieve_declined.html" %}
  {% elif review.status == 'ACCEPTED' %}
  {% include "./_retrieve_accepted.html" %}
  {% elif review.status in 'EXTRACTED, REGISTERED' %}
  {% include "./_retrieve_extracted.html" %}
  {% endif %}

</div>
