{% extends '../base.html' %}
{% load i18n %}

{% block title %}Create a review : {{ project.name }}{% endblock %}

{% block projects_content %}
<h2 class="title is-3">Request or retrieve a review</h2>

<form class="form"
      hx-post="{% url 'api-projects-reviews-list' project.id %}"
      hx-template="projects/reviews/create.html"
      hx-select="form"
      hx-redirect="CREATED:Location">

  <h3 class="title is-5">Who are you requesting a review from?</h3>
  <p class="subtitle is-6">
    Request a review from an existing user or using an email.
  </p>

  <div class="field">
    <label class="label"
           for="user-search">Reviewer username</label>
    <div class="control is-expanded">
      {% include "users/_search.html" with name="reviewer" value=serializer.reviewer.value %}
    </div>
    {% for error in serializer.reviewer.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
    <p class="help">
      If you can't find the reviewer here, just enter their email address in the box below.
    </p>
  </div>

  {% include "serializers/_field.html" with field=serializer.reviewer_email icon="ri-at-line" autofocus=True %}
  {% include "serializers/_field.html" with field=serializer.invite_message icon="ri-message-2-line" element="textarea" autofocus=True %}

  <hr>

  <h3 class="title is-5">Where should the review be written?</h3>
  <p class="subtitle is-6">
    Let the reviewer know where you would like them to write their review.
  </p>

  {% with serializer.source as field %}
  <div class="field">
    <label class="label"
           for="source">Source of review</label>
    <div class="control has-icons-left is-expanded"
         autofocus>
      <div class="select is-fullwidth">
        <select id="{{ field_id }}"
                name="{{ field.name }}">
          {% for option in field.iter_options %}
          <option value="{{ option.value }}"
                  {% if option.value == field.value %}selected{% endif %}>
            {{ option.display_text }}
          </option>
          {% endfor %}
        </select>
      </div>
      <span class="icon is-left">
        <i class="ri-file-cloud-line"></i>
      </span>
    </div>
    {% for error in field.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
    <p class="help">
      The project source from which the review will be extracted.
      Only certain types of project sources are supported.
      Create a <a href="{% url 'ui-projects-sources-create' account.name project.name 'googledocs' %}">new</a> source if
      necessary.
    </p>
  </div>
  {% endwith %}

  {% include "serializers/_field.html" with field=serializer.reviewer_name icon="ri-user-line" help_text="The name of the reviewer. This is necessary to only extract the review for the desired reviewer. The name should be as it appears in the GoogleDoc comments." autofocus=True %}
  <hr>

  <button class="button is-primary is-fullwidth-mobile"
          type="submit">
    <span class="icon">
      <i class="ri-add-fill"></i>
    </span>
    <span>{% trans "Create review" %}</span>
  </button>

</form>
{% endblock %}
