{% extends '../base.html' %}
{% load i18n %}

{% block title %}Review : {{ project.name }}{% endblock %}

{% block projects_content %}

<div class="level level-reverse-mobile">
  <div class="level-left">
    {% include "./_overview.html" %}
  </div>
</div>

{% if review.status == 'REQUESTED' %}
{% include "./_retrieve_requested.html" %}
{% elif review.status == 'CANCELLED' %}
{% include "./_retrieve_cancelled.html" %}
{% elif review.status == 'DECLINED' %}
{% include "./_retrieve_declined.html" %}
{% elif review.status == 'ACCEPTED' %}
{% include "./_retrieve_accepted.html" %}
{% elif review.status == 'EXTRACTED' %}

<p class="notification">
  TODO: The HTML rendering of the review, including its comments and their replies.
  This will be done by Encoda since the review JSON is a Creative work with
  content nodes like paragraphs, lists etc.
<p>

  {% endif %}

  {% endblock %}
