interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://journals.plos.org/ploscompbiol/article/file?id=10.1371/journal.pcbi.1007273&type=manuscript
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE article PUBLIC\
        \ \"-//NLM//DTD JATS (Z39.96) Journal Publishing DTD v1.1d3 20150301//EN\"\
        \ \"http://jats.nlm.nih.gov/publishing/1.1d3/JATS-journalpublishing1.dtd\"\
        >\n<article article-type=\"research-article\" dtd-version=\"1.1d3\" xml:lang=\"\
        en\" xmlns:mml=\"http://www.w3.org/1998/Math/MathML\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"\
        >\n<front>\n<journal-meta>\n<journal-id journal-id-type=\"nlm-ta\">PLoS Comput\
        \ Biol</journal-id>\n<journal-id journal-id-type=\"publisher-id\">plos</journal-id>\n\
        <journal-id journal-id-type=\"pmc\">ploscomp</journal-id>\n<journal-title-group>\n\
        <journal-title>PLOS Computational Biology</journal-title>\n</journal-title-group>\n\
        <issn pub-type=\"ppub\">1553-734X</issn>\n<issn pub-type=\"epub\">1553-7358</issn>\n\
        <publisher>\n<publisher-name>Public Library of Science</publisher-name>\n\
        <publisher-loc>San Francisco, CA USA</publisher-loc>\n</publisher>\n</journal-meta>\n\
        <article-meta>\n<article-id pub-id-type=\"publisher-id\">PCOMPBIOL-D-19-00061</article-id>\n\
        <article-id pub-id-type=\"doi\">10.1371/journal.pcbi.1007273</article-id>\n\
        <article-categories>\n<subj-group subj-group-type=\"heading\">\n<subject>Research\
        \ Article</subject>\n</subj-group>\n<subj-group subj-group-type=\"Discipline-v3\"\
        ><subject>Computer and information sciences</subject><subj-group><subject>Data\
        \ visualization</subject><subj-group><subject>Infographics</subject><subj-group><subject>Graphs</subject></subj-group></subj-group></subj-group></subj-group><subj-group\
        \ subj-group-type=\"Discipline-v3\"><subject>Biology and life sciences</subject><subj-group><subject>Computational\
        \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://journals.plos.org/ploscompbiol/article/figure?image?id=10.1371/journal.pcbi.1007273.g001&size=medium
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\"\n \
        \     lang=\"en\" xml:lang=\"en\"\n      itemscope itemtype=\"http://schema.org/Article\"\
        \n      class=\"no-js\">\n\n\n\n<head prefix=\"og: http://ogp.me/ns#\">\n\
        \  <title>PLOS Computational Biology: Page Not Found</title>\n\n\n\n\n\n\n\
        \n<link rel=\"stylesheet\" href=\"/ploscompbiol/resource/compiled/asset_JSZUWGXAQQTAU5RTVJ3NCTULHSGHGLIW.css\"\
        \ />\n\n  <!-- allows for  extra head tags -->\n\n\n<!-- hello -->\n<link\
        \ rel=\"stylesheet\" type=\"text/css\"\n      href=\"https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600\"\
        >\n\n<link media=\"print\" rel=\"stylesheet\" type=\"text/css\"  href=\"/ploscompbiol/resource/css/print.css\"\
        />\n    <script type=\"text/javascript\">\n        var siteUrlPrefix = \"\
        /ploscompbiol/\";\n    </script>\n<script src=\"/ploscompbiol/resource/compiled/asset_SC5JIUGEUPR4P4P6VBUINUVOVUSU3NRY.js\"\
        ></script>\n\n  <link rel=\"shortcut icon\" href=\"/ploscompbiol/resource/img/favicon.ico\"\
        \ type=\"image/x-icon\"/>\n  <meta http-equiv=\"Content-Type\" content=\"\
        text/html; charset=utf-8\"/>\n\n\n\n\n\n<!-- DoubleClick overall ad setup\
        \ script -->\n<script type='text/javascript'>\n  var googletag = googletag\
        \ || {};\n  googletag.cmd = googletag.cmd || [];\n  (function() {\n    var\
        \ gads = document.createElement('script');\n    gads.async = true;\n    gads.type\
        \ = 'text/javascript';\n    var useSSL = 'https:' == document.location.protocol;\n\
        \    gads.src = (u[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://journals.plos.org/ploscompbiol/article/file?id=info:doi/10.1371/journal.pcbi.1007273.e001&type=thumbnail
  response:
    body:
      string: !!binary |
        iVBORw0KGgoAAAANSUhEUgAAAJIAAAAoCAMAAAAi9FOvAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
        AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAaFQTFRF
        ////9fX1i4mKycjIvr29t7a2ZGJjWVdX6efn9vX1d3V1kZCQfXt8lZOUw8HD2traGxgZ0dHRZ2Vl
        cG5ut7a3UlBRu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://journals.plos.org/ploscompbiol/article/figure?image?id=10.1371/journal.pcbi.1007273.t001&size=medium
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\"\n \
        \     lang=\"en\" xml:lang=\"en\"\n      itemscope itemtype=\"http://schema.org/Article\"\
        \n      class=\"no-js\">\n\n\n\n<head prefix=\"og: http://ogp.me/ns#\">\n\
        \  <title>PLOS Computational Bio[...]
[...]
