# To minimize size of the sencila/hub/director image ignore (ie. don't ADD) 
# various folders...

# Ignore python virtual env
env

# Ignore client side static content
client

# Ignore stencila/stencila sumodule from which additional static content is built
stencila

# Ignore Django static folder into which static all content is collected
static
