# Ignore compiled Python files
*.pyc

# Ignore secrets & storage
/secrets
/storage

# Ignore director virtualenvs and collected static files
/venv
/env.sh
/extern
/static
/node_modules

# Ignore dev sqlite3 db file
/db.sqlite3

# Ignore coverage reports
.coverage
cover
