# Stencila hub director requirements
#
# Search https://pypi.python.org for latest version numbers
# After updating this file run `make director-env-build`
#
# Requirements in alphabetical order....

# https://boto.readthedocs.org/en/latest/ for working with Amazon Web Services (AWS)
boto==2.38.0

# http://djangoproject.com for the framework
Django==1.9b1

# http://django-allauth.readthedocs.org/en/latest/ for integrated conventional and social authentication
django-allauth==0.24.1

# https://github.com/ottoyiu/django-cors-headers for CORS headers? :)
django-cors-headers==1.1.0

# https://github.com/kraiz/django-crontab for running management tasks on a periodic basis
django-crontab==0.7.0

# http://django-debug-toolbar.readthedocs.org/ for a debugging toolbar
django-debug-toolbar==1.4

# http://django-extensions.readthedocs.org/en/latest/ for things like runscripts
django-extensions==1.5.9

# https://github.com/un33k/django-ipware for getting client IP
django-ipware==1.1.2

# http://django-reversion.readthedocs.org/en/latest/index.html for keeping track of who creates and modifies objects
# Use master due to incompatability with Django==1.9. See https://github.com/etianen/django-reversion/issues/454
https://github.com/etianen/django-reversion/archive/master.zip

# https://github.com/peterbe/django-semanticui-form a simple Django template tag to work with Semantic UI
django-semanticui-form==0.0.1

# https://github.com/django-ses/django-ses a Django email backend for Amazon's Simple Email Service 
django-ses==0.7.0

# https://github.com/selwin/django-user_agents for User Agent parsing and dependencies
pyyaml
ua-parser
user-agents
django-user-agents==0.3.0

# https://pypi.python.org/pypi/psycopg2 for production DB backend
psycopg2==2.6.1

# https://pypi.python.org/pypi/pycrypto for encrypting
pycrypto==2.6.1

# https://pypi.python.org/pypi/pytz for world timezone definitions, modern and historical
pytz==2015.7

# https://github.com/getsentry/raven-python exception reporting client for https://www.getsentry.com
raven==5.8.1

# http://amoffat.github.io/sh/ for a "a full-fledged subprocess replacement"
sh==1.11

# http://werkzeug.pocoo.org/ for runserver_plus debugger
werkzeug==0.11.1
