crispy-forms-bulma==1.1.4
Django==2.1.4
django-avatar==4.1.0
django-allauth==0.38.0
django-configurations==2.1
django-crispy-forms==1.7.2
django-polymorphic==2.0.3
django-sendgrid-v5==0.7.0
django-storages==1.7.1
djangorestframework==3.9.0
django-debug-toolbar==1.11
django-extensions==2.1.4
dj_database_url==0.5.0
google-cloud-storage==1.13.0
Pillow==5.3.0
pyjwt==1.6.4
psycopg2==2.7.5
raven==6.9.0
requests==2.19.1
sh==1.12.14
PyGithub==1.43.3
