////
/// Stencila specific drop down.
////

/// Variables.
$stencila-dropdown-content-background-color: $blue !default
$stencila-dropdown-header-triangle: $blue !default
$stencila-dropdown-header-background: $blue !default
$stencila-dropdown-header-hover: $denim !default
$stencila-dropdown-header-color: $white !default
$stencila-dropdown-item-color: $black !default
$stencila-dropdown-item-background-color: $white !default
$stencila-dropdown-item-hover-border-color: $green !default
$stencila-dropdown-item-border-color: $white-lilac !default
$stencila-dropdown-item-active-color: $blue !default
$stencila-dropdown-item-active-background-color: $white-smoke !default
$stencila-dropdown-item-active-border-color: $blue !default
$stencila-dropdown-content-shadow: 2px 2px 20px rgba($black, 0.1) !default
$stencila-dropdown-font-weight: $weight-normal !default
$stencila-dropdown-close-color: $white !default

@import 'bulma/sass/components/dropdown.sass'
@import './content'
@import './menu'
@import './trigger'

@import './new-menu'
