/// Individual dropdown menu items
a.dropdown-item,
.dropdown-item
    +transition($attr: background-color, $delay: 0.1s)
    position: relative
    display: inline-flex
    align-items: center
    width: 100%
    padding: rem(10) rem(20)
    font-size: rem(16)
    line-height: 1em

    background: $stencila-dropdown-item-background-color
    border-bottom: 1px solid $stencila-dropdown-item-border-color
    color: $stencila-dropdown-item-color
    font-weight: $stencila-dropdown-font-weight
    justify-content: flex-start

    &:hover,
    &.is-active
        background-color: $stencila-dropdown-item-active-background-color

        &:before
            background-color: $stencila-dropdown-item-active-border-color
            height: 100%

    &:before
        position: absolute
        left: 0
        top: 0
        width: 3px
        height: 0
        background: transparent
        content: ''
        +transition($attr: all, $delay: 0.05s)

    &:hover
        &:before
            background: $stencila-dropdown-item-hover-border-color
            height: 100%

    &:first-child
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        border-radius: unset

    &:last-child
        border-bottom: none
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px

    &.is-active
        color: $stencila-dropdown-item-active-color

    .icon
        margin-left: rem(40)

    .logo
        margin-right: rem(10)
