/// drop down menu - main menu element (doesn't include button)
.dropdown-menu
    left: 50%
    transform: translateX(-50%)

    &.is-right-aligned
        left: auto
        right: rem(-45)
        transform: none

        .dropdown-content
            &:before
                left: auto
                right: rem(53)
                transform: none
