{% extends 'base.html' %}
{% load static %}

{% block title %}No, no{% endblock %}

{% block content %}
  <section class="section" style="margin-top: 10em;">
    <div class="columns">
      <div class="column is-6 is-offset-4 has-text-centered">
        <img class="error-image" src="{% static 'img/dead-document.svg' %}" alt="Oh no!" width="112px" height="28px">
        <h1 class="title has-margin-top">No, no</h1>
        <p>
          You do not have permission to access this page.
          Please request access from the account or project owners.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
