{% extends 'base.html' %}

{% block content %}
<div class="container has-centred" style="max-width: 25em">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            <span class="icon"><i class="fas fa-hand-paper"></i></span>
            <span>Permission denied</span>
          </p>
        </header>
        <section class="modal-card-body">
            <p>	You do not have permissions to view this page.</p>
        </section>
        <footer class="modal-card-foot">
            <form method="post">
                {% csrf_token %}
                <a class="button is-primary" onclick="history.back()">OK</a>
            </form>
        </footer>
      </div>
    </div>
</div>
{% endblock %}
