{% extends 'base.html' %}
{% load static %}

{% block title %}Oops!{% endblock %}

{% block content %}
  <section class="section" style="margin-top: 10em;">
    <div class="columns">
      <div class="column is-6 is-offset-4 has-text-centered">
        <img class="error-image" src="{% static 'img/dead-document.svg' %}" alt="Oh no!" width="112px" height="28px">
        <h1 class="title has-margin-top">Oops!</h1>
        <p>
          Sorry, it seems that there is a problem with this page. 
          Our team has been notified and will rectify it as soon as possible!
        </p>
        {% if sentry_event_id %}
          <script>
            Sentry.showReportDialog({
              user: {
                name: '{{ user_name }}',
                email: '{{ user_email }}'
              },
              eventId: '{{ sentry_event_id }}'
            })
          </script>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
