<nav class="level is-mobile">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <div class="is-hidden-tablet">
        <a class="button">
          <span class="icon">
            <i class="ri-search-line"></i>
          </span>
        </a>
      </div>
      <div class="field is-hidden-mobile">
        <input class="input" type="text" placeholder="Find a project…">
      </div>
    </div>
    </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item"><strong>All</strong></p>
    <p class="level-item"><a>Public</a></p>
    <p class="level-item"><a>Private</a></p>
    <p class="level-item">
      <a class="button is-primary is-hidden-mobile">
        <span class="icon">
          <i class="ri-add-line"></i>
        </span>
        <span>
          New Project
        </span>
      </a>

      <a class="button is-primary is-hidden-tablet" title="New Project">
        <span class="icon">
          <i class="ri-add-line"></i>
        </span>
      </a>
    </p>
  </div>
</nav>
