{% comment %} Render an icon representing the type of job {% endcomment %}

<div class="icon is-vcentered has-text-grey dropdown is-hoverable cursor-help">
  <div class="dropdown-trigger">
    <i class="ri-question-line"></i>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content has-text-black">
      <p class="dropdown-item">
        <strong>Member:</strong> can create, update, and delete projects sources and files.
      </p>
      <p class="dropdown-item">
        <strong>Manager:</strong> can create, update, and delete projects and teams in addition to the Member
        permissions.
      </p>
      <p class="dropdown-item">
        <strong> Owner:</strong> can delete projects, and configure paid plans in addition to the Manager permissions.
      </p>
    </div>
  </div>
</div>
