main {
    /* Push footer to the bottom */
    min-height: 90vh;
}

/*
Hide uncompiled Vue elements 
See https://vuejs.org/v2/api/#v-cloak
*/
[v-cloak] {
	display: none;
}

.is-top-padding {
    padding-top: 2vh;
}