body, button, input {
    color: #444;
    font-family: Lato, sans;
    font-size: 1.2rem;
    font-weight: 300;
}

main.section {
    /* Push footer to the bottom */
    min-height: 90vh;
}

/*
Hide uncompiled Vue elements 
See https://vuejs.org/v2/api/#v-cloak
*/
[v-cloak] {
	display: none;
}
