main {
    /* Push footer to the bottom */
    min-height: 90vh;
}

/*
Hide uncompiled Vue elements 
See https://vuejs.org/v2/api/#v-cloak
*/
[v-cloak] {
	display: none;
}

.is-top-padding {
    padding-top: 2vh;
}

/*
Only show tab icons on mobile to prevent
scrollbar
 */
@media screen and (max-width: 768px) {
  .tabs li > a > span:not(.icon) {
    visibility: hidden;
    position:  absolute;
  }

  .tabs .icon {
    margin-left: auto;
  }
}
