{% extends 'projects/project_base.html' %}
{% load static %}
{% block title %}Project {{ project.name }} : Jobs{% endblock %}

{% block project_content %}
<div class="columns is-centered">
  <div class="column">
    <header class="job-header level">
      <form action="" class="job-filter level-left is-full-width">
        {% include '_job_filter.html' with label="Status" options=status_options element="status" default_option="All jobs" selected=status %}
        {% include '_job_filter.html' with label="Trigger" options=method_options element="trigger" default_option="All" selected=method %}
        {% include '_job_filter.html' with label="By" options=by_options element="by" default_option="Everyone" selected=by %}
        <input type="submit" value="filter jobs" class="button is-select is-normal mt-auto">
      </form>
    </header>

    <div class="job-container is-flex flex-direction-column border-top-grey-lighter">
      {% for job in object_list %}
      {% include "job_list_job.html" with isComplete=job.has_ended %}
      {% empty %}
      <div class="job-details-container mt-8">
        {% if status or method or by %}
        <h2 class="title">No matching jobs found</h2>
        <p>We couldn't find any jobs that matched the supplied filters</p><br />
        <p><a href="{% url 'project_job_list' account.name project.name %}" class="button is-primary">All
            {{project.name}} jobs</a></p>
        {% else %}
        <h2 class="title">No jobs found</h2>
        <p>There are no jobs for this project</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    {% if object_list %}
    <footer class="job-footer level is-flex">

      <div class="level-left">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="button">Previous</a>
        {% else %}
        <button class="button" disabled>Previous</button>
        {% endif %}
      </div>


      <div class="level-right">
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="button">Next</a>
        {% else %}
        <button class="button" disabled>Next</button>
        {% endif %}
      </div>
    </footer>
    {% endif %}
  </div>
</div>
{% endblock %}
