{% comment %} Render an icon representing the type of job {% endcomment %}

<div class="icon is-vcentered has-text-grey dropdown is-hoverable cursor-help">
  <div class="dropdown-trigger">
    <i class="ri-question-line"></i>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content has-text-black">
      <p class="dropdown-item">
        <strong>Member:</strong> can contribute to all Organization projects, create new projects, and delete projects they've created.
      </p>
      <p class="dropdown-item">
        <strong>Manager:</strong> can invite other users, manage teams, and configure Organization settings, in addition to the Member permissions.
      </p>
      <p class="dropdown-item">
        <strong>Owner:</strong> can manage billing in addition to the Manager permissions.
      </p>
    </div>
  </div>
</div>
