{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
<div class="columns">
  <div class="column">
    <h3 class="title">Sign in using...</h3>
    <div class="buttons is-centered">
      <a class="button" title="Github" href="{% provider_login_url 'github' process='login' %}">
        <span class="icon"><i class="fab fa-github"></i></span>
        <span>GitHub</span>
      </a>
      <a class="button" title="Google" href="{% provider_login_url 'google' process='login' %}">
        <span class="icon"><i class="fab fa-google"></i></span>
        <span>Google</span>
      </a>
      <a class="button" title="ORCID" href="{% provider_login_url 'orcid' process='login' %}">
        <span class="icon"><i class="fas fa-user"></i></span>
        <span>ORCID</span>
      </a>
      <a class="button" title="Twitter" href="{% provider_login_url 'twitter' process='login' %}">
        <span class="icon"><i class="fab fa-twitter"></i></span>
        <span>Twitter</span>
      </a>
    </div>
    <p class="help">
      If you have signed in with one of these third party accounts before please use the same account, or an account which you have connected to your Stencila user account.
    </p>
  </div>
  <div class="column">
    <h3 class="title">Sign in with your username</h3>
    <form class="form" method="post" action="{% url 'user_signin' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="button is-primary" type="submit">Sign me in!</button>
    </form>
    <p class="help"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
    <p class="help"><a href="{% url 'user_signup' %}">Don't have a user account yet?</a></p>
  </div>
</div>
{% endblock %}
