# Ignore compiled Python files
*.pyc

# Ignore virtualenvs and collected static files
director/env
director/static

# Ignore IDE/text editor files
*.sublime-workspace

# Ignore sqlite3 db file
director/db.sqlite3

# Ignore stencila outputs
director/client/font-awesome/
director/client/katex/
director/client/lib/
director/client/stencila.css
director/client/stencila.css.map
director/client/stencila.js
director/client/stencila.js.map

