# Warning: a `.gitignore` in the `director` subdirectory will override
# the `files` setting in `package.json` when packaging. So keep this
# as the only `.gitigore` file.

# Ignore Pycharm/IntelliJ Project Dir
.idea

# Ignore macOS .DS_Store
.DS_Store

# Ignore compiled Python files etc
__pycache__
*.pyc
.mypy_cache

# Ignore coverage reports
.coverage
coverage
coverage.xml

node_modules

# Ignore director virtualenvs, collected static files etc
/director/env.sh
/director/secrets
/director/static
/director/storage
/director/venv

# Ignore files copied into director for Docker build
/director/package*.json
