# Ignore Pycharm/IntelliJ Project Dir
.idea

# Ignore macOS .DS_Store
.DS_Store

# Ignore compiled Python files etc
__pycache__
*.pyc
.mypy_cache
venv

# Ignore coverage reports
.coverage
coverage
coverage.xml

# Ignore node modules
node_modules

# Ignore director collected static files etc
# Warning: putting this in the `director/.gitignore` file will override
# the `files` setting in `package.json` when packaging. So keep this
# in this file!
/director/static
