{% extends 'accounts/base.html' %}
{% load i18n waffle_tags %}

{% block title %}{{ account.name }} {% trans "Email addresses" %}{% endblock %}

{% block accounts_content %}

<h1 class="title is-3">{% trans "Manage email addresses" %}</h1>

{% with emails=user.emailaddress_set.all %}
{% if emails %}
<p class="mb-4">
  {% trans 'The following email addresses are associated with your account:' %}
</p>

<form class="form"
      method="POST"
      action="{% url 'account_email' %}">
  {% csrf_token %}

  {% for emailaddress in emails %}
  <div class="mb-2 pl-2">
    <label for="email_radio_{{forloop.counter}}"
           class="is-size-6">
      <input id="email_radio_{{forloop.counter}}"
             type="radio"
             name="email"
             {% if emailaddress.primary or emails|length == 1 %}checked="checked"
             {%endif %}
             value="{{emailaddress.email}}" />

      {{ emailaddress.email }}

      {% if emailaddress.primary %}
      <span class="tag is-primary is-light">
        {% trans "Primary" %}
      </span>
      {% endif %}

      {% if emailaddress.verified %}
      <span class="tag is-success is-light">
        {% trans "Verified" %}
      </span>
      {% else %}
      <span class="tag is-warning is-light">
        {% trans "Unverified" %}
      </span>
      {% endif %}
    </label>
  </div>
  {% endfor %}

  <span class="buttons mt-4">
    <button class="button is-fullwidth-mobile"
            type="submit"
            name="action_primary">
      <span class="icon">
        <i class="ri-mail-star-line"></i>
      </span>
      <span>
        {% trans 'Make primary' %}
      </span>
    </button>
    <button class="button is-fullwidth-mobile"
            type="submit"
            name="action_send">
      <span class="icon">
        <i class="ri-mail-send-line"></i>
      </span>
      <span>
        {% trans 'Re-send verification' %}
      </span>
    </button>
    <button class="button is-danger is-outlined is-fullwidth-mobile"
            type="submit"
            name="action_remove">
      <span class="icon">
        <i class="ri-delete-bin-line"></i>
      </span>
      <span>
        {% trans 'Remove' %}
      </span>
    </button>
  </span>
</form>
<br>
{% else %}
<p class="message is-warning">
  {% trans "You currently do not have any email address set up. You should really add an email address so you can receive notifications, reset your password, etc." %}
</p>
{% endif %}
{% endwith %}

<hr />

<h2 class="title is-3">{% trans "Add an email address" %}</h2>

<form class="form"
      method="POST"
      action="{% url 'account_email' %}">
  {% csrf_token %}
  {% include "forms/form.html" with form=form %}
  <button class="button is-primary is-outlined is-fullwidth-mobile"
          name="action_add"
          type="submit">
    <span class="icon">
      <i class="ri-mail-add-line"></i>
    </span>
    <span>
      {% trans "Add email" %}
    </span>
  </button>
</form>
{% endblock %}
