{% extends "base_centered.html" %}
{% load i18n account %}

{% block title %}{% trans "Confirm email address" %}{% endblock %}

{% block layout_content %}
<h1 class="title is-3">{% trans "Confirm email address" %}</h1>

{% if confirmation %}
{% user_display confirmation.email_address.user as user_display %}
<p class="notification is-light">
  {% blocktrans with confirmation.email_address.email as email %}
  Please confirm that <strong><a href="mailto:{{ email }}">{{ email }}</a></strong> is an e-mail address for user
  <strong>{{ user_display }}</strong>.{% endblocktrans %}
</p>
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
  <button class="button is-primary is-fullwidth-mobile" type="submit">
    <span class="icon"><i class="ri-mail-line"></i></span>
    <span>{% trans 'Confirm' %}</span>
  </button>
</form>
{% else %}
{% url 'account_email' as email_url %}
<p class="notification is-danger is-light">
  {% blocktrans %}
  This e-mail confirmation link expired or is invalid.
  Please <a href="{{ email_url }}">create a new email confirmation request</a>.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
