{% extends 'accounts/base.html' %}
{% load i18n waffle_tags %}

{% block title %}{{ account.name }} {% trans "Change password" %}{% endblock %}

{% block accounts_content %}

<h1 class="title is-3">{% trans "Change password" %}</h1>

<article class="message message-header-body is-info">
  <div class="message-header">
    <p><span class="icon"><i class="ri-lock-line"></i></span>Don't know your current password?</p>
  </div>
  <div class="message-body">
    {% url 'account_reset_password' as reset_password_url %}
    {% blocktrans %}
    If you don't have a password (because you signed up with an external account), or if you have forgotten it,
    please <a href="{{ reset_password_url }}">reset your password</a>.
    {% endblocktrans %}
  </div>
</article>

<form class="form"
      method="post"
      action="{% url 'account_change_password' %}">
  {% csrf_token %}
  {% include "forms/form.html" with form=form %}
  <button class="button is-primary is-fullwidth-mobile"
          type="submit">{% trans "Change" %}</button>
</form>

{% endblock %}
