{% extends "base_centered.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block layout_content %}
<h1 class="title is-3">{% trans "Reset password" %}</h1>

<article class="message message-header-body is-info">
  <div class="message-header">
    <p>
      <span class="icon">
        <i class="ri-mail-line"></i>
      </span>
      <span>
        {% trans "Email sent" %}
      </span>
    </p>
  </div>
  <div class="message-body">
    {% blocktrans %}
    We have sent you an e-mail with a link to reset you password.
    Please contact us if you do not receive it within a few minutes.
    {% endblocktrans %}
  </div>
</article>
{% endblock %}
