{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-three-quarters">
    <div class="content">
      <h1 class="title is-3">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

      {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.<br />
        Please request
        a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
      {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% include "forms/form.html" with form=form %}
        <button class="button is-primary is-fullwidth-mobile" type="submit">{% trans 'Change Password' %}</button>
      </form>
      {% else %}
      <p class="has-text-weight-bold">{% trans 'Your password is now changed.' %}</p>
      <a class="button is-primary has-text-weight-bold is-fullwidth-mobile mt-2" href="{% url 'ui-users-signin' %}">
        {% trans "Sign in" %}
      </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
