{% extends "base_centered.html" %}

{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block layout_content %}
<h1 class="title is-3">{% trans "Reset password" %}</h1>

<article class="message message-header-body is-info">
  <div class="message-header">
    <p>
      <span class="icon">
        <i class="ri-mail-line"></i>
      </span>
      <span>
        {% trans "Password changed" %}
      </span>
    </p>
  </div>
  <div class="message-body">
    {% blocktrans %}
    Your password is now changed. You can use your new password to sign in.
    {% endblocktrans %}
  </div>
</article>

<div>
  <a class="button is-primary has-text-weight-bold is-fullwidth-mobile mt-2" href="{% url 'ui-users-signin' %}">
    <span class="icon"><i class="ri-login-box-line"></i></span>
    <span>{% trans "Sign in" %}</span>
  </a>
</div>
{% endblock %}
