{% extends "base_centered.html" %}

{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block layout_content %}
<h1 class="title is-3">{% trans "Reset password" %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<article class="message message-header-body is-info">
  <div class="message-header">
    <p>
      <span class="icon">
        <i class="ri-error-warning-line"></i>
      </span>
      <span>
        {% trans "Bad reset token" %}
      </span>
    </p>
  </div>
  <div class="message-body">
    {% blocktrans %}
    The password reset link was invalid, possibly because it has already been used.
    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
    {% endblocktrans %}
  </div>
</article>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
  {% csrf_token %}
  {% include "forms/form.html" %}
  <button class="button is-primary is-fullwidth-mobile" type="submit">
    <span class="icon"><i class="ri-key-line"></i></span>
    <span>{% trans 'Change password' %}</span>
  </button>
</form>
{% else %}
<p class="has-text-weight-bold">{% trans 'Your password is now changed.' %}</p>
<a class="button is-primary has-text-weight-bold is-fullwidth-mobile mt-2" href="{% url 'ui-users-signin' %}">
  {% trans "Sign in" %}
</a>
{% endif %}
{% endif %}
{% endblock %}
