{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half-tablet">
    <div class="content">
      <h1 class="title is-3">{% trans "Set Password" %}</h1>

      <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
