{% extends 'base.html' %}
{% load account %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half-tablet">
    <div class="content">
      <h1 class="title is-3">{% trans "Reset your password" %}</h1>

      {% if user.is_authenticated %}
      <article class="message message-header-body is-info">
        <div class="message-header">
          <p><span class="icon"><i class="ri-user-follow-line"></i></span>Already signed in</p>
        </div>
        <div class="message-body">
          You are already signed in as <a href="{% url 'ui-accounts-retrieve' user.username %}">{{ user.username }}</a>,
          maybe you just
          want to
          <a href="{% url 'account_change_password' %}">change your password</a>?
        </div>
      </article>
      {% endif %}

      <p>
        {% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset your password." %}
      </p>

      <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {% include "forms/form.html" with form=form %}
        <button class="button is-primary is-fullwidth-mobile" type="submit">{% trans 'Reset' %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
