////
/// Bulma Message overrides
////

.message
    background-color: #fafafa !important
    border-left: 4px solid $success

.message-body
    padding: 0rem 1.5rem 1rem    

.message-header
    +uppercase-heading()
    padding: 1rem 1.5rem .75rem
    background-color: #fafafa !important
