////
/// Bulma Message overrides
////

.message
    background-color: #fafafa !important
    border-left: 4px solid $success

    &.is-danger
        border-color: $danger

    &.is-warning
        border-color: $warning

    &.is-info
        border-color: $info

    &.is-info,&.is-danger
        .message-header
            color: rgba(0, 0, 0, 0.7)
    .message-body
        color: #3b3108 !important


.message-body
    padding: 0 1.5rem 1rem

.message-header
    +uppercase-heading()
    padding: 1rem 1.5rem .75rem
    background-color: #fafafa !important
