////
/// Bulma Navbar overrides
////
.main-navbar
    border-top: 4px solid $primary
    
    .button
        margin-right: rem(14)
    
    .buttons
        margin-bottom: 0
        
        .button
            margin-bottom: 0
            
    .hamburger
        &:focus
            outline: none