# Tell Docker to ignore all files apart from those absolutely needed in the image
# For why this is a good idea see https://codefresh.io/docker-tutorial/not-ignore-dockerignore/

*

!/requirements.txt
!/manage.py

!/accounts
!/jobs
!/manager
!/projects
!/static
!/users
