/dev.sqlite3
/manager/static/css/styles.css
/manager/static/**/*.map
/manager/static/js/index.js
/manager/static/js/libs.js
/media
/node_modules
/snaps
/static
/venv

# Email templates from https://github.com/stencila/email-templates
users/templates/account/email/email_confirmation_message.html
users/templates/account/email/email_confirmation_signup_message.html
users/templates/account/email/password_reset_key_message.html
users/templates/invitations/email/email_invite_message.html
