/dev.sqlite3
/manager/static/css/styles.css
/manager/static/css/styles.css.map
/manager/static/js/index.js
/manager/static/js/index.js.map
/manager/static/js/libs.js
/manager/static/js/libs.js.map
/media
/node_modules
/snaps
/static
/venv
