black==24.3.0
coverage==5.5
django-debug-toolbar-request-history==0.1.4
django-debug-toolbar==3.2.2
faker==8.16.0
flake8==3.9.2
isort==5.9.3
mypy==0.910
pydocstyle==6.1.1
pyppeteer==0.2.6
pytest-cov==2.12.1
pytest-django==4.4.0
pytest-watch==4.2.0
pytest==6.2.5
types-requests==2.25.11
