<div style="padding: 1em; font-family: Helvetica, sans; color: #444">
	<p style="">Hello! <a style="color:#4790f0; text-decoration: none" href="https://stenci.la/users/{{ inviter.username }}">@{{ inviter.username }}</a> has invited you to {{ action }} a {{ type }} on Stencila.</p>

	{% if message %}<p style="border: 2px solid grey; border-width: 0 2px 0px 2px; font-family: serif; font-style: italic; padding: 1em">{{ message }}</p>{% endif %}

	{% if title %}<p style="font-weight: bold; font-size: 110%; text-align: center">{{ title }}</p>{% endif %}

	<div style="padding: 0.5em; text-align: center; background: #4790f0; border-radius: 5px; width: 5em; margin: 0 auto;"><a href="https://stenci.la{{ accept_url }}" style="color:#F8F8F8; text-decoration: none; font-weight: bold">Open</a></div>

	<p style="padding: 2em 0; font-size: 12px; color: #777">This invitation will expire in {{ expiry }} days. It grants access to this {{ type }} so only forward it to people you trust. You have received this email because someone shared this Stencila {{ type }} with you using this email address.</p>

	<div style="text-align: center;"><a href="https://stenci.la"><img alt="Stencila" src="http://static.stenci.la/img/logo-name-tagline-500.png" style="width: 150px;"></a></p>
</div>
