////
/// Typography overrides
////
.content, .section
    p
      a
        font-weight: $weight-bold
        text-decoration: underline

        &:hover
            text-decoration: none


    a
        &.button
            text-decoration: none