{% load stencila %}

{% uuid as field_id %}

<div class="field">
  <label class="label" for="{{ field_id }}">{{ field.label|default:field.name }}</label>

  {% if element %}
  {% include "./_field_control.html" with field_id=field_id %}
  {% else %}
  {% include "./_field_control.html" with element=field|field_element field_id=field_id %}
  {% endif %}

  {% if field.errors %}
  {% for error in field.errors %}
  <span class="help is-danger">{{ error }}</span>
  {% endfor %}
  {% endif %}

  {% if field.help_text %}
  <span class="help">{{ field.help_text|safe }}</span>
  {% endif %}
</div>
