{% load stencila %}

<div class="field">
  {% if field.label %}
  <label class="label">{{ field.label }}</label>
  {% endif %}

  {% if element %}
  {% include "./_field_control.html" %}
  {% else %}
  {% include "./_field_control.html" with element=field|field_element %}
  {% endif %}

  {% if field.errors %}
  {% for error in field.errors %}
  <span class="help is-danger">{{ error }}</span>
  {% endfor %}
  {% endif %}

  {% if field.help_text %}
  <span class="help">{{ field.help_text|safe }}</span>
  {% endif %}
</div>
