{% extends 'base.html' %}
{% load static %}

{% block title %}Builds{% endblock %}

{% block styles %}
	{{ block.super }}
	<style>
		#builds .build {
			width: 100%;
			line-height: 2em;
		}
		#builds .build .field {
			margin: 0 0.5em 0 0.5em;
		}
		#builds .build img {
			max-height: 2em;
			max-width: 6em;
		}
		#builds .extra.content,
		#builds .extra.content>a:not(.ui) {
			font-size: 0.9em;
			color: #444;
		}
	</style>
{% endblock %}

{% block main %}
<h1>Builds</h1>

<div class="ui message">
  <div class="ui content">
    <p>
    	These are the most recent 25 builds of Stencila packages. <a href="mailto:connect@stenci.la">Email us</a> if you would like a build for a host language version or platform that is not available here.
    </p>
  </div>
</div>

<div id="builds" class="ui centered cards">
	{% for build in data %}
		<div class="build ui card">
			<div class="ui content">
				<div class="ui left floated">
					{% if "build.package=='docker'" %}
						<img src="{% static 'logos/docker-logo-name.png' %}">
					{% else %}
						<i class="ui cube icon"></i>
						{{ build.package }}
					{% endif %}
				</div>
				<div class="ui right floated">
					<span class="field" data-content="Flavour">
						{{ build.flavour }}
					</span>
					{% if build.platform %}
						<span class="field" data-content="Platform">
							<i class="ui desktop icon"></i>
							{{ build.platform }}
						</span>
					{% endif %}
					<span class="field" data-content="Stencila version">
						<i class="ui tag icon"></i>
						{{ build.version }}
					</span>
				</div>
			</div>
			<div class="ui extra content">
				<div class="ui left floated">
					{% if "build.package=='docker'" %}
						<span class="field" data-content="View on Docker Hub">
							<i class="ui eye icon"></i>
							<a target="_blank" href="https://hub.docker.com/r/stencila/{{ build.flavour }}/">View</a>
						</span>
						<span class="field code" data-content="docker pull stencila/{{ build.flavour }}:{{ build.version }}">
							<i class="ui keyboard icon"></i>
							Code
						</span>
					{% else %}

					{% endif %}
				</div>
				<div class="ui right floated">
					<span class="field" data-content="Builder">
						<i class="ui user icon"></i>
						{{ build.user }}
					</span>
					<span class="field" data-content="Build date/time">
						<i class="ui time icon"></i>
						{{ build.datetime|date:'Y-m-d H:i' }}UTC
					</span>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script type="text/javascript">
	$('[data-content]').popup();
	$('.code').popup({
		variation: 'very wide inverted',
		hoverable: 'true'
	});
</script>
{% endblock %}
