{% extends 'base.html' %}
{% load static %}

{% block title %}Builds{% endblock %}

{% block styles %}
	{{ block.super }}
	<style>
		#builds .build {
			width: 100%;
			line-height: 2em;
		}
		#builds .build .field {
			margin: 0 0.5em 0 0.5em;
		}
		#builds .build img {
			max-height: 2em;
			max-width: 6em;
		}
		#builds .extra.content {
			font-size: 0.9em;
			color: #444;
		}
	</style>
{% endblock %}

{% block main %}
<h1>Builds</h1>

<div class="ui message">
  <div class="ui content">
    <p>
    	These are the most recent 25 builds of Stencila packages. <a href="mailto:connect@stenci.la">Email us</a> if you would like a build for a host language version or platform that is not available here.
    </p>
  </div>
</div>

<div id="builds" class="ui centered cards">
	{% for build in data %}
		<div class="build ui card">
			<div class="ui content">
				<div class="ui left floated">
					{% if build.package == 'docker' %}
						<img src="{% static 'logos/docker-logo-name.png' %}">
					{% elif build.package == 'node' %}
						<img src="{% static 'logos/nodejs-logo.png' %}">
					{% elif build.package == 'py' %}
						<img src="{% static 'logos/python-logo-name.png' %}">
					{% elif build.package == 'r' %}
						<img src="{% static 'logos/r-logo.png' %}">
					{% elif build.package == 'web' %}
						<img src="{% static 'logos/web-logo.png' %}"> Web
					{% else %}
						<i class="ui cube icon"></i>
						{{ build.package }}
					{% endif %}
				</div>
				<div class="ui right floated">
					{% if build.flavour %}
					<span class="field" data-content="Flavour">
						<i class="ui flag icon"></i>
						{{ build.flavour }}
					</span>
					{% endif %}
					{% if build.platform %}
						<span class="field" data-content="Platform">
							<i class="ui desktop icon"></i>
							{{ build.platform }}
						</span>
					{% endif %}
					<span class="field" data-content="Stencila version">
						<i class="ui tag icon"></i>
						{{ build.version }}
					</span>
				</div>
			</div>
			<div class="ui extra content">
				<div class="ui left floated">
					{% if build.package == 'docker' %}
						<span class="field" data-content="View on Docker Hub">
							<a class="ui" target="_blank" href="https://hub.docker.com/r/stencila/{{ build.flavour }}/">
								<i class="ui eye icon"></i> View
							</a>
						</span>
					{% elif build.url %}
							<span class="field">
								<a href="{{ build.url }}" download>
									<i class="ui cloud download icon"></i> Download
								</a>
							</span>
					{% endif %}

					{% if build.package != 'web' %}
						<span class="field install" data-content=
							{% if build.package == 'docker' %}
								"docker pull stencila/{{ build.flavour }}:{{ build.version }}"
							{% if build.package == 'node' %}
								"npm install stencila/stencila"
							{% elif build.package == 'py' %}
								"pip install {{ build.url }}"
							{% elif build.package == 'r' %}
								"install.packages('{{ build.url }}', repos=NULL)"
							{% elif build.url %}
								"curl -O {{ build.url }}"
							{% endif %}
							>
							<i class="ui keyboard icon"></i> Install
						</span>
					{% endif %}
				</div>
				<div class="ui right floated">
					<span class="field" data-content="Builder">
						<i class="ui user icon"></i>
						{{ build.user }}
					</span>
					<span class="field" data-content="Build date/time">
						<i class="ui time icon"></i>
						{{ build.datetime|date:'Y-m-d H:i' }}UTC
					</span>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script type="text/javascript">
	$('[data-content]').popup();
	$('.install').popup({
		variation: 'very wide inverted',
		hoverable: 'true'
	});
</script>
{% endblock %}
