<div class="dropdown" id="open_with_dropdown" style="margin-right: 0.5rem;" :class="{'is-active': active}">
    <div class="dropdown-trigger">
        <button id="open_with_dropdown_button" class="button is-outlined" aria-haspopup="true"
                aria-controls="dropdown-menu" @click="toggle()">
                    <span class="icon is-small">
                        <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </span>
            <span>Open With</span>
        </button>
    </div>
    <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a class="dropdown-item" href="https://search.google.com/structured-data/testing-tool/u/0/#url={{ absolute_raw_url }}" target="_blank" rel="noopener">Google Structured Data Testing Tool</a>
        </div>
    </div>
</div>