<div class="dropdown" id="theme_dropdown" style="margin-right: 0.5rem;"
     :class="{'is-active': active}">
    <div class="dropdown-trigger">
        <button id="theme_dropdown_button" class="button is-outlined" aria-haspopup="true"
                aria-controls="dropdown-menu" @click="toggle()">
                    <span class="icon is-small">
                        <i class="fas fa-paint-roller" aria-hidden="true"></i>
                    </span>
            <span>Theme</span>
            <span class="icon is-small">
                <i class="fas fa-chevron-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
            {% for theme in themes %}
                <a class="dropdown-item" @click.prevent="setTheme('{{ theme.theme_id }}')">
                    <span class="icon is-small">
                       <i class="fas" :class="{'fa-fw': currentTheme !== '{{ theme.theme_id }}', 'fa-check': currentTheme === '{{ theme.theme_id }}' }" aria-hidden="true"></i>
                    </span>
                    <span>{{ theme.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>