{% extends 'base.html' %}
{% block title %}Open{% endblock %}
{% block header %}{% include "open/open_header.html" with brand_tagline='/open' navbar_id='navbar_open' display_share=user_owns_conversion %}{% endblock %}
{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <h1 class="title has-text-centered">Stencila /open</h1>
                <h2 class="subtitle is-5 has-text-centered">Generate reproducible articles in formats familiar to
                    managers</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="{{ url_form.url.auto_id }}" class="label">
                        Enter a file URL (.ipynb, .md, Google Doc, .docx)
                        <span class="tooltip-q">?
                            <div class="tooltip">
                                <p class="is-uppercase-heading has-bottom-margin">Supported formats</p>
                                <p><strong>Github (.ipynb, .md, .docx):</strong> https://github.com/stencila/examples/blob/master/rodents/README.md</p>
                                <p><strong>Google Docs:</strong> https://docs.google.com/document/d/[document id]/</p>
                                <p><strong>HackMD:</strong> https://hackmd.io/[document id]/</p>
                                {% comment %}
                                <p><strong>eLife article:</strong> https://elifesciences.org/articles/[article number]/</p>
                                <p><strong>PLoS article:</strong> https://journals.plos.org/[journal]/article?id=[article id]</p>
                                {% endcomment %}
                            </div>
                        </span>
                    </label>
                    <input type="hidden" name="mode" value="url">
                    {% if url_form.non_field_errors %}
                        <ul>
                            {% for error in url_form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="field is-grouped is-marginless">
                        <p class="control is-expanded">
                            <input type="text"
                                   class="input{% if url_form.url.errors %} is-danger{% endif %}"
                                   placeholder="https://"
                                   name="{{ url_form.url.name }}"
                                   id="{{ url_form.url.auto_id }}"
                                   value="{{ url_form.url.value|default:"" }}"
                                   required
                            >
                        </p>
                        <p class="control">
                            <input class="button is-primary" type="submit" value="Open">
                        </p>
                    </div>
                    <p class="help">Examples:
                        <a href="{% url 'open_main_with_url' 'https://github.com/stencila/examples/tree/master/rodents/README.md' %}">Article 1</a> (.md)
                        {% comment %}
                        <a href="#">Article 1</a> (.ipynb),
                        <a href="#">Article 3</a> (Google Doc),
                        <a href="#">Article 4</a> (.docx)
                        {% endcomment %}
                    </p>
                    {% if url_form.url.errors %}
                        <div>
                            <p class="help is-danger">
                                {% for error in url_form.url.errors %}
                                    {{ error }}{% if not forloop.first and forloop.last %}<br/>{% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <p class="is-uppercase-heading has-text-centered">&ndash; OR &ndash;</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <form method="post" enctype="multipart/form-data" id="id_file_form">
                    {% csrf_token %}
                    <input type="hidden" name="mode" value="file">

                    {% if url_form.non_field_errors %}
                        <ul>
                            {% for error in file_form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="file is-boxed is-centered">
                        <label class="file-label" for="{{ file_form.file.auto_id }}">
                            <input type="file"
                                   class="file-input{% if file_form.file.errors %} is-danger{% endif %}"
                                   name="{{ file_form.file.name }}"
                                   id="{{ file_form.file.auto_id }}"
                                   value="{{ file_form.file.value|default:"" }}"
                                   required
                            >
                            <span class="button is-outlined is-primary call-to-action">
                                <span class="file-label">Upload file</span>
                            </span>
                        </label>
                    </div>
                    <p class="help has-text-centered">
                        (.docx, .ipynb, .md, .nb.html, .rmd)
                    </p>
                    {% if url_form.url.errors %}
                        <div>
                            <p class="help is-danger">
                                {% for error in file_form.file.errors %}
                                    {{ error }}{% if not forloop.first and forloop.last %}<br/>{% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}
                    <div class="has-text-centered"><a href="#" class="help tooltip-link">How is my data used?
                        <span class="tooltip-q">?
                            <div class="tooltip">
                                <p class="is-uppercase-heading has-bottom-margin">How is my data used?</p>
                                <p>We retain copies of file uploads for 24 hours before they are removed from our servers. Files are only used for testing purposes by Stencila (e.g. debugging and recreating error reports submitted with associated files), or for automatic addition to your Stencila Hub account. Uploaded source files are not shared with any third parties. The converted output in HTML format is retained on our servers, and you can request that this output is removed at any time.</p>
                            </div>
                        </span>
                    </a>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
    {% block open_scripts %}
        <script>
          let fileField = document.getElementById('{{ file_form.file.auto_id }}')
          fileField.onchange = function () {
            if (fileField.files.length === 1) document.getElementById('id_file_form').submit()
          }
        </script>
    {% endblock %}
    {% include "open/open_footer.html" %}
{% endblock %}