{% extends "_header.html" %}
{% block brand_tagline %}
<a href="{% url 'open_main' %}">/open</a>
{% endblock %}
{% block navbar_end %}
    {% if conversion_success %}
       <div class="dropdown" id="theme_dropdown" style="margin-right: 0.5rem;"
             :class="{'is-active': active}">
            <div class="dropdown-trigger">
                <button id="theme_dropdown_button" class="button is-outlined" aria-haspopup="true"
                        aria-controls="dropdown-menu" @click="toggle()">
                    <span class="icon is-small">
                        <i class="fas fa-paint-roller" aria-hidden="true"></i>
                    </span>
                    <span>Theme</span>
                </button>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item" @click="setTheme('stencila')">
                        <span class="icon is-small">
                            <i class="fas" :class="{'fa-fw': currentTheme !== 'stencila', 'fa-check': currentTheme === 'stencila' }" aria-hidden="true"></i>
                        </span>
                        <span>Stencila</span>
                    </a>
                    <a href="#" class="dropdown-item" @click="setTheme('eLife')">
                        <span class="icon is-small">
                            <i class="fas" :class="{'fa-fw': currentTheme !== 'eLife', 'fa-check': currentTheme === 'eLife' }" aria-hidden="true"></i>
                        </span>
                        <span>eLife</span>
                    </a>
                    <a href="#" class="dropdown-item" @click="setTheme('nature')">
                        <span class="icon is-small">
                            <i class="fas" :class="{'fa-fw': currentTheme !== 'nature', 'fa-check': currentTheme === 'nature' }" aria-hidden="true"></i>
                        </span>
                        <span>Nature</span>
                    </a>
                    <a href="#" class="dropdown-item" @click="setTheme('plos')">
                        <span class="icon is-small">
                            <i class="fas" :class="{'fa-fw': currentTheme !== 'plos', 'fa-check': currentTheme === 'plos' }" aria-hidden="true"></i>
                        </span>
                        <span>PLOS</span>
                    </a>
                </div>
            </div>
        </div>
        {% if display_share %}
            <div class="dropdown" id="share_dropdown" style="margin-right: 0.5em" :class="{'is-active': active}">
                <div class="dropdown-trigger">
                    <button class="button is-outlined" aria-haspopup="true" aria-controls="dropdown-menu"
                            @click="toggle()">
                    <span class="icon is-small">
                        <i class="fas fa-share" aria-hidden="true"></i>
                    </span>
                        <span>Share</span>
                    </button>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <h5 class="subtitle is-5">Public Share Link</h5>
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Share URL" readonly="readonly"
                                       value="{{ share_url }}" ref="share-url">
                            </p>
                            <p class="control">
                                <a class="button is-info" href="#" @click="copy()">
                                    <span class="icon is-small">
                                        <i v-if="!postCopy" class="fas fa-copy" aria-hidden="true"></i>
                                        <i v-if="postCopy" class="fas fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span v-if="!postCopy">Copy</span>
                                    <span v-if="postCopy">Copied!</span>
                                </a>
                            </p>
                        </div>
                        <p>This link will expire 24 hours after conversion.</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="dropdown" id="download_dropdown"{% if user.is_anonymous %} style="margin-right: 0.5rem;"{% endif %}
             :class="{'is-active': active}">
            <div class="dropdown-trigger">
                <button id="download_dropdown_button" class="button is-outlined" aria-haspopup="true"
                        aria-controls="dropdown-menu" @click="toggle()">
                    <span class="icon is-small">
                        <i class="fas fa-download" aria-hidden="true"></i>
                    </span>
                    <span>Download</span>
                </button>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% for download_option in download_options %}
                        {% if download_option is None %}
                            <hr class="dropdown-divider">
                        {% else %}
                            <a class="dropdown-item" href="{{ raw_source }}?download={{ download_option.format_id }}">
                                <span class="icon">
                                    <i class="{{ download_option.icon_class }}"></i>
                                </span>
                                <span>{{ download_option.name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.is_anonymous %}
        <div class="buttons">
            <a class="button is-outlined is-primary call-to-action" href="https://stenci.la/#beta-signup">
                Sign up
            </a>
        </div>
    {% endif %}
{% endblock %}