{% extends '_header.html' %}
{% block brand_tagline %}
    <a href="{% url 'open_main' %}">/open</a>
{% endblock %}
{% block navbar_end %}
    {% if conversion_success %}
        {% include 'open/_theme_dropdown.html' %}
        {% if display_share %}
            {% include 'open/_share_dropdown.html' %}
        {% endif %}
        {% include 'open/_open_with_dropdown.html' %}
        {% include 'open/_download_dropdown.html' %}
    {% endif %}
    {% if user.is_anonymous %}
        <div class="buttons">
            <a class="button is-outlined is-primary call-to-action" href="https://stenci.la/#beta-signup">
                Sign up
            </a>
        </div>
    {% endif %}
{% endblock %}