{% load static %}
<footer class="footer open-footer">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <img src="{% static 'img/favicon.png' %}" alt="Stencila" width="112px" height="28px">
                Powered by Stencila <a href="https://github.com/stencila/schema">Schema</a>, <a href="https://github.com/stencila/encoda">Encoda</a>, and <a href="https://github.com/stencila/thema">Thema</a>.
            </div>
        </div>
    </div>
</footer>