{% extends 'open/main.html' %}
{% load static %}
{% block content %}
    {% include "open/_open_mobile_modals.html" %}
    <div id="loading-mask" class="is-hidden">
        <div>
            <i class="fas fa-5x fa-spinner fa-spin"></i>
        </div>
    </div>
    <iframe class="open-embed" id="article_display_{{ public_id }}" src="{{ raw_source }}"></iframe>
    {% include 'open/_output_footer.html' %}
{% endblock %}
{% block open_scripts %}
    <script>
      var CURRENT_THEME = 'stencila'

      if (document.getElementById('open-navbar')) {
        let openModals = new Vue({
          el: '#open-modals',
          data: {
            downloadModalVisible: false,
            themeModalVisible: false,
            shareModalVisible: false,
            moreModalVisible: false,
            currentTheme: CURRENT_THEME,
            postCopy: false
          },
          methods: {
            toggleDownloadModal () {
              this.downloadModalVisible = !this.downloadModalVisible
            },
            toggleThemeModal () {
              this.currentTheme = CURRENT_THEME
              this.themeModalVisible = !this.themeModalVisible
            },
            toggleShareModal () {
              this.postCopy = false
              this.shareModalVisible = !this.shareModalVisible
            },
            toggleMoreModal () {
              this.moreModalVisible = !this.moreModalVisible
            },
            setTheme (themeName) {
              this.currentTheme = themeName
              CURRENT_THEME = themeName
              setTheme(themeName, () => {
                this.toggleThemeModal()
              })
            },
            copy () {
              const shareUrlInput = this.$refs['share-url']
              shareUrlInput.focus()
              shareUrlInput.select()
              document.execCommand('copy')
              this.postCopy = true
            },
            showWarningsModal () {
              this.toggleMoreModal()
              document.getElementById('warnings_modal').classList.add('is-active')
            }
          }
        })
        let openNavbar = new Vue({
          el: '#open-navbar',
          data: {
            isActive: false
          },
          methods: {
            toggleDownloadModal () {
              openModals.toggleDownloadModal()
            },
            toggleThemeModal () {
              openModals.toggleThemeModal()
            },
            toggleShareModal () {
              openModals.toggleShareModal()
            },
            toggleMoreModal () {
              openModals.toggleMoreModal()
            },
            toggle () {
              this.isActive = !this.isActive
            }
          }
        })

        if (document.getElementById('open-navbar-burger')) {
          document.getElementById('open-navbar-burger').addEventListener('click', function () {
            this.classList.toggle('is-active')
            openNavbar.toggle()
          })
        }
      }
      {% if user_owns_conversion %}
        let themeDropdown = null

        const feedbackModal = new Vue(
          {
            el: '#feedback_modal',
            delimiters: ['[[', ']]'],
            data: {
              rating: null,
              submitted: false,
              active: false,
              submitInProgress: false,
              comments: '',
              emailAddress: '',
              submitUrl: '{% url "open_feedback" public_id %}',
              submissionError: null,
              ratingErrors: null,
              emailErrors: null
            },
            methods: {
              showModal () {
                this.active = true
              },
              hideModal () {
                if (this.submitInProgress)
                  return

                this.active = false
              },
              setRating (rating) {
                this.ratingError = null
                this.rating = rating
              },
              send () {
                this.ratingErrors = null
                this.emailErrors = null

                if (this.rating === null) {
                  this.ratingErrors = ['Please select a rating.']
                  return
                }

                this.submissionError = null
                fetch(this.submitUrl, {
                  method: 'POST',
                  headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                    'X-CSRFToken': utils.cookie('csrftoken'),
                  },
                  credentials: 'same-origin',
                  body: new URLSearchParams({
                    rating: this.rating,
                    comments: this.comments,
                    email_address: this.emailAddress
                  })
                }).then(
                  response => {
                    this.submitInProgress = false
                    return response.json()
                  },
                  failureResponse => {
                    this.submitInProgress = false
                    this.submissionError = failureResponse
                  }).then(data => {
                  if (data.success) {
                    this.submitted = true
                  } else {
                    if (data.errors) {
                      this.emailErrors = data.errors.email_address || null
                      this.ratingErrors = data.errors.rating || null
                    } else {
                      this.submissionError = 'An unknown error occurred during send.'
                    }

                    this.submissionError = null
                    this.submitted = false
                  }
                })
              }
            }
          })

        document.getElementById('feedback_button').onclick = function () {
          feedbackModal.showModal()
        }
      {% endif %}

      {% if log_messages %}
        document.getElementById('warnings_button').onclick = function (e) {
          e.preventDefault()
          document.getElementById('warnings_modal').classList.add('is-active')
          return false
        }

        document.getElementById('warnings_modal_close').onclick = function (e) {
          e.preventDefault()
          document.getElementById('warnings_modal').classList.remove('is-active')
          return false
        }
      {% endif %}
      {% if conversion_success %}
        const parentTitleEl = document.querySelector('title')

        const articleDisplay = document.getElementById('article_display_{{ public_id }}')

        function updateParentTitle () {
          let subTitle = articleDisplay.contentDocument.querySelector('title')
          if (subTitle)
            parentTitleEl.textContent = 'Open : Stencila : ' + subTitle.textContent
          articleDisplay.style.height = `${articleDisplay.contentWindow.document.body.scrollHeight}px`
        }

        articleDisplay.addEventListener('load', function () {
          articleDisplay.contentWindow.document.addEventListener('click', documentClick)
          updateParentTitle()
          if (themeDropdown !== null && '{{ current_theme|default:'stencila' }}' !== 'stencila') {
            themeDropdown.setTheme('{{ current_theme|default:'stencila' }}')
          }
        })

        window.addEventListener('resize', function () {
          articleDisplay.style.height = `${articleDisplay.contentWindow.document.body.scrollHeight}px`
        })
      {% endif %}

      let downloadDropdown = null

      if (document.getElementById('download_dropdown')) {
        downloadDropdown = new Vue({
          el: '#download_dropdown',
          data: {
            active: false
          },
          methods: {
            toggle () {
              this.active ? this.hide() : this.show()
            },
            show () {
              this.active = true
            },
            hide () {
              this.active = false
            }
          }
        })
      }

      let shareDropdown = null

      if (document.getElementById('share_dropdown')) {
        shareDropdown = new Vue({
          el: '#share_dropdown',
          data: {
            active: false,
            postCopy: false
          },
          methods: {
            toggle () {
              this.active ? this.hide() : this.show()
            },
            show () {
              this.postCopy = false
              this.active = true
            },
            hide () {
              this.active = false
              this.postCopy = false
            },
            copy () {
              const shareUrlInput = this.$refs['share-url']
              shareUrlInput.focus()
              shareUrlInput.select()
              document.execCommand('copy')
              this.postCopy = true
            }
          }
        })
      }

      function setTheme (themeName, cb) {
        const themeUrl = `https://unpkg.com/@stencila/thema@1.15.1/dist/themes/${themeName}/styles.css`

        const loadingMask = document.getElementById('loading-mask')

        const loadingMaskShowTimeout = setTimeout(() => {
          loadingMask.classList.remove('is-hidden')
        }, 200)

        fetch(themeUrl).then(() => {
          articleDisplay.contentDocument.getElementsByTagName('link')[0].setAttribute('href', themeUrl)
          clearTimeout(loadingMaskShowTimeout)
          loadingMask.classList.add('is-hidden')
        })
        cb()
      }

      if (document.getElementById('theme_dropdown')) {
        themeDropdown = new Vue({
          el: '#theme_dropdown',
          data: {
            active: false,
            currentTheme: CURRENT_THEME
          },
          methods: {
            toggle () {
              this.active ? this.hide() : this.show()
            },
            show () {
              this.currentTheme = CURRENT_THEME
              this.active = true
            },
            hide () {
              this.active = false
            },
            setTheme (themeName) {
              this.currentTheme = themeName
              CURRENT_THEME = themeName
              setTheme(themeName, () => {
                this.hide()
              })
            }
          }
        })
      }

      let moreDropdown = null

      if (document.getElementById('more_dropdown')) {
        moreDropdown = new Vue({
          el: '#more_dropdown',
          data: {
            active: false,

          },
          methods: {
            toggle () {
              this.active ? this.hide() : this.show()
            },
            show () {
              this.active = true
            },
            hide () {
              this.active = false
            },
            showWarningsModal () {
              document.getElementById('warnings_modal').classList.add('is-active')
            }
          }
        })
      }

      function documentClick (e) {
        let target = e.target
        let downloadButton = document.getElementById('download_dropdown_button')
        let shareDropdownEl = document.getElementById('share_dropdown')
        let themeDropdownButton = document.getElementById('theme_dropdown')
        let moreButton = document.getElementById('more_dropdown_button')

        let isInDownloadButton = false
        let isInShareDropdown = false
        let isInThemeButton = false
        let isInMoreButton = false

        while (target) {
          if (target === downloadButton || target === shareDropdownEl || target === themeDropdownButton || target === moreButton) {
            switch (target) {
              case downloadButton:
                isInDownloadButton = true
                break
              case shareDropdownEl:
                isInShareDropdown = true
                break
              case themeDropdownButton:
                isInThemeButton = true
                break
              case moreButton:
                isInMoreButton = true
                break
              default:
                break
            }
          }
          target = target.parentElement
        }

        if (downloadDropdown !== null && !isInDownloadButton)
          downloadDropdown.hide()

        if (shareDropdown !== null && !isInShareDropdown)
          shareDropdown.hide()

        if (themeDropdown !== null && !isInThemeButton)
          themeDropdown.hide()

        if (moreDropdown !== null && !isInMoreButton)
          moreDropdown.hide()
      }

      document.addEventListener('click', documentClick)

      {% if conversion_success %}
        window.addEventListener('load', function () {

          updateParentTitle()
        })
      {% endif %}
    </script>
{% endblock %}