interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://registry-1.docker.io/v2/stencila/executa-midi/manifests/latest
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"stencila/executa-midi","Action":"pull"}]}]}

        '
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
      Www-Authenticate:
      - Bearer realm="https://auth.docker.io/token",service="registry.docker.io",scope="repository:stencila/executa-midi:pull"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - Basic REDACTED
    method: GET
    uri: https://auth.docker.io/token?service=registry.docker.io&scope=repository%3Astencila%2Fexecuta-midi%3Apull
  response:
    body:
      string: '{"token":"REDACTED","expires_in":300,"issued_at":"2020-10-06T01:40:08.182400727Z"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer REDACTED
    method: GET
    uri: https://registry-1.docker.io/v2/stencila/executa-midi/manifests/latest
  response:
    body:
      string: "{\n   \"schemaVersion\": 2,\n   \"mediaType\": \"application/vnd.docker.distribution.manifest.v2+json\"\
        ,\n   \"config\": {\n      \"mediaType\": \"application/vnd.docker.container.image.v1+json\"\
        ,\n      \"size\": 16338,\n      \"digest\": \"sha256:055b14cb9563cb25b87973d81adb23a836769a07062425643e790ab8e2dff5fe\"\
        \n   },\n   \"layers\": [\n      {\n         \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\"\
        ,\n         \"size\": 28261433,\n         \"digest\": \"sha256:3f2411103a12c8e169df7a9ea00ff26ab07501858e3eff315a2e11c219e78ce1\"\
        \n      },\n      {\n         \"mediaType\": \"application/vnd.docker.image.rootfs.diff.tar.gzip\"\
        ,\n         \"size\": 30640,\n         \"digest\": \"sha256:4da04088b2c299c17ae8a78858846c6fd4a6c36717baa816974cc75bef632871\"\
        \n      },\n     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://registry-1.docker.io/v2/stencila/executa-midi/manifests/20201004.1
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"stencila/executa-midi","Action":"pull"}]}]}

        '
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
      Www-Authenticate:
      - Bearer realm="https://auth.docker.io/token",service="registry.docker.io",scope="repository:stencila/executa-midi:pull"
    status:
      code: 401
      message: Unauthorized
[...]
