<div class="field">
  {% if field.label %}
    <label class="label">{{ field.label }}</label>
  {% endif %}

  <div class="control">
    <textarea class="textarea" name="{{ field.name }}" class="form-control" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if style.rows %}rows="{{ style.rows }}"{% endif %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>
  </div>

  {% if field.help_text %}
    <span class="help">{{ field.help_text|safe }}</span>
  {% endif %}
</div>
