{% load static %}
{% comment %}
This template is accessible to anonymous users so should only expose basic information about a node.
It should NOT include details of where and by what app the node was created,
or any of the contents of the node itself.
It is primarily targetted at Google's scraper that
creates previews of pages in Google Docs (see https://github.com/stencila/gsuita/issues/16).
However, humans could also view this content if they click on the link, so
useful links to Stencila Hub to authenticate to view the full article etc might be useful.
{% endcomment %}
<!DOCTYPE html>
<html>

<head>
  <title>{{ node_type }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <style>
    body {
      width: 20em;
      margin: 2em auto;
      font-size: 1.2em;
      font-family: sans;
    }

    a {
      text-decoration: none;
    }

  </style>
</head>

<body>
  {# This may include some preview content (e.g. a thumbnail of the node type) in the future #}
  <a href="{% url 'ui-users-signin' %}?next={{request.path}}">Sign in</a> for more details.
</body>

</html>
