{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% load static %}

{% block main %}
    <section class="section">
        <div class="columns">
            <div class="column is-8 is-offset-2 has-text-centered">
                <img class="error-image" src="{% static 'img/dead-document.svg' %}" alt="Oh no!" width="112px"
                     height="28px">
                <h1 class="title has-margin-top">Oops!</h1>
                <p>Sorry, it looks like we are having issues. 
                   Our team has been notified and rectify it as soon as possible!</p>
                {% if sentry_event_id %}
                  <script>
                    Sentry.showReportDialog({
                      user: {
                        name: '{{ user_name }}',
                        email: '{{ user_email }}'
                      },
                      eventId: '{{ sentry_event_id }}'
                    })
                  </script>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
