{% load static %}

<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <a href="https://stenci.la/">Stencila</a>
                | <a href="{% url 'about' %}">About</a>
                | <a href="{% url 'help' %}">Help</a>
                | <a href="https://policies.stenci.la/privacy">Privacy</a>
                | <a href="https://policies.stenci.la/terms">Terms</a>
                | <a href="{% url 'contact' %}">Contact</a>
                | <a href="{% url 'api-docs' %}">API</a>
                <br />
            </div>
        </div>

        <div class="columns">
            <div class="column has-text-centered">
                © {% now 'Y' %} Stencila Ltd.
            </div>
        </div>
    </div>
</footer>