{% load static avatar_tags %}

<header class="header">
    <nav id="{{ navbar_id|default:'navbar' }}" class="navbar main-navbar is-shadowless is-fixed-top border-bottom-light"
         role="navigation"
         aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item navbar-logo" href="{% url 'home' %}">
                    <img src="{% static 'img/logo-name.svg' %}" alt="Stencila" width="112px" height="28px">
                </a>
                <span class="navbar-item is-brand-tagline is-uppercase-heading"
                      style="margin: 0 0.5em 0 0; padding-left: 0.5em">Beta</span>
            </div>
            <div class="navbar-menu" :class="{ 'is-active':active }">
                <div class="navbar-start is-hidden-mobile">
                </div>
                <div class="navbar-end is-flex align-centre">
                    {% block navbar_end %}
                        {% if user.is_anonymous %}
                            {% url 'user_signin' as user_signin %}
                            {% if request.path != user_signin %}
                                <div class="buttons">
                                    <a class="button is-outlined is-primary call-to-action" href="{% url 'user_signin' %}">Sign
                                        in</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="has-dropdown">
                                <div class="dropdown is-new-menu">
                                    <div class="dropdown-trigger">
                                        <button class="hamburger hamburger--minus" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <header class="is-flex">
                                                <figure class="logo image is-24x24">
                                                    {% avatar user 24 %}
                                                </figure>
                                                <span style="margin: 0 0.5em">{{ user.username }}</span>
                                            </header>
                                            <div class="dropdown-items">
                                                <a class="dropdown-item" href="{% url 'project_list' %}">Projects</a>
                                                <a class="dropdown-item" href="{% url 'account_list' %}">Accounts</a>
                                                {% if user.is_staff %}
                                                    <a class="dropdown-item" href="{% url 'admin:index' %}"
                                                       target="_blank" rel="noopener">Admin site</a>
                                                {% endif %}
                                                <a class="dropdown-item" href="{% url 'user_settings' %}">Settings</a>
                                                <hr class="dropdown-divider">
                                                <a class="dropdown-item" href="{% url 'open_main' %}">Open...</a>
                                                <a class="dropdown-item no-hover" href="{% url 'user_signout' %}">Sign
                                                    out</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </nav>
    {% block after_main_nav %}{% endblock %}
</header>

<script type="text/javascript">
  if (document.getElementById('navbar')) {
    new Vue({
      el: '#navbar',
      data: {
        active: false
      }
    })
  }
</script>
