{% load static avatar_tags %}

<header class="header">
    <nav id="navbar" class="navbar main-navbar is-shadowless is-fixed-top border-bottom-light" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item navbar-logo" href="{% url 'home' %}">
                    <img src="{% static 'img/logo-name.svg' %}" alt="Stencila" width="112px" height="28px">
                    <span style="margin: 0 0.5em; font-size: 1rem; line-height: 1em;">Beta</span>
                </a>
            </div>
            <div class="navbar-menu" :class="{ 'is-active':active }">
                <div class="navbar-start">
                </div>
                <div class="navbar-end is-flex align-centre">
                    {% if user.is_anonymous %}
                    <div class="buttons">
                        <a class="button is-mini is-outlined is-primary is-rounded call-to-action" href="{% url 'user_signin' %}">Sign in</a>
                        <a class="button is-mini is-outlined is-primary is-rounded call-to-action" href="{% url 'user_signup' %}">Sign up</a>
                    </div>
                    {% else %}
                    <div class="has-dropdown">
                        <div class="dropdown is-new-menu">
                            <div class="dropdown-trigger">
                                <button class="hamburger hamburger--minus" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <header class="is-flex">
                                        <figure class="logo image is-24x24">
                                            {% avatar user 24 class="is-rounded" %}
                                        </figure>
                                        <span style="margin: 0 0.5em">{{ user.username }}</span>
                                    </header>
                                    <div class="dropdown-items">

                                        <a class="dropdown-item" href="{% url 'project_list' %}">Projects</a>
                                        <a class="dropdown-item" href="{% url 'account_list' %}">Accounts</a>
                                        {% if user.is_staff %}
                                        <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank" rel="noopener">Admin site</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{% url 'user_settings' %}">Settings</a>
                                        <hr class="dropdown-divider">
                                        <div class="dropdown-item no-hover is-flex">
                                            <a class="button is-mini is-outlined is-primary is-rounded call-to-action" href="{% url 'user_signout' %}">Sign out</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <script type="text/javascript">
                new Vue({
                    el: '#navbar',
                    data: {
                        active: false
                    }
                })
            </script>
        </div>
    </nav>
</header>