{% load static intercom %}

<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock %} : Stencila</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
        {% block styles %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        {% endblock %}
        {% block scripts %}
        {% if SENTRY_JS_URL %}
            <script src="//browser.sentry-cdn.com/4.6.4/bundle.min.js" crossorigin="anonymous"></script>
            <script>
                Sentry.init({ dsn: '{{ SENTRY_JS_URL }}' });
            </script>
        {% endif %}
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/buefy.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ie-detect.js' %}"></script>
        <script>
            Vue.use(Buefy.default)
        </script>
        {% endblock %}
    </head>

    <body class="has-navbar-fixed-top has-navbar-fixed-top-touch">
        <div id="body">
        {% block header %}{% include "_header.html" %}{% endblock %}
        {% block main %}
        <main id="main_section" class="section">
            <div class="container">
                {% include "_messages.html" %}
                {% block content %}{% endblock %}
            </div>
        </main>
        {% endblock %}
        {% block footer %}{% include "_footer.html" %}{% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'js/hamburger.js' %}" defer></script>
        {% if user.is_authenticated and not user.details.auto %}
            {% intercom_tag %}
        {% endif %}
    </body>

</html>