{% load static intercom %}

<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{{ page_title|default:'' }}{% endblock %} : Stencila</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="https://unpkg.com/buefy@0.7.10/dist/buefy.min.css">
            <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-switch@2.0.0/dist/css/bulma-switch.min.css">
            <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        {% endblock %}

        {% block scripts %}
            {% if SENTRY_DSN %}
                <script src="https://browser.sentry-cdn.com/5.15.2/bundle.min.js" integrity="sha384-HA4Glk4hAwUFBIu+OfNR4bvn6vGCxT134gRiQce9rwp2YfxcuHHG8nG7qkooJwFt" crossorigin="anonymous"></script>
                <script>
                    Sentry.init({
                        dsn: '{{ SENTRY_DSN }}',
                        release: 'hub@{{ VERSION }}'
                    });
                </script>
            {% endif %}

            {% if POSTHOG_KEY %}
                <script src="https://t.posthog.com/static/array.js"></script>
                <script>
                    posthog.init('{{ POSTHOG_KEY }}', {
                        api_host: 'https://t.posthog.com',
                        {% if user.is_authenticated %}
                            loaded: function(posthog) {
                                posthog.identify('{{ user.id }}')
                                posthog.people.set({
                                    username: '{{ user.username }}',
                                    email: '{{ user.email }}'
                                });
                            }
                        {% endif %}
                    })
                </script>
            {% endif %}
            
            <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
            <script type="text/javascript" src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
            <script type="text/javascript" src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
            <script type="text/javascript" src="https://unpkg.com/buefy@0.7.10/dist/buefy.min.js"></script>
            <script>
                Vue.use(Buefy.default)
            </script>
        {% endblock %}
    </head>

    <body class="has-navbar-fixed-top has-navbar-fixed-top-touch">
        <div id="body">
        {% block header %}{% include "_header.html" %}{% endblock %}
        {% block main %}
        <main id="main_section" class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-full">
                        {% include "_messages.html" %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
        {% block footer %}{% include "_footer.html" %}{% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'js/hamburger.js' %}" defer></script>
        {% block end_scripts %}{% endblock %}
        {% if user.is_authenticated and not user.details.auto %}
            {% intercom_tag %}
        {% endif %}
    </body>

</html>