{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}:Stencila</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
		{% block styles %}
			<link rel="stylesheet" type="text/css" href="{% static 'stencila.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
		{% endblock %}
		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "_header.html" %}
		{% endblock %}
		<main>
			{% block main %}
			{% endblock %}
		</main>
		{% block footer %}
			{% include "_footer.html" %}
		{% endblock %}
	</body>
</html>
