{% extends 'base.html' %}

{% block styles %}
  {{ block.super }}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

fetch("{% url 'open-start' checkout.key %}", {
  method: 'GET', 
  credentials: 'same-origin'
}).then(() => {
  event({subject: 'open-finished'})
})

function fetch_log() {
  fetch("{% url 'open-log' checkout.key %}", {
    method: 'GET', 
    credentials: 'same-origin',
  }).then(response => {
    response.json().then(messages => {
      event({subject: 'open-log', messages} )
    })
  })
  setTimeout(fetch_log, 2000);
}
window.addEventListener('DOMContentLoaded', fetch_log)

fetch('{{ host.url }}/v1/sessions/stencila/core?ticket=c3po', { // token={{ host_token }}
  method: 'POST',
  credentials: 'include'
}).then(response => {
  if (response.ok) {
    response.json().then(session => {
      event({subject: 'session-started', session })
    })
  } else {
    event({subject: 'session-error', message: response.statusText})
  }
})

function event(detail) {
  window.dispatchEvent(new CustomEvent('log', { detail: detail }))
}

var openFinished = false
var session = null
window.addEventListener('log', event => {
  const detail = event.detail
  let message
  switch (detail.subject) {
    case 'open-log':
      let last = detail.messages.messages.pop()
      if (last) {
        message = last.message
      }
      break;
    case 'open-finished':
      message = 'Finished fetching and converting files'
      openFinished = true
      break;
    case 'session-started':
      session = detail.session.id
      message = 'Session has started:' + session
      break;
    case 'session-error':
      message = 'Error starting session:' + detail.message
      break;
    default:
      message = JSON.stringify(detail)
      console.error(detail)
  }

  if (message) {
    const logEl = document.getElementById('log')
    const itemEl = document.createElement('div')
    itemEl.innerHTML = message
    logEl.appendChild(itemEl)
  }

  if (openFinished && session) {
    const url = "/edit?checkout={{ checkout.key }}&host={{ host.url }}&session=" + session
    window.location = url
  }
})


</script>
{% endblock %}

{% block content %}
<h3>{{ project.address }}</h3>
<div class="columns">
  <div class="column">
    <div id="log"></div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
