{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stencila/stencila.css' %}">
{% endblock %}

{% block main %}
    <div class="app">
        Loading...
    </div>
    <script>
        window.STENCILA_PROJECT = '{{ address }}';
        window.STENCILA_STORAGE = '{{ cluster }}/open/{{ token }}';
        window.STENCILA_HOSTS = '{{ cluster }}/?token={{ token }}';
    </script>

    <script type="text/javascript" src="{% static 'stencila/katex/katex.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/lib/plotly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/lib/substance.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/lib/texture.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/lib/stencila-mini.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/lib/stencila-libcore.xml.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/lib/stencila-libcore.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'stencila/stencila.js' %}"></script>
    <script type="text/javascript" src="{% static 'open-address.js' %}"></script>
{% endblock %}
