{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script>
$(document).ready(function(){
{% for storer in storers.enabled %}
  $("#storer_units_{{ storer.code }}").load("{% url 'storer-project-block' storer.code %}");
{% endfor %}
});
</script>
{% endblock %}

{% block content %}
<h2>Projects</h2>
<table>
  <tbody>
    {% for project in object_list %}
    <tr>
      <td>
        {{ project.address }}
      </td>
      <td>{% if project.stencilaproject %}
        <form style="display: inline;" method="get" action="{% url 'project-files' project.stencilaproject.owner project.stencilaproject.name %}">
          <input type="submit" value="Browse">
        </form>
        {% endif %}
        <form style="display: inline;" method="get" action="{% url 'open' address=project.address %}">
          <input type="submit" value="Open">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Add project</h2>
{% for storer in storers.enabled %}
<div id="storer_units_{{ storer.code }}">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
            Loading {{ storer.unit_name_plural }} from {{ storer.name }} for {% if storer.profile_url %}<a href="{{ storer.profile_url }}">{{ storer.username }}</a>{% else %}{{ storer.username }}{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% if storers.disabled %}
<div class="columns provider">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div>Add an account</div>
        <div class="buttons">
        {% for storer in storers.disabled %}
          <a class="button" title="{{ storer.name }}" href="{% provider_login_url storer.code process='login' %}">
            <span class="icon"><i class="fab fa-{{ storer.code }}"></i></span>
            <span>{{ storer.name }}</span>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
