{% extends 'base.html' %}

{% block scripts %}
{{ block.super }}
<script>
window.addEventListener("DOMContentLoaded", function(event) {
  document.querySelector("input[type=file]").onchange = function () {
    document.getElementById("upload").submit();
  };
});
</script>
{% endblock %}

{% block title %}Upload a project{% endblock %}

{% block content %}
<div class="columns">
  <div class="column">
    <form id="upload" class="ui form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input name="uuid" type="hidden" value="{{ uuid }}" />
    </form>
  </div>
</div>
{% endblock %}
