{% extends 'base.html' %}
{% load static %}

{% block title %}Files in {{ object.name }}{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script>
$(document).ready(function(){
  $("#file_list").load("{% url 'project-files-block' object.owner object.name %}");
});
</script>
{% endblock %}

{% block content %}
<h1>Files in {{ object.name }}</h1>
<div class="columns">
  <div class="column">
    <div id="file_list">Loading...</div>
  </div>
</div>
{% if object.owner == user %}
<form method="POST" action="{% url 'project-files' object.owner.username object.name %}">
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="rename" value="Rename">
</form>
{% endif %}
{% endblock %}
