{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="columns">
  <div class="column">
    {% for project in object_list %}
    <div class="card">
      <div class="card-content">
        {% if project.stencilaproject %}
        <div style="float: right;"><a href="{% url 'project-files' project.stencilaproject.owner project.stencilaproject.name %}">Files</a></div>
        {% endif %}
        <a href="{% url 'open' address=project.address %}" target="_blank">{{ project.address }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
