{% if units %}
<table>
  <tbody>
    {% for u in units %}
    <tr>
      <td class="provider">
        <a href="{{ u.url }}"><span class="icon"><i class="fab fa-{{ storer.code }}"></i></span></a>
        <span>{{ u.name }}</span>
      </td>
      <td>
        <form style="display: inline;" method="POST" action="{% url 'browse' storer.code %}">
          {% csrf_token %}
          {{ u.browse_form }}
          <input type="submit" value="Browse">
        </form>
        <form style="display: inline;" method="POST" action="{% url 'open' storer.code %}">
          {% csrf_token %}
          {{ u.open_form }}
          <input type="submit" value="Open">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
