{% extends 'base.html' %}
{% load static %}

{% block title %}{{ address }}{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script>
$(document).ready(function(){
  {% if ref %}
  $("#refs").load("{% url 'storer-refs-block' address %}");
  {% endif %}
  $("#folders").load("{% url 'storer-folder-block' address %}");
});
</script>
{% endblock %}

{% block content %}
{% if ref %}
<div id="refs" style="float: right;">Loading branches</div>
{% endif %}
<h2>Browsing {{ address }}</h2>
<div id="folders">Loading files</div>
{% endblock %}
