@import "./sources/index.scss";

.project-list--item {
  border-bottom: 1px solid $grey-lightest;
  margin-left: -$gap / 4;
  margin-right: -$gap / 4;

  &:hover,
  &:focus {
    background-color: $white-ter;
  }

  &:first-child {
    margin-top: -($gap / 2);
  }

  &:last-child {
    border-bottom: none;
  }
}

.project-list--item-link {
  display: block;
  padding: ($gap / 2) ($gap / 4);
}

// =============================================================================
// Jobs
// =============================================================================

.job-list {
  list-style-type: none;

  li {
    &:last-of-type .job-list--item {
      border-bottom: 1px solid $grey-lightest;
    }

    &:nth-child(even) .job-list--item {
      background-color: $white-bis;
    }

    &:hover .job-list--item {
      background-color: $white-ter;
    }
  }
}

.job-list--item {
  @extend .transition-colors;
  border-bottom: 1px solid $grey-lightest;
  padding: ($gap / 2) 0;
  position: relative;

  a {
    position: relative;
    z-index: 1;
  }

  code {
    color: $text;
  }
}

.job-list--id,
a.job-list--id {
  color: $grey;
  font-size: 0.825rem;
  letter-spacing: 1px;
  position: static;
  text-transform: uppercase;

  &:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.job-list--meta {
  font-size: 0.75rem;
  text-transform: uppercase;
}
