@import "./sources/index.scss";

@media screen and (min-width: $tablet){
  .project-description {
    padding-right: $gap;
  }
}

.project-list--item {
  border-bottom: 1px solid $grey-lightest;
  margin-left: -$gap / 4;
  margin-right: -$gap / 4;

  &:hover,
  &:focus {
    background-color: $white-ter;
  }

  &:first-child {
    margin-top: -($gap / 2);
  }

  &:last-child {
    border-bottom: none;
  }
}

.project-list--item-link {
  display: block;
  padding: ($gap / 2) ($gap / 4);
}

// =============================================================================
// Jobs
// =============================================================================

.job-list {
  list-style-type: none;

  li {
    &:last-of-type .job-list--item {
      border-bottom: 1px solid $grey-lightest;
    }

    &:nth-child(even) .job-list--item {
      background-color: $white-bis;
    }

    &:hover .job-list--item {
      background-color: $white-ter;
    }
  }
}

.job-list--item {
  @extend .transition-colors;
  border-bottom: 1px solid $grey-lightest;
  padding: 2rem 0;
  position: relative;

  @media screen and (max-width: $tablet){
    .column {
      padding-bottom: $gap / 4;
      padding-top: $gap / 4;

      &:first-child {
        padding-top: $gap / 2;
      }

      &:last-child {
        padding-bottom: $gap / 2;
      }
    }
  }

  a {
    position: relative;
    z-index: 1;
  }

  code {
    color: $text;
  }
}

.job-list--id,
a.job-list--id {
  // @extend .expand-link;
  color: $grey;
  font-size: 0.825rem;
  letter-spacing: 1px;
}

.job-list--meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  text-transform: uppercase;

  & > span {
    &:not(:last-child):after {
      content: '·';
      display: inline-block;
      padding: 0 0.25rem;
      vertical-align: middle;
    }
  }
}

// =============================================================================
// Snapshots
// =============================================================================

.snapshot--preview {
  border-radius: 4px;
  border: 1px solid $grey-lightest;
  box-shadow: 0 0 8px rgba(0,0,0,.035),0 0 40px rgba(0,0,0,.07);
  height: calc(100vh - 6rem);
  width: 100%;
}
