.review-list-item,
.comment-item {
  border: 1px solid $grey-lighter;
  border-radius: 4px;
  padding: $gap / 2;
  margin-top: $gap;
  margin-bottom: $gap;

  &:first-of-type {
    margin-top: 0;
  }
}

.review-list--meta {
  & > span {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    & > span {
      display: inline-block;
    }

    & > span:not(:last-child)::after {
      content: "·";
      margin-left: $gap / 8;
      margin-right: $gap / 8;
    }
  }
}

.comment-item {
  & &,
  & &:first-of-type {
    margin-top: $gap / 2;
    margin-bottom: $gap / 2;
  }

  & &:last-of-type {
    margin-bottom: 0;
  }
}
