{% load socialaccount %}

<style>
	#providers .button {
		width: 75%;
    	min-width: 8em;
    	max-width: 15em;
	}
	#providers .orcid.button {
		background: #a6ce39;
	}
</style>

<div id="providers" class="ui list">
	<div class="ui item">
		<a class="ui orcid button" title="ORCID" href="{% provider_login_url 'orcid' process='login' %}">
			<i class="ui user icon"></i>
			ORCID
		</a>
	</div>
	<div class="ui item">
		<a class="ui github button" title="Github" href="{% provider_login_url 'github' process='login' %}">
			<i class="ui github icon"></i>
			Github
		</a>
	</div>
	<div class="ui item">
		<a class="ui twitter button" title="Twitter" href="{% provider_login_url 'twitter' process='login' %}">
			<i class="ui twitter icon"></i>
			Twitter
		</a>
	</div>
	<div class="ui item">
		<a class="ui facebook button" title="Facebook" href="{% provider_login_url 'facebook' process='login' %}">
			<i class="ui facebook icon"></i>
			Facebook
		</a>
	</div>
	<div class="ui item">
		<a class="ui google plus button" title="Google" href="{% provider_login_url 'google' process='login' %}">
			<i class="ui google icon"></i>
			Google
		</a>
	</div>
	<div class="ui item">
		<a class="ui linkedin button" title="LinkedIn" href="{% provider_login_url 'linkedin' process='login' %}">
			<i class="ui linkedin icon"></i>
			LinkedIn
		</a>
	</div>
</div>
