{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h3 class="title is-3">Hi! 👋 Welcome to Stencila Hub</h3>
    <div class="card has-large-margin-bottom">
        <div class="card-content">
          {% url 'project_create' as project_url %}
          {% include 'users/_dashboard-header.html' with icon="fa-project-diagram" name="Projects" url=project_url buttonName="New Project" %}
          <div class="content">
              {% if project_fetch_result.projects %}
                  <div class="tabs">
                      <ul class="is-marginless">
                          {% for filter_option in filter_options %}
                              <li class="{% if filter_option == project_fetch_result.filter %}is-active{% endif %}">
                                  <a href="{{ request.path }}?filter={{ filter_option.key }}"
                                      title="{{ filter_option.description }}">
                                      {{ filter_option.label }}
                                  </a>
                              </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <small>{{ project_fetch_result.filter.description }}</small>
                  <table class="table is-fullwidth">
                      <thead>
                      <tr>
                          <th>Name</th>
                          <th class="has-text-right">Account</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for project in project_fetch_result.projects %}
                          <tr>
                              <td>
                                  <a href="{% url 'project_overview' project.account.name project.name %}">{{ project.name }}</a>
                              </td>
                              <td class="has-text-right">
                                  {{ project.account.name }}
                              </td>
                          </tr>
                      {% endfor %}
                      {% if project_fetch_result.remaining_results %}
                          <tr>
                              <td colspan="3">
                                  <a href="{% url 'project_list' %}?filter={{ project_fetch_result.filter.key }}">
                                      And {{ project_fetch_result.remaining_results }} more&hellip;
                                  </a>
                              </td>
                          </tr>
                      {% endif %}
                      </tbody>
                  </table>
              {% else %}
                  <p>
                      You have no Projects in your accounts set up yet.
                  </p>
                  <p>A Project is a collection of files that can be published as executable Reproducible Documents.
                      Once a Project is created you can assign users and teams to collaborate on it.
                  </p>
              {% endif %}
          </div>
      </div>
    </div>
{% endblock %}
