{% extends 'base.html' %}

{% block main %}
<div id="panel" class="ui raised padded center aligned compact centered segment">
	<form class="ui form" method="post" action="/me/signout">
		{% csrf_token %}
		<p>Are you sure you want to sign out?</p>
		{% if user.details.guest %}
			<div style="max-width: 30em" class="ui orange icon message">
				<i class="ui warning icon"></i>
				<div class="ui content">
					You are currently a guest user with no
					password or password recovery email address. If you logout you will not
					be able to log back in and recover any of your work.
					To keep your stuff please <a href="/me/join">join up</a>.
				</div>
			</div>
		{% endif %}
		<button class="ui positive icon button" type="submit">
			<i class="ui sign out icon"></i>
			Yes, sign me out!
		</button>
	</form>
</div>
{% endblock %}
