{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">
{% endblock %}

{% block main %}
<div class="centered grid user-signup">
	<div class="cell-1-2 user-signup-block">
		<h3>Sign up using...</h3>
		<div class="grid">
			<a class="cell-1-1 button primary" title="Github" href="{% provider_login_url 'github' process='login' %}"><i class="icon-github"></i>Github</a>
			<a class="cell-1-1 button primary" title="Twitter" href="{% provider_login_url 'twitter' process='login' %}"><i class="icon-twitter"></i>Twitter</a>
			<a class="cell-1-1 button primary" title="Facebook" href="{% provider_login_url 'facebook' process='login' %}"><i class="icon-facebook"></i>Facebook</a>
			<a class="cell-1-1 button primary" title="Google" href="{% provider_login_url 'google' process='login' %}"><i class="icon-google"></i>Google</a>
			<a class="cell-1-1 button primary" title="LinkedIn" href="{% provider_login_url 'linkedin' process='login' %}"><i class="icon-linkedin"></i>LinkedIn</a>
		</div>
	</div>
	<div class="cell-1-2 user-signup-block">
		<h3>..., or create a Stencila username</h3>
		<form method="post" action="{% url 'users:signup' %}">
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<button class="ok" type="submit">{% trans "Sign me up!" %}</button>
		</form>
	</div>
</div>
{% endblock %}


