{% extends 'base.html' %}

{% load account %}
{% load socialaccount %}
{% load semanticui %}

{% block main %}
<div class="ui ten column centered stackable grid">
	<div class="ui five wide center aligned column">
		<h3> Sign in using...</h3>
		{% include 'users/_allauth_providers.html' %}
		<p class="ui warning message">
			<i class="ui warning icon"></i>
			If you have signed in with one of these third party accounts before please use the same account, or an account which you have connected to your Stencila user account.
		</p>
	</div>
	<div class="ui five wide center aligned column">
		<h3>Sign in with your Stencila username</h3>
		<form class="ui form" method="post" action="/me/signin">
			{% csrf_token %}
			{{ form|semanticui }}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<button class="ui positive button" type="submit">Sign me in!</button>
		</form>
		<p class="ui warning message">
			<a href="{% url 'account_reset_password' %}">Forgot your password?</a>
			<br/>
			<a href="{{ signup_url }}">Don't have a user account yet?</a>
		</p>
	</div>
</div>
{% endblock %}
