{% extends 'base.html' %}

{% load socialaccount %}
{% load i18n %}
{% load semanticui %}

{% block main %}
<div class="ui ten column centered stackable grid">
	<div class="ui five wide center aligned column">
		<h3>Sign up using...</h3>
		{% include 'users/_allauth_providers.html' %}
	</div>
	<div class="ui five wide center aligned column">
		<h3>Sign up with a new username</h3>
		<form class="ui form" method="post" action="/me/signup">
			{% csrf_token %}
			{{ form|semanticui }}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<button class="ui positive button" type="submit">{% trans "Sign me up!" %}</button>
		</form>
	</div>
</div>
{% endblock %}


