{% load i18n static %}

<h2 class="title">
  <img alt="Google Drive"
       src="{% static 'img/google-drive-logo.png' %}"
       role="presentation"
       width="200px" />
</h2>
<p class="subtitle is-6">
  A Google Drive source lets you pull files from your Google Drive into your project
  so that you can convert files to other formats (e.g. a Word document), use them in
  compute sessions (e.g. CSV files) or publish in a snapshot.
</p>


<fieldset class="mb-4">
  {% include "./_create_googledrive_picker.html" with field=serializer.google_id target="#google_id" select_folder=True %}

  {% if access_token %}
  {% include "serializers/_field.html" with field=serializer.kind %}
  {% endif %}
</fieldset>

{% if access_token %}
{% include "./_create_common_fields.html" %}
{% endif %}
