{% load i18n static %}

<h2 class="title">
  <img alt="GitHub"
       src="{% static 'img/github-logo.png' %}"
       role="presentation"
       width="200px" />
</h2>
<p class="subtitle is-6">
  A GitHub source lets you pull all, or part of, a GitHub repository into your project.
  <br><br>
  You can add public repositories as well as private repositories if you have signed in with
  GitHub or connected your GitHub account <a href="{% url 'socialaccount_connections' %}">here</a>.
</p>

<hr>

<fieldset>
  <p class="title is-6">
    Enter the URL of the GitHub repository, optionally including a subpath:
  </p>
  {% include "serializers/_field.html" with field=serializer.url icon="ri-links-line" autofocus=True placeholder="A URL e.g. https://github.com/octocat/hello-worId" %}
</fieldset>

<hr>

<fieldset>
  <p class="title is-6">
    Or, enter the repository name and subpath directly.
  </p>
  <div class="field">
    <label class="label"
           for="repo">Repository</label>
    {% if github_repos %}
    {% include "projects/providers/github/_repo_search.html" %}
    <span class="help">Search GitHub repos you are a member of, or just enter a repository name (e.g. org/name).</span>
    {% else %}
    <div class="control has-icons-left">
      <input class="input"
             name="repo"
             id="repo"
             type="text"
             autofocus=""
             value=""
             placeholder="Repository name e.g. octocat/hello-worId">
      <span class="icon is-left">
        <i class="ri-git-repository-line"></i>
      </span>
    </div>
    <span class="help">A GitHub repository name (e.g. org/name).</span>
    {% endif %}
  </div>
  {% include "serializers/_field.html" with field=serializer.subpath icon="ri-folder-line" %}
</fieldset>

<hr>

{% include "./_create_common_fields.html" %}
