{% load i18n static %}

<h2 class="title">
  <img alt="Google Sheets"
       src="{% static 'img/google-sheets-logo.png' %}"
       role="presentation"
       width="200px" />
</h2>
<p class="subtitle is-6">
  A Google Sheet source lets you pull a Google Sheet into your project so
  that you can convert it to other formats or publish it!
</p>

{% include "./_create_googledrive_picker.html" with target="#doc_id" field=serializer.doc_id button_text="Select a Google Sheet…" mimetypes="application/vnd.google-apps.spreadsheet" %}

{% if access_token %}
{% include "./_create_common_fields.html" %}
{% endif %}
