{% load i18n static %}

<h2 class="title">
  <img alt="Google Docs"
       src="{% static 'img/google-docs-logo.png' %}"
       role="presentation"
       width="200px" />
</h2>
<p class="subtitle is-6">
  A Google Doc source lets you pull a Google Doc into your project so
  that you can convert it to other formats or publish it!
</p>

{% include "./_create_googledrive_picker.html" with target="#doc_id" button_text="Select a Google Doc…" mimetypes="application/vnd.google-apps.document" %}

{% if access_token %}
{% include "serializers/_field.html" with field=serializer.doc_id icon="ri-at-line" autofocus=True %}
{% include "./_create_common_fields.html" %}
{% endif %}
