{% comment %}
A partial for displaying a source (with updating, via polling).

This is a partial mainly because it is self-replacing (see below).

If the source is active then will have `hx-trigger="every 2s"` so that it's status,
results etc get updated. Uses `hx-swap="outerHTML"` so that the trigger
is removed when the source is inactive. Also includes the source as JSON data
in case the enclosing page want to use that data to trigger further events
(e.g. when the source is ended).
{% endcomment %}

{% load i18n humanize stencila %}

<div {% if source.is_active %} hx-trigger="every 2s"
     hx-get="{% url 'api-projects-sources-detail' source.project.id source.id %}"
     hx-template="projects/sources/_retrieve.html" hx-swap="outerHTML" {% endif %}>

  {# Jobs associated with source. Included here because status etc will change when the source is_active #}
  <div class="level">
    <div class="level-left">
      {% with last_pull=source.last_pull %}
      {% if last_pull %}
      {% trans "Latest pull:" %}&nbsp;
      <a href="{% url 'ui-projects-jobs-retrieve' source.project.account.name source.project.name last_pull.id %}">
        {{ last_pull.created|naturaltime }}
        {% include "./_status_type_icon.html" with status=last_pull.status %}
      </a>
      {% endif %}
      {% endwith %}
    </div>
  </div>

  {# List of files pulled from the source #}
  {% with files=source.files.all %}
  {% if files %}
  {% include "../files/_list.html" %}
  {% else %}
  <p>No files have been pulled yet for this source.</p>
  {% endif %}
  {% endwith %}
</div>
