{% comment %}
A partial for displaying a source (with updating, via polling).

This is a partial mainly because it is self-replacing (see below).

If the source is active then will have `hx-trigger="every 2s"` so that it's status,
results etc get updated. Uses `hx-swap="outerHTML"` so that the trigger
is removed when the source is inactive. Also includes the source as JSON data
in case the enclosing page want to use that data to trigger further events
(e.g. when the source is ended).
{% endcomment %}

{% load i18n humanize stencila %}

<div {% if source.is_active %} hx-trigger="every 2s"
     hx-get="{% url 'api-projects-sources-detail' source.project.id source.id %}"
     hx-template="projects/sources/_retrieve.html" hx-swap="outerHTML" {% endif %}>

  {% if source.latest_files %}
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr class="table-header is-sr-only">
        <th>
          {% trans "Source Type" %}
        </th>
        <th>
          {% trans "Source Name" %}
        </th>
      </tr>
    </thead>
    <tbody id="source-list">
      {% for file in source.latest_files %}
      <tr>
        <td class="source-table--file-type pr-0 is-vcentered">
          {% include './_file_type_icon.html' with mimetype=file.mimetype %}
        </td>
        <td class="source-table--file-type pr-0 is-vcentered">
          {{ file }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3 class="title is-4 has-text-grey">
    {% trans 'No files. Source has not been successfully pulled yet?' %}
  </h3>
  {% endif %}

  {{ serializer.data|json_script:"source-data" }}
</div>
