{% load i18n %}

<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button is-small has-text-weight-bold" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>
        <i class="ri-more-2-line"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu has-text-left" role="menu">
    <div class="dropdown-content">
      {% if source.url %}
      <a href="{{ source.url }}" target="_blank" rel="noopener" class="dropdown-item">
        <span class="icon">
          <i class="ri-external-link-line"></i>
        </span>
        <span>{% trans "Open" %}</span>
      </a>
      {% endif %}

      {% if project.role in 'AUTHOR, MANAGER, OWNER' %}
      {% if source.url %}
      <hr class="dropdown-divider">
      {% endif %}

      <a class="dropdown-item" hx-post="{% url 'api-projects-sources-pull' project.id source.id %}" hx-swap="none"
         hx-redirect="CREATED:Location">
        <span class="icon">
          <i class="ri-download-cloud-2-line"></i>
        </span>
        <span>{% trans "Pull" %}</span>
      </a>

      <a class="dropdown-item"
         href="{% url 'ui-projects-sources-rename' project.account.name project.name source.id %}">
        <span class="icon">
          <i class="ri-edit-line"></i>
        </span>
        <span>{% trans "Rename" %}</span>
      </a>

      <a class="dropdown-item"
         href="{% url 'ui-projects-sources-destroy' project.account.name project.name source.id %}">
        <span class="icon">
          <i class="ri-delete-bin-line"></i>
        </span>
        <span>{% trans "Remove" %}</span>
      </a>

      {% endif %}
    </div>
  </div>
</div>
