{% load i18n static %}

<div class="level">
  <div class="level-left">
    {% if sources %}
    <div class="level-item">
      <form class="field">
        <label class="is-sr-only" for="source-filter">
          {% trans "Source filter" %}
        </label>
        <div class="control has-icons-left has-icons-right">
          <input id="source-filter" class="input is-small-mobile" type="text" name="search"
                 placeholder="{% trans "Filter sources by name…" %}" hx-trigger="keyup changed delay:500ms"
                 hx-get="{% url 'api-projects-sources-list' project.id %}"
                 hx-template="projects/sources/_source_list.html" hx-indicator="#source-filter-indicator"
                 hx-target="#source-list">
          <span class="icon is-small is-left">
            <i class="ri-filter-line"></i>
          </span>
          <span id="source-filter-indicator" class="icon is-small is-right htmx-indicator">
            <i class="ri-loader-line"></i>
          </span>
        </div>
      </form>
    </div>
    {% endif %}
  </div>

  <div class="level-right buttons has-flex-justify-content-end-mobile is-flex">
    {% if project.role in 'AUTHOR, MANAGER, OWNER' %}
    {# TODO: Add ability to pull sources in aggregate #}
    <a class="button is-small-mobile is-expanded-mobile" disabled>
      <span class="icon">
        <i class="ri-download-cloud-2-line"></i>
      </span>
      <span>
        {% trans "Pull Sources" %}
      </span>
    </a>
    {% endif %}

    <div class=" is-expanded-mobile">
      {% include '../_new_asset_menu.html' with classes="width-full" %}
    </div>
  </div>
</div>

{% if sources|length == 0 %}

{% include "../_assets_empty_state.html" with asset_type="source" %}

{% else %}
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr class="table-header is-sr-only">
      <th>
        {% trans "Source Type" %}
      </th>
      <th>
        {% trans "Source Address" %}
      </th>
      <th>
        {% trans "Source Path" %}
      </th>
      <th>
        {% trans "Date Updated" %}
      </th>
      <th>
        {% trans "Source Actions" %}
      </th>
    </tr>
  </thead>
  <tbody id="source-list">
    {% include "./_source_list.html" %}
  </tbody>
</table>
{% endif %}
