{% load i18n %}

<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button is-small has-text-weight-bold"
            aria-haspopup="true"
            aria-controls="dropdown-menu">
      <span>
        <i class="ri-more-2-line"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu has-text-left"
       role="menu">
    <div class="dropdown-content">
      {% if source.url %}
      <a href="{{ source.url }}"
         target="_blank"
         rel="noopener"
         class="dropdown-item">
        <span class="icon">
          <i class="ri-external-link-line"></i>
        </span>
        <span>{% trans "Open" %}</span>
      </a>
      {% endif %}

      {% if project.role in 'AUTHOR, MANAGER, OWNER' %}
      {% if source.url %}
      <hr class="dropdown-divider">
      {% endif %}

      <a class="dropdown-item"
         hx-post="{% url 'api-projects-sources-pull' project.id source.id %}"
         hx-swap="none"
         hx-redirect="CREATED:Location">
        <span class="icon">
          <i class="ri-download-cloud-2-line"></i>
        </span>
        <span>{% trans "Pull" %}</span>
      </a>

      <a class="dropdown-item"
         href="{% url 'ui-projects-sources-rename' project.account.name project.name source.id %}">
        <span class="icon">
          <i class="ri-edit-line"></i>
        </span>
        <span>{% trans "Rename" %}</span>
      </a>

      <a class="dropdown-item"
         href="{% url 'ui-projects-sources-destroy' project.account.name project.name source.id %}">
        <span class="icon">
          <i class="ri-delete-bin-line"></i>
        </span>
        <span>{% trans "Remove" %}</span>
      </a>

      <hr class="dropdown-divider">

      <a class="dropdown-item"
         hx-patch="{% url 'api-projects-sources-detail' project.id source.id %}"
         hx-vals='{"order": {{ source.order|default:"0"|add:"1" }} }'
         hx-swap="none"
         hx-redirect="UPDATED:{% url 'ui-projects-sources-list' project.account.name project.name %}">
        <span class="icon">
          <i class="ri-sort-asc"></i>
        </span>
        <span>{% trans "Raise" %}</span>
      </a>

      <a class="dropdown-item"
         {% if source.order > 0 %}
         hx-patch="{% url 'api-projects-sources-detail' project.id source.id %}"
         hx-vals='{"order": {{ source.order|add:"-1" }} }'
         hx-swap="none"
         hx-redirect="UPDATED:{% url 'ui-projects-sources-list' project.account.name project.name %}"
         {% else %}disabled{% endif %}>
        <span class="icon">
          <i class="ri-sort-desc"></i>
        </span>
        <span>{% trans "Lower" %}</span>
      </a>

      {% endif %}
    </div>
  </div>
</div>
