{% load humanize i18n %}

<tr>
  <td class="source-table--file-type pr-0 is-vcentered">
    <span>
      {# TODO: Change icon dependeing on file type #}
      <i title="Disk" class="ri-file-line"></i>
    </span>
  </td>
  <td class="has-text-weight-bold pl-2 is-vcentered">
    <p class="table-icon-label">{{ source.path }}</p>
  </td>
  <td class="is-sr-only-mobile has-text-grey is-vcentered">{{ source.updated|naturaltime }}</td>
  <td class="has-text-right is-vcentered" style="weight: 1em;">
    {% include "./_source_actions_menu.html" %}
  </td>
</tr>
