{% extends 'base_centered.html' %}
{% load i18n %}

{% block title %}{% trans "Remove project source" %}{% endblock %}

{% block layout_content %}
<form hx-delete="{% url 'api-projects-sources-detail' project.id source.id %}"
      hx-redirect="DESTROYED:{% url 'ui-projects-sources-list' account.name project.name %}">

  <h1 class="title is-3">{% trans "Remove project source" %}</h1>

  <p>
    {% blocktrans with source.address as address %}
    Are you sure you want to remove <strong>{{ address }}</strong> as a project source?
    {% endblocktrans %}
  </p>

  <br>

  <div class="buttons">
    <button class="button is-danger is-outlined is-fullwidth-mobile" type="submit">
      <span class="icon">
        <i class="ri-delete-bin-fill"></i>
      </span>
      <span>{% trans "Remove" %}</span>
    </button>
    <a class="button is-outlined is-fullwidth-mobile"
       href="{% url 'ui-projects-sources-list' account.name project.name %}">
      <span class="icon">
        <i class="ri-arrow-go-back-line"></i>
      </span>
      <span>{% trans "Cancel" %}</span>
    </a>
  </div>

</form>
{% endblock %}
