{% extends '../base.html' %}
{% load i18n humanize stencila waffle_tags %}

{% block title %}{{ source.address }} : {{ project.name }} {% endblock %}

{% block projects_content %}

<div class="level">
  <div class="level-left">
    <h1 class="title is-3 mb-0">
      {% include './_source_type_icon.html' with type=source.type_name %}
      {{ source.address }}
    </h1>
  </div>
  {% if project.role in 'AUTHOR, MANAGER, OWNER' %}
  <div class="level-right buttons has-flex-justify-content-end-mobile">
    <a class="button is-small-mobile is-expanded-mobile"
       href="{% url 'api-projects-sources-open' project.id source.id %}" target="_blank" rel="noopener">
      <span class="icon">
        <i class="ri-external-link-line"></i>
      </span>
      <span>{% trans "Open" %}</span>
    </a>

    {# Create a pull job and then redirect to this page (which will now have an active source #}
    <a class="button is-small-mobile is-expanded-mobile" {% if source_active %}disabled{% endif %}
       hx-post="{% url 'api-projects-sources-pull' project.id source.id %}"
       hx-redirect="CREATED:{% url 'ui-projects-sources-retrieve' project.account.name project.name source.address %}"
       hx-swap="none">
      <span class="icon">
        <i class="ri-download-2-line"></i>
      </span>
      <span>{% trans "Pull" %}</span>
    </a>

    <a class="button is-danger is-outlined is-small-mobile is-expanded-mobile"
       href="{% url 'ui-projects-sources-destroy' project.account.name project.name source.id %}">
      <span class="icon">
        <i class="ri-delete-bin-line"></i>
      </span>
      <span>{% trans "Delete" %}</span>
    </a>
  </div>
  {% endif %}
</div>

<form class="form">
  {# If the source is active (e.g. being pulled) then these fields should not be changed #}
  <fieldset {% if source_active %}disabled{% endif %}>
    {% flag 'ui-source-watch' %}
    {# Preliminary implemenentation of a watch / unwatch toggle for testing #}
    {% if not source.subscription %}
    <button class="button is-small-mobile is-expanded-mobile"
            hx-post="{% url 'api-projects-sources-watch' project.id source.id %}" hx-swap="none">
      <span class="icon">
        <i class="ri-eye-2-line"></i>
      </span>
      <span>{% trans "Watch" %}</span>
    </button>
    {% else %}
    <button class="button is-small-mobile is-expanded-mobile"
            hx-post="{% url 'api-projects-sources-unwatch' project.id source.id %}" hx-swap="none">
      <span class="icon">
        <i class="ri-eye-2-fill"></i>
      </span>
      <span>{% trans "Unwatch" %}</span>
    </button>
    {% endif %}
  </fieldset>
  {% endflag %}
</form>

{% include 'projects/sources/_retrieve.html' %}
{% endblock %}
