// Main Stencila style sheet
@charset "utf-8"

////
/// Bulma setup & initial variables.
////
@import '../style/config/_colours.sass'
@import '../style/config/_variables.sass'
@import 'config/variables'
@import 'config/mixins'
@import 'bulma/sass/utilities/initial-variables.sass'
@import 'bulma/sass/utilities/functions.sass'
@import 'bulma/sass/utilities/derived-variables.sass'
@import '../style/config/_colour-maps.sass'
@import 'bulma/bulma.sass'

////
/// Style overrides
////
@import '../style/modifiers/_global-modifiers.sass'
@import '../style/modifiers/_positional.sass'
@import '../style/mixins/_easing.sass'
@import '../style/mixins/_global-mixins.sass'
@import '../style/config/_functions.sass'

$stencila-dropdown-font-weight: $weight-light

/// atoms
@import '../style/imports/_atoms.sass'
@import 'atoms/user-avatar'
@import 'atoms/tooltip'

/// Bulma & plugin overrides
@import 'imports/overrides'

/// Forms
@import 'imports/form'

/// components
@import '../style/imports/_components.sass'

/// Plugins
@import 'hamburgers/_sass/hamburgers/hamburgers.scss'

.error-image
  margin-bottom: 1rem
  width: 150px

.has-text-warning
  color: #FFA800 !important
// Bulma defines this with !important so we must do that too

$header-height: 78px
// This is only currently used in iframe size calc, this size might be implicit
$footer-height: 136px

body, html
  height: 100%

#body
  min-height: 100%
  position: relative

#main_section
  padding-top: 51px
  padding-bottom: $footer-height
  height: 100%

  > .container
    padding-bottom: 35px

.footer
  position: absolute
  bottom: 0
  width: 100%
  padding: 2rem 1.25rem

  .container
    height: 100%

  .column
    padding-bottom: 0

.open-landing-form
  .control
    input,
    .button
      height: 2.75rem

.open-footer
  padding-top: 0

  img
    width: 1rem
    vertical-align: text-bottom
    margin-right: 4px

  a
    font-size: 1rem
    color: rgba(0, 0, 0, 0.5)
    font-weight: 300

    &::after
      content: normal

    &:hover
      color: #333

#file-browser
  table
    i
      color: #7A7A7A

.content-container
  padding: 10px 0

table.is-item-list
  td
    padding: 20px 0
  a
    color: #363636

    &:hover
      color: $primary

.level-list
  .level
    padding: 20px 0
    margin-bottom: 0

    &:not(:last-child)
      border-bottom: 1px solid #dbdbdb

  a
    color: #363636

    &:hover
      color: $primary

    &:not(:last-of-type)
      .level
        border-bottom: 1px solid #dbdbdb

  .icon
    margin-right: 0.5rem

.title.is-underline
  padding-bottom: 2px
  border-bottom: 2px solid #dbdbdb

.input,
.select select
  border-radius: 0

.select
  select
    &.is-borderless-select, &.is-borderless-select:active
      border: none

.select-align
  padding-left: 9px

.title-caption
  text-transform: uppercase
  color: #7a7a7a !important
  font-weight: bold
  line-height: 133%
  font-size: 12px
  margin-bottom: 9px

th.title-caption, td.title-caption
  margin-bottom: auto

td.title-caption
  vertical-align: middle

.is-transparent
  color: rgba(0, 0, 0, 0)

.access-row
  line-height: 36px

  .access-row-icon
    margin-top: 6px

  .role-col
    width: 0.1%
    white-space: nowrap

  .activity-col
    padding-left: 0

  .role-type-col
    width: 14px
    padding-right: 0

a.box:hover .title
  +transition
  color: $primary

.switch[type=checkbox]
  & + label
    font-size: 14px

  &:checked + label::before
    background-color: $primary

.field
  .button
    height: 2.25rem

p
  &.has-top-margin
    margin-top: 24px

  &.has-bottom-margin
    margin-bottom: 12px

h6.has-top-margin
  margin-top: 30px

#editor_container
  width: 100%
  height: 70vh
  margin-bottom: 20px

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.is-uppercase-heading
  +uppercase-heading

.heading-circle
  background-color: rgba(0, 0, 0, 0.1)
  width: 1.5rem
  display: inline-block
  line-height: 1.5rem
  text-align: center
  border-radius: 100%
  height: 1.5rem
  margin-bottom: 1rem
  margin-right: .5rem

#informat-example
  background-color: rgba($success, .16)
  padding: 2px 4px

.open-examples-header
  margin-bottom: 1rem

.open-feature-list
  .columns
    margin-top: 1.5rem
    padding-top: 1.5rem

.open-embed
  width: 100%
  height: calc(100vh - #{$footer-height + $header-height})
  margin-bottom: 128px

  &-preview
    height: calc(30vh)
    margin-bottom: 1rem
    margin-top: 0
    border: solid 1px #dbdbdb

.open-footer
  background-color: transparent
  color: black
  z-index: 6

.conversions-footer
  background-color: transparent
  position: fixed
  bottom: -4px
  z-index: 5
  height: auto
  padding-right: 6em

  +until($desktop)
    position: absolute
    bottom: 30px
    padding-right: 1.25rem

  +until(430px)
    bottom: 64px

  .button.is-borderless
    background-color: transparent

    .is-borderless-text
      text-decoration: underline

.modal-card-title
  i
    font-size: 1.5rem

$share-offset: 80px
$share-width: 450px

#share_dropdown
  .dropdown-content
    width: $share-width
    padding: 20px
    left: -$share-offset

    &:before
      left: ($share-width / 2) + $share-offset


.feedback-rating
  .column
    cursor: pointer

    h6
      padding-top: 10px

    p
      font-style: italic
      font-size: 80%

  .column.selected
    .icon
      color: #2468EF


.is-brand-tagline
  &:after
    background: none

#loading-mask
  top: 0
  z-index: 10000
  position: fixed
  height: 100%
  width: 100%
  background-color: rgba(255, 255, 255, 0.7)
  display: flex
  align-items: center
  justify-content: center

  div
    width: 50%
    text-align: center

#open-navbar
  z-index: 0
  height: 0

  &.is-active
    height: auto

.stacked-item
  margin-bottom: 20px


iframe.published-display
  width: 100%
  height: 100%

.company-logo
  width: 18px
  height: 18px
  display: inline-block
  background-size: contain
  &.logo-elife
    background-image: url("../img/elife-logo.png")
  &.logo-plos
    background-image: url("../img/plos-logo.png")

.item-actions-dropdown
  .grouping-header
    text-align: left
  .indent
    padding-left: 40px
