/* Customisation of the main header menu */
.ui.main.menu {
	box-shadow: 0 1px 3px 0 rgba(34,36,38,.05);
}
.ui.main.menu>.ui.container>.ui.item:first-child {
	padding: 0.5em 0;
}
.ui.main.menu .ui.logo {
	height: 34px;
}
.ui.main.menu .dropdown,
.ui.main.menu #intercom {
	padding: 0 0.2em 0 0.2em;
}
.ui.main.menu .circular.icon {
	background: #78EE1A!important;
}
.ui.main.menu .dropdown .menu > .header.item {
	color: #888!important;
	font-size: 1em!important;
}



.ui.right.menu {
	border: none;
	box-shadow: none;
}
.ui.menu .ui.item:before{
	display: none;
}
.ui.main.menu .user-guest {
	color: #C5C5C5;
}

/* Allow for fixed main header menu */
.main.container {
	margin-top: 50px;
	padding: 1em;
}

/* Adjective for segment which seems to be missing */
.centered.segment {
	margin-left: auto;
	margin-right: auto;
}
