{% extends 'projects/project_base.html' %}
{% block title %}Project {{ project.name }} : Jobs{% endblock %}

{% block project_content %}
    <div class="columns is-centered">
        <div class="column">
          <div class="job-container job-details-container is-flex flex-direction-column border-top-grey-lighter">
              {% include "job_list_job.html" with hideActions=True %}
          </div>

          {% if job.log %}
          <div class="job-details-messages">
            <header class="header">
              <h2 class="is-size-5 has-text-weight-bold leading-1">Log Messages</h2>
            </header>
            {% for log in job.log %}
            <article class="message message-header-body">
              <div class="message-header">
                level: {{log.level}}
              </div>
              <div class="message-body">
                {{log.message}}
              </div>
            </article>
            {% endfor %}
          </div>
          {% endif %}
        </div>
    </div>
{% endblock %}
