{% extends 'projects/project_base.html' %}
{% block title %}Project {{ project.name }} : Jobs{% endblock %}

{% block project_content %}
    <div class="columns is-centered">
        <div class="column">
            <header class="job-header level">
              <form action="" class="job-filter level-left is-full-width">
                {% include '_job_filter.html' with label="Status" options=status_options element="status" default_option="All jobs" selected=status %}
                {% include '_job_filter.html' with label="Trigger" options=method_options element="trigger" default_option="All" selected=method %}
                {% include '_job_filter.html' with label="By" options=by_options element="by" default_option="Everyone" selected=by %}
                {% comment %} <div class="level-item flex-grow flex-start">
                    <div class="field is-full-width">
                        <label class="label is-size-7" for="status">Status</label>
                        <div class="control">
                            <div class="select select-full-width is-info">
                                <select name="status" id="status">
                                  <option>All jobs</option>
                                  {% for name, value in status_options %}
                                    <option value="{{value|lower}}"{% if status == name %} selected{% endif %}>{{name}}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

                {% comment %} <div class="level-item flex-grow flex-start">
                    <div class="field is-full-width">
                        <label class="label is-size-7" for="trigger">Trigger</label>
                        <div class="control">
                            <div class="select select-full-width is-info">
                                <select name="trigger" id="trigger">
                                    <option>All</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

                {% comment %} <div class="level-item flex-grow flex-start">
                    <div class="field is-full-width">
                        <label class="label is-size-7" for="user">By</label>
                        <div class="control">
                            <div class="select select-full-width is-info">
                                <select name="user" id="user">
                                    <option value="everyone">Everyone</option>
                                    <option value="project-members">Project members</option>
                                    <option value="others">Others (Anonymous users)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                <input type="submit" value="filter jobs" class="button is-select is-normal mt-auto">
              </form>
            </header>

            <div class="job-container is-flex flex-direction-column border-top-grey-lighter">
              {% for job in object_list reversed %}
                {% include "job_list_job.html" with isComplete=job.has_ended %}
              {% endfor %}
            </div>

            <footer class="job-footer level is-flex">

                <div class="level-left">
                  {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="button">Previous</a>
                  {% else %}
                    <button class="button" disabled>Previous</button>
                  {% endif %}
                </div>


              <div class="level-right">
                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}" class="button">Next</a>
                {% else %}
                  <button class="button" disabled>Next</button>
                {% endif %}
              </div>
            </footer>
        </div>
    </div>
{% endblock %}
