{% load tz %}
{% load avatar_tags %}


<div class="job has-text-black{% if hideActions %} pointer-events-none{% endif %}" id="job{{job.id}}"{% if not hideActions %} @click.self="navigate()"{% endif %}>
  <delete-confirm-modal
          :delete-modal-visible="deleteModalVisible"
          form-action="{% url 'project_job_list' account.name project.name %}"
          delete-button-label="OK"
          delete-action="cancel"
          @modal-hide="hideDeleteModal()">
      <template slot="hidden">
        <input type="hidden" name="job_id" value="{{job.id}}" />
        <input type="hidden" name="project_id" value="{{project.id}}" />
      </template>
      <template slot="title">Cancel this job?</template>
      <template slot="csrf_token">{% csrf_token %}</template>
      <template slot="body">Are you sure you want to cancel this job?</template>
  </delete-confirm-modal>
  <div class="job-column job-summary pointer-events-none">
    {% if job.status_label %}
    <span class="tag is-uppercase job-tag {{job.colour}}">{{job.status_label|upper}}</span>
    {% endif %}
    <div class="job-icon status is-flex">
      <i data-feather="{{job.icon}}" class="icon flex-shrink-0"></i>
      <span class="text truncate has-text-weight-bold">{{job.method}}</span>
    </div>

  </div>

  <div class="job-column job-details flex-grow is-flex flex-col pointer-events-none">
    <header class="job-details-header flex-wrap is-flex mb-2">

      <span class="job-info job-icon is-flex" title="ID of this job">
          <span class="job-detail">{% if job.id %}#{{job.id}}{% endif %}</span>
      </span>

      <span class="job-info job-icon job-user is-flex" title="User who created this job">
          <figure class="user-avatar job-user-image icon overflow-hidden">
            {% avatar job.creator 16 %}
          </figure>
          <span class="job-detail is-uppercase">{% if job.creator %}{{job.creator.username}}{% else %}Anonymous{% endif %}</span>
      </span>

      {% if job.began %}
      <span class="job-info job-icon is-flex" title="Date/time when this job was created">
          <i data-feather="calendar" class="icon flex-shrink-0"></i>
          {% localtime on %}
          <span class="job-detail is-uppercase">{{job.began|localtime|date:"F n, Y g:i A"}}</span>
          {% endlocaltime %}
      </span>
      {% endif %}

      {% if job.get_runtime %}
      <span class="job-info job-icon is-flex" title="Time taken for this job to run">
          <i data-feather="clock" class="icon flex-shrink-0"></i>
          <span class="job-detail is-lowercase">{{job.get_runtime}}</span>
      </span>
      {% endif %}
    </header>

    <p class="job-details-content is-size-6 content">
    {% for log in job.log reversed %}
      {% if forloop.first %}
        {{log.message|truncatewords_html:15}}
      {% endif %}
    {% endfor %}
    </p>
  </div>

  <div class="job-column job-actions pointer-events-none">
    {% if not hideActions %}
      <a class="button is-small is-outlined has-text-weight-semibold pointer-events-all"
            href="{% url 'project_job_detail' project.account.name project.name job.id %}">
        Details
      </a>
    {% endif %}
    {% if not isComplete and canCancel %}
      <button class="button is-small is-outlined has-text-weight-semibold pointer-events-all" @click.stop="showDeleteModal()">Cancel</button>
    {% endif %}
    <script>
      new Vue({
        el: '#job{{job.id}}',
        data: {
          deleteModalVisible: false
        },
        methods: {
          showDeleteModal () {
            this.deleteModalVisible = true
          },
          hideDeleteModal () {
            this.deleteModalVisible = false
          },
          navigate () {
            window.location.href='{% url 'project_job_detail' project.account.name project.name job.id %}'
          }
        }
      })
    </script>
  </div>
</div>
