{% extends 'base.html' %}
{% block title %}Jobs{% endblock %}

{% block content %}
    <nav class="level">
        <div class="level-left">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'jobs_list' %}">Jobs</a></li>
                </ul>
            </nav>
        </div>
    </nav>

    <hr>

    <div class="columns is-centered">
        <div class="column" style="flex: none; width: 228px">
            <nav class="panel">
                <a href="#" class="panel-block">Files</a>
                <a href="#" class="panel-block">Snapshots</a>
                <a href="#" class="panel-block is-active">Jobs</a>
                <a href="#" class="panel-block">Sharing</a>
                <a href="#" class="panel-block">Settings</a>
            </nav>
        </div>

        <div class="column">
            <header class="job-header level">
              <div class="job-filter level-left is-full-width">
                <div class="level-item flex-grow flex-start">
                    <div class="field is-full-width">
                        <label class="label is-size-7" for="status">Status</label>
                        <div class="control">
                            <div class="select select-full-width is-info">
                                <select id="status">
                                    <option>All jobs</option>
                                    <option>Dispatched</option>
                                    <option value="pending">Pending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-item flex-grow flex-start">
                    <div class="field is-full-width">
                        <label class="label is-size-7" for="trigger">Trigger</label>
                        <div class="control">
                            <div class="select select-full-width is-info">
                                <select id="trigger">
                                    <option>All</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-item flex-grow flex-start">
                    <div class="field is-full-width">
                        <label class="label is-size-7" for="user">By</label>
                        <div class="control">
                            <div class="select select-full-width is-info">
                                <select id="user">
                                    <option>Everyone</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </header>

            <div class="job-container is-flex flex-direction-column border-top-grey-lighter">
              {% include "jobs_list_job.html" with statusLabel="In queue" icon="loader" jobId="50513586" username="crazyfish228" date="May 1, 2019 2:30 AM" time="08:17" log="<b>17th</b> in <b>priority</b> queue<br/><b>28 seconds</b> estimated wait time" jobTag="Session" %}

              {% include "jobs_list_job.html" with statusLabel="Active" isActive=True icon="activity" jobId="18505619" username="beautifulmouse112" date="May 28, 2019 8:20 PM" time="14:55" log="320 messages in log" jobTag="Session" %}

              {% include "jobs_list_job.html" with statusLabel="Success" isComplete=True icon="check-circle" jobId="22514016" username="whiterabbit554" date="October 12, 2017 6:22 PM" time="11:51" log="30274-eLife.rmd to Replication-Study.html" jobTag="Convert" jobHighlight="is-success" %}
            </div>

            <footer class="job-footer level is-flex">
              <div class="level-left">
                <button class="button" disabled>Previous</button>
              </div>
              <div class="level-right">
                <button class="button" disabled>Next</button>
              </div>
            </footer>
        </div>
    </div>
{% endblock %}
