{% extends '../base.html' %}
{% load i18n %}

{% block title %}{{ account.name }} {% trans "Teams" %}{% endblock %}

{% block accounts_content %}
<h1 class="title">{% trans "Teams" %}</h1>

{% if role in "MANAGER,ADMIN" %}
<button class="button is-primary" type="submit">
  <span class="icon">
    <i class="ri-add-fill"></i>
  </span>
  <span>{% trans "Create Team" %}</span>
</button>
{% endif %}

{% for team in teams %}
<a href="{% url 'ui-accounts-teams-update' account.name team.name %}" class="list-menu--item">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon is-medium list-menu--icon">
        <i class="ri-group-line"></i>
      </span>
      <span class="has-text-weight-bold">
        {{ team.name }}
      </span>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}
