interactions:
- request:
    body: "--890b04dbe1fad42d04c60558844c87cd\r\nContent-Disposition: form-data; name=\"\
      login_id\"\r\n\r\nfoo\r\n--890b04dbe1fad42d04c60558844c87cd\r\nContent-Disposition:\
      \ form-data; name=\"login_passwd\"\r\n\r\nbar\r\n--890b04dbe1fad42d04c60558844c87cd\r\
      \nContent-Disposition: form-data; name=\"fname\"; filename=\"upload\"\r\nContent-Type:\
      \ application/octet-stream\r\n\r\n<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\
      <doi_batch version=\"4.4.2\" xmlns=\"http://www.crossref.org/schema/4.4.2\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
      http://www.crossref.org/schema/4.4.2 http://data.crossref.org/schemas/crossref4.4.2.xsd\"\
      \ xmlns:jats=\"http://www.ncbi.nlm.nih.gov/JATS1\">\n  <head>\n    <doi_batch_id>the-unique-batch-id</doi_batch_id>\n\
      \    <timestamp>1605847269472</timestamp>\n    <depositor>\n      <depositor_name>Stencila</depositor_name>\n\
      \      <email_address>doi@hub.stenci.la</email_address>\n    </depositor>\n\
      \    <registrant>Stencila</registrant>\n  </head>\n  <body>\n    <posted_content\
      \ type=\"preprint\">\n      <group_title>Article</group_title>\n      <contributors/>\n\
      \      <titles>\n        <title>Untitled</title>\n      </titles>\n      <posted_date>\n\
      \        <month>11</month>\n        <day>20</day>\n        <year>2020</year>\n\
      \      </posted_date>\n      <doi_data>\n        <doi>10.5555/54321</doi>\n\
      \        <resource>https://example.org</resource>\n      </doi_data>\n    </posted_content>\n\
      \  </body>\n</doi_batch>\n\r\n--890b04dbe1fad42d04c60558844c87cd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=890b04dbe1fad42d04c60558844c87cd
    method: POST
    uri: https://test.crossref.org/servlet/deposit
  response:
    content: "\n\n\n\n\n\n\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\
      \n\"http://www.w3.org/TR/html4/loose.dtd\">\n\n\n\n<html>\n<head>\n    <title>Crossref\
      \ Administration Home Page\n    </title>\n    <link rel=stylesheet href=\"/css/tab.css\"\
      \ title=\"tab css\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\"\
      >\n    <!--[if gt IE 8]><!-->\n    <script src=\"/jquery/supported-browser.umd.min.js\"\
      ></script>\n    <!--<![endif]-->\n</head>\n<body bgcolor=\"#FFFFFF\">\n<table\
      \ border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"200\">\n    <tr>\n\
      \        <td>\n            <a href=\"/servlet/useragent\"><img src=\"https://assets.crossref.org/logo/crossref-logo-landscape-200.png\"\
      \ alt=\"Crossref logo\" border=0 USEMAP=\"#imgmap\"></a>\n            <map name=\"\
      imgmap\">\n                <area shape=RECT COORDS=\"0,0,250,90\" href=\"/servlet/useragent\"\
      >\n            </map>\n        </td>\n    </tr>\n</table>\n<br>\n\n\n<br>\n\
      <font size=+1>\n\nWelcome to Crossref.\n\n</font>\n<br><br>\n\n<div id=\"browser-warning\"\
      ></div>\n<!--[if lt IE 9]>\n    <style type=\"text/css\">\n        #browser-warning\
      \ {\n            display: none;\n            background-color: #fde394;\n  \
      \          padding: 20px;\n            max-width: 950px;\n        }\n      \
      \  #browser-warning td.image {\n        }\n        #browser-warning img {\n\
      \            max-height: 50px;\n        }\n        #browser-warning td.text\
      \ {\n            padding-left: 20px;\n            padding-right: 20px;\n   \
      \         color: #4f5858;\n            font-family: 'Open Sans', sans-serif;\n\
      \            font-weight: bold;\n        }\n        #browser-warning .button\
      \ {\n            background-color: #3eb1c8;\n            padding: 10px;\n  \
      \          text-decoration: none;\n            border-radius: 4px;\n       \
      \     border: 0;\n            color: #fefbef;\n            font-family: 'Open\
      \ Sans', sans-serif;\n            font-weight: bold;\n            line-height:\
      \ 1;\n            white-space: nowrap;\n        }\n    </style>\n<table id=\"\
      browser-warning-banner\">\n        <tr>\n            <td class=\"image\"><img\
      \ src=\"/images/exclamation-triangle.gif\"/></td>\n            <td class=\"\
      text\"><span>Upgrade browser for full Crossref experience. It looks like you\
      \ may be using an outdated web browser. Please update your browser for the best\
      \ possible experience.</span></td>\n            <td><a class=\"button\" href=\"\
      /supported-browsers.html\" target=\"_blank\" rel=\"noopener noreferrer\">Supported\
      \ Browsers</a></td>\n        </tr>\n    </table>\n<![endif]-->\n<br/>\n\n\n\n\
      \n\n\n\n\n\n\n\n\n\n<!-- tabs -->\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"\
      0\"><tr>\n\n<td nowrap width=\"8\" valign=\"top\" class=\"tabSelected\"><img\
      \ src=\"/images/clips/top_left.gif\" width=\"8\" height=\"8\" alt=\"\"></td>\n\
      <td nowrap class=\"tabSelected\"><a href=\"/servlet/useragent\" title=\"\" class=\"\
      tabSelected\">&nbsp;&nbsp;<b>Home</b>&nbsp;&nbsp;</a></td>\n<td nowrap width=\"\
      8\" valign=\"top\" class=\"tabSelected\"><img src=\"/images/clips/top_right.gif\"\
      \ width=\"8\" height=\"8\" alt=\"\"></td>\n\n<td nowrap width=\"8\" valign=\"\
      top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_left.gif\" width=\"\
      8\" height=\"8\" alt=\"\"></td>\n<td nowrap class=\"tabNotAllowed\"><a href=\"\
      javascript:alert('You do not have permissions to access this function.')\" title=\"\
      Users: Not Accessible\" class=\"tabNotAllowed\">&nbsp;&nbsp;Users&nbsp;&nbsp;</a></td>\n\
      <td nowrap width=\"8\" valign=\"top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_right.gif\"\
      \ width=\"8\" height=\"8\" alt=\"\"></td>\n\n<td nowrap width=\"8\" valign=\"\
      top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_left.gif\" width=\"\
      8\" height=\"8\" alt=\"\"></td>\n<td nowrap class=\"tabNotAllowed\"><a href=\"\
      javascript:alert('You do not have permissions to access this function.')\" title=\"\
      Submissions: Not Accessible\" class=\"tabNotAllowed\">&nbsp;&nbsp;Submissions&nbsp;&nbsp;</a></td>\n\
      <td nowrap width=\"8\" valign=\"top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_right.gif\"\
      \ width=\"8\" height=\"8\" alt=\"\"></td>\n\n<td nowrap width=\"8\" valign=\"\
      top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_left.gif\" width=\"\
      8\" height=\"8\" alt=\"\"></td>\n<td nowrap class=\"tabNotAllowed\"><a href=\"\
      javascript:alert('You do not have permissions to access this function.')\" title=\"\
      Queries: Not Accessible\" class=\"tabNotAllowed\">&nbsp;&nbsp;Queries&nbsp;&nbsp;</a></td>\n\
      <td nowrap width=\"8\" valign=\"top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_right.gif\"\
      \ width=\"8\" height=\"8\" alt=\"\"></td>\n\n<td nowrap width=\"8\" valign=\"\
      top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_left.gif\" width=\"\
      8\" height=\"8\" alt=\"\"></td>\n<td nowrap class=\"tabNotAllowed\"><a href=\"\
      javascript:alert('You do not have permissions to access this function.')\" title=\"\
      Reports: Not Accessible\" class=\"tabNotAllowed\">&nbsp;&nbsp;Reports&nbsp;&nbsp;</a></td>\n\
      <td nowrap width=\"8\" valign=\"top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_right.gif\"\
      \ width=\"8\" height=\"8\" alt=\"\"></td>\n\n<td nowrap width=\"8\" valign=\"\
      top\" class=\"tabNotAllowed\"><img src=\"/images/clips/top_left.gif\" width=\"\
      8\" height=\"8\" alt=\"\"></td>\n<td nowrap class=\"tabNotAllowed\"><a href=\"\
      javascript:alert('You do not have permiss[...]
