////
/// Bulma overrides for nav bar.
////
$navbar-height: 4.5625rem
$navbar-item-img-max-height: 100%
$navbar-item-hover-color: $primary
$navbar-item-active-color: $primary
$navbar-item-hover-background-color: $white
