{% load project_permissions %}
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="title is-2">{{ project.get_name }}</p>
        </div>
    </div>
</div>

<div class="tabs is-toggle is-fullwidth">
    <ul>
        {% if tab == "overview" %}
            <li class="is-active">
                <a>
                    {% else %}
            <li>
            <a href="{% url 'project_overview' project.pk %}">
        {% endif %}
        <span class="icon is-small"><i class="fas fa-inbox" aria-hidden="true"></i></span>
        <span>Overview</span>
        </a>
        </li>

        {% if tab == "files" %}
            <li class="is-active">
                <a>
                    {% else %}
            <li>
            <a href="{% url 'project_files' project.pk %}">
        {% endif %}
        <span class="icon is-small"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
        <span>Files</span>
        </a>
        </li>

        {% if tab == "activity" %}
            <li class="is-active">
                <a>
                    {% else %}
            <li>
            <a href="{% url 'project_activity' project.pk %}">
        {% endif %}
        <span class="icon is-small"><i class="fas fa-clock" aria-hidden="true"></i></span>
        <span>Activity</span>
        </a>
        </li>
        {% if project_permissions|project_permissions_contain:'manage' %}
            {% if tab == "sharing" %}
                <li class="is-active">
                    <a>
                        {% else %}
                <li>
                <a href="{% url 'project_sharing' project.pk %}">
            {% endif %}
        <span class="icon is-small"><i class="fas fa-users" aria-hidden="true"></i></span>
        <span>Sharing</span>
        </a>
        </li>
            {% if tab == "settings" %}
                <li class="is-active">
                    <a>
                        {% else %}
                <li>
                <a href="{% url 'project_settings_metadata' project.pk %}">
            {% endif %}
        <span class="icon is-small"><i class="fa fa-cog" aria-hidden="true"></i></span>
        <span>Settings</span>
        </a>
        </li>
        {% endif %}
    </ul>
</div>
