{% if type == 'filesource' %}
    <i class="fa fa-cloud" title="New or uploaded file"></i>
{% elif type == 'githubsource' %}
    <i class="fab fa-github" title="Github"></i>
{% elif type == 'googledocssource' %}
    <i class="fab fa-google" title="Google"></i>
{% elif type == 'dropboxsource' %}
    <i class="fab fa-dropbox" title="Dropbox"></i>
{% elif type == 'urlsource' %}
    <i class="fas fa-globe" title="URL"></i>
{% elif type == 'disk' %}
    <i class="fa fa-hdd" title="Disk"></i>
{% endif %}
