{% extends 'base.html' %}
{% block title %}Acquiring Session{% endblock %}

{% block content %}
    <section class="section has-text-centered" id="session-wait-info">
        <div v-if="status == SESSION_SETUP_STATUS.CHECKING">
            <h2 class="title is-2">Acquiring Session </h2>
            <i class="fas fa-spinner fa-spin fa-5x"></i>
        </div>
        <div v-if="status == SESSION_SETUP_STATUS.REDIRECTING">
            <i class="fas fa-spinner fa-spin fa-5x"></i>
            <h2 class="title is-2">Redirecting</h2>
        </div>
        <div v-if="status == SESSION_SETUP_STATUS.QUEUED">
            <h2 class="title is-2">Waiting to check for available Session</h2>
            <i class="fas fa-spinner fa-spin fa-5x"></i>
            <p v-if="secondsToRecheck > 0">Next check in [[secondsToRecheck]] seconds.</p>
        </div>
        <div v-if="status == SESSION_SETUP_STATUS.CHECKING_QUEUE">
            <h2 class="title is-2">Checking for available Session</h2>
            <i class="fas fa-spinner fa-spin fa-5x"></i>
        </div>
        <div v-if="error" class="alert is-danger">
            <p>[[ error ]]</p>
        </div>

        {% comment %}
        <div v-if="!sessionCanStart &amp;&amp; !sessionCanQueue">
            <h2 class="title is-2">Waiting for Session</h2>
            <p v-if="secondsToRecheck > 0">Next check in [[secondsToRecheck]] seconds.</p>
            <p v-if="secondsToRecheck == 0">Checking for session.</p>
            <small class="small">[[ checkResult ]]</small>
        </div>
        <div v-if="sessionCanStart || sessionCanQueue">
            <h2 class="title is-2" v-if="sessionCanStart">Session Can Start</h2>
            <h2 class="title is-2" v-if="sessionCanQueue">No Session Queued</h2>
            <div v-if="sessionCanQueue">There is no session currently queued, click <em>Start Session</em> to start a
                session.
            </div>
            <div>
                <form method="post" action="{{ session_start_path }}">
                    {% csrf_token %}
                    <button type="submit" class="button is-primary is-large">Start Session</button>
                </form>
            </div>
        </div>
        {% endcomment %}
    </section>
    <script>
      const TIME_BETWEEN_RECHECK_SECONDS = 60
      const SESSION_SETUP_STATUS = {
        CHECKING: 0,
        REDIRECTING: 1,
        QUEUED: 2,
        CHECKING_QUEUE: 3,
        ERROR: 4
      }

      function dataIsSessionRequestResponse (data) {
        return data.hasOwnProperty('invalid_session') || data.hasOwnProperty('start_session')
      }

      function dataIsErrorResponse (data) {
        return data.hasOwnProperty('error')
      }

      function buildDesktopPath (filePath, sessionPath, token) {
        return `/desktop/?path=${filePath}&session=${sessionPath}&token=${token}`
      }

      new Vue({
        el: '#session-wait-info',
        delimiters: ['[[', ']]'],
        data: {
          editPath: '{{ path|escapejs }}',
          relativePath: '{{ relative_path|escapejs }}',
          secondsToRecheck: TIME_BETWEEN_RECHECK_SECONDS,
          status: SESSION_SETUP_STATUS.CHECKING,
          sessionCheckPath: '{{ session_check_path|escapejs }}',
          sessionStartPath: '{{ session_start_path|escapejs }}',
          checkResult: '',
          error: ''
        },
        methods: {
          startSession () {
            fetch(this.sessionStartPath + `?path=${this.relativePath}`, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'X-CSRFToken': utils.cookie('csrftoken'),
              },
              credentials: 'same-origin'
            }).then((response) => {
              return response.json()
            }, () => {
              this.status = SESSION_SETUP_STATUS.ERROR
              this.error = 'Starting the session failed.'
            }).then((data) => {
              if (dataIsErrorResponse(data)) {
                this.error = data.error
                return
              }

              if (dataIsSessionRequestResponse(data)) {
                this.handleSessionCheckResponse(data)
                return
              }

              if (data.location) {
                this.status = SESSION_SETUP_STATUS.REDIRECTING
                window.location = buildDesktopPath(this.editPath, data.location.path, data.location.token)
                return
              }

              this.status = SESSION_SETUP_STATUS.ERROR
            }, (failureReason) => {

            })
          },
          handleSessionCheckResponse (response) {
            if (response.invalid_session) {
              this.status = SESSION_SETUP_STATUS.ERROR
              this.secondsToRecheck = -1
              this.error = 'Invalid session.'
            } else if (response.start_session) {
              this.status = SESSION_SETUP_STATUS.CHECKING
              this.secondsToRecheck = -1
              this.startSession()
            } else {
              this.status = SESSION_SETUP_STATUS.QUEUED
              this.secondsToRecheck = TIME_BETWEEN_RECHECK_SECONDS
              this.timerSetup()
            }
          },
          checkSession () {
            this.status = SESSION_SETUP_STATUS.CHECKING_QUEUE
            fetch(this.sessionCheckPath, {
              credentials: 'same-origin',

            }).then((response) => {
              return response.json()
            }, () => {
              this.status = SESSION_SETUP_STATUS.ERROR
              this.secondsToRecheck = -1
              this.error = 'Checking for session failed.'
            }).then((data) => {
              this.handleSessionCheckResponse(data)
            }, (failureReason) => {
              this.error = `Checking for session failed: ${failureReason}.`
            })
          },
          timerSetup () {
            setTimeout(() => {
              --this.secondsToRecheck
              if (this.secondsToRecheck === 0) {
                this.checkSession()
              } else {
                this.timerSetup()
              }
            }, 1000)
          }
        },
        mounted () {
          this.startSession()
        }
      })
    </script>
{% endblock %}