{% extends 'projects/project_base.html' %}
{% load crispy_forms_tags static escape_extras resource_allowance project_urls account_urls %}
{% block title %}Project {{ project.pk }} : Sharing{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/buefy.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-switch.min.css' %}">
    {{ block.super }}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/buefy.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-resource.min.js' %}"></script>
{% endblock %}
{% block project_content %}
    <div id="project-role">
        <delete-confirm-modal
                form-action="{% project_url 'project_sharing_roles' object %}"
                :delete-modal-visible="deleteModalVisible" z
                delete-action="remove_role"
                delete-id-name="project_agent_role_id"
                :delete-id-value="deleteRoleId"
                delete-button-label="Remove"
                @modal-hide="hideDeleteModal()">
            <template slot="title">Remove project access?</template>
            <template slot="csrf_token">{% csrf_token %}</template>
            <template slot="body">Are you sure you want to remove access to <em>{{ object.name }}</em> from
                <em>[[ agentName]]</em>?
            </template>
        </delete-confirm-modal>
        <h6 class="title is-5">Collaborators</h6>
        <p class="is-uppercase-heading">Who has access</p>
        <table class="table is-fullwidth">
            <tbody>
            {% for project_agent_role in project_agent_roles %}
                <tr class="access-row">
                    <td class="role-type-col has-text-centered">
                        <i class="fas {% if project_agent_role.content_type == user_content_type %}fa-user{% endif %}
                                      {% if project_agent_role.content_type == team_content_type %}fa-users{% endif %}">
                        </i>
                    </td>
                    <td style="width: 50%">
                        {{ project_agent_role.agent_description }}
                    </td>
                    <td class="role-col">
                        {% include "projects/_project_role_select.html" with project_agent_role_id=project_agent_role.id roles=all_roles current_role=project_agent_role.role agent_type=project_agent_role.content_type agent_id=project_agent_role.agent_id %}
                    </td>
                    <td>
                        <transition name="fade">
                            <i class="fas fa-check access-row-icon"
                               v-if="updateCompleted[{{ project_agent_role.pk }}]"
                            ></i>
                        </transition>
                        <i class="fas fa-circle-notch fa-spin access-row-icon"
                           v-if="updateCompleted[{{ project_agent_role.pk }}] !== true"
                           :class="{ 'is-transparent': updateInProgress[{{ project_agent_role.pk }}] !== true }"></i>
                    </td>
                    <td class="has-text-right">
                        {% if project_agent_role.role not in roles or project_agent_role.content_type == user_content_type and project_agent_role.agent_id == request.user.id %}
                            {# show nothing, this is easier than trying to negate the if condition with django template's limited parsing #}
                        {% else %}
                            <a class="access-row-icon"
                               @click.prevent="showDeleteModal({{ project_agent_role.pk }}, '{{ project_agent_role.agent_description|escape_single_quotes }}')"
                               title="Remove access from {{ project_agent_role.agent_description }}"
                            >
                                <i class="fa fa-times"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="is-uppercase-heading has-bottom-margin">Add people</p>
        <form class="field" method="POST" action="{% project_url 'project_sharing_roles' object %}">
            {% csrf_token %}
            <div class="columns">
                <div class="column is-two-thirds">
                    <user-autocomplete @username-selected="usernameSelected"></user-autocomplete>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="role_id">
                                    {% for role in all_roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered">
                    <button class="button is-primary is-full-width" name="action" value="add_user_role" type="submit"
                            :disabled="selectedUsername==''">Add User
                    </button>
                </div>
            </div>
        </form>
        <p class="is-uppercase-heading has-top-margin has-bottom-margin">Add team</p>
        <form class="field" ethod="POST" action="{% project_url 'project_sharing_roles' object %}">
            {% csrf_token %}
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="select is-fullwidth">
                        <select name="team_id" {% if not teams %}disabled="disabled"{% endif %}>
                            {% for team in teams %}
                                <option value="{{ team.pk }}">{{ team }}</option>
                            {% empty %}
                                <option>No teams</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="role_id" {% if not teams %}disabled="disabled"{% endif %}>
                                    {% for role in all_roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered">
                    <button class="button is-primary is-full-width" name="action" value="add_team_role" type="submit"
                            {% if not teams %}disabled="disabled"{% endif %}>
                        Add Team
                    </button>
                </div>
            </div>
        </form>
        <h6 class="title is-5 has-top-margin">Public project</h6>
        <div>
            {% if account|resource_limit_met:'max_private_projects' %}
                This project is publicly visible. Anyone can view it but only collaborators can change it.
                <br>
                Your subscription does not allow private Projects. Please
                <a href="{% account_url 'account_subscriptions_plan_list' object.account %}">add or upgrade your subscription</a> to enable
                private Projects.
            {% else %}
                <div class="field">
                    <input id="id_project_public" type="checkbox" v-model="isPublic" class="switch is-rounded"
                           @change="isPublicChanged()">
                    <label for="id_project_public">
                        <span v-if="isPublic">This project is publicly visible. Anyone can view it but only collaborators can change it.</span>
                        <span v-if="isPublic === false">This project is private. Only collaborators can view or change it.</span>
                    </label>
                </div>
            {% endif %}
            <br>
        </div>
    </div>
    <script src="{% static "js/user-search.js" %}"></script>
    <script src="{% static "js/delete-confirm-modal.js" %}"></script>
    <script>
      new Vue({
        el: '#project-role',
        delimiters: ['[[', ']]'],
        data: {
          agentRoles: JSON.parse("{{ project_agent_role_map|escapejs }}"),
          selectedUsername: '',
          deleteModalVisible: false,
          deleteRoleId: null,
          agentName: '',
          updateInProgress: {},
          updateCompleted: {},
          isPublic: {% if project.public %}true{% else %}false{% endif %}
        },
        methods: {
          roleChanged (projectAgentRoleId) {
            let roleData = new FormData()
            roleData.set('action', 'set_role')
            roleData.set('project_agent_role_id', projectAgentRoleId)
            roleData.set('role_id', this.agentRoles[projectAgentRoleId])

            Vue.set(this.updateInProgress, projectAgentRoleId, true)
            Vue.set(this.updateCompleted, projectAgentRoleId, false)

            fetch(`{% project_url 'project_sharing_roles' object %}`, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'X-CSRFToken': utils.cookie('csrftoken'),
              },
              credentials: 'same-origin',
              body: roleData
            }).then(response => {
              Vue.set(this.updateInProgress, projectAgentRoleId, false)
              return response.json()
            }, failureResponse => {
              alert(failureResponse)
            }).then(() => {
              Vue.set(this.updateCompleted, projectAgentRoleId, true)
              setTimeout(() => {
                Vue.set(this.updateCompleted, projectAgentRoleId, false)
              }, 3000)
            })
          },
          isPublicChanged () {
            let publicSettingData = new FormData()
            publicSettingData.set('action', 'set_public')
            publicSettingData.set('is_public', this.isPublic)

            fetch(`{% project_url 'project_sharing_roles' object %}`, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'X-CSRFToken': utils.cookie('csrftoken'),
              },
              credentials: 'same-origin',
              body: publicSettingData
            }).then(response => {
              return response.json()
            }, failureResponse => {
              alert(failureResponse)
            }).then(responseBody => {
            })
          },
          usernameSelected (username) {
            this.selectedUsername = username
          },
          showDeleteModal (projectAgentRoleId, agentName) {
            this.deleteModalVisible = true
            this.deleteRoleId = projectAgentRoleId
            this.agentName = agentName
          },
          hideDeleteModal () {
            this.deleteModalVisible = false
            this.deleteRoleId = null
            this.agentName = ''
          }
        }
      })
    </script>
{% endblock %}
