{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-5">
                    <strong>{{ projects|length }}</strong> project{{ projects|length|pluralize }}
                </p>
            </div>
            {% comment %}
            <div class="level-item">
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="Search projects">
                </p>
                <p class="control">
                  <button class="button">
                    Search
                  </button>
                </p>
              </div>
            </div>
            {% endcomment %}
        </div>
        <div class="level-right">
            <p class="level-item">
                <a class="button is-success" href="{% url 'project_create' %}">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span>New</span>
                </a>
            </p>
        </div>
    </nav>

    <div class="section">
        {% for project in projects %}
            <div class="level">
                <div class="level-left">
                    <a href="{% url 'checkout_create' %}?project={{ project.id }}" target="_blank" title="Open">
                        <span>{{ project.id }} {{ project.get_name }}</span>
                    </a>
                </div>
                <div class="level-right" style="text-align: right">
                    <a href="{% url 'project_update' project.id %}" title="Settings">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                    </a>
                </div>
            </div>
        {% empty %}
            <div>
                <td colspan="3">No project exist.</td>
            </div>
        {% endfor %}
    </div>

    {% comment %}
    Disabled card-based 'gallery' view

    <div class="columns is-multiline">
        {% for project in projects %}
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ project.get_name }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{% url 'checkout_create' %}?project={{ project.id }}"
                           target="_blank" title="Open">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Open</span>
                        </a>
                        <a class="card-footer-item" href="{% url 'project_update' project.id %}" title="Settings">
                            <span class="icon">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span>Settings</span>
                        </a>
                    </footer>
                </div>
            </div>
        {% empty %}
            <p>No projects yet.</p>
        {% endfor %}
    </div>
    {% endcomment %}

{% endblock %}
