{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li><a href="{% url 'project_read' object.id %}">{{ object.id }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Delete</a></li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete project "{{ object }}"?</p>
        <button class="button is-danger" type="submit">Delete</button>
        <a class="button" href="{% url 'project_read' object.id %}">Cancel</a>
    </form>
{% endblock %}
