{% extends 'base.html' %}
{% load project_permissions %}
{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'account_list' %}">Accounts</a></li>
            <li><a href="{% url 'account_profile' project.account.name %}">{{ project.account.name }}</a></li>
            <li><a href="{% url 'project_overview' project.account.name project.name %}">{{ project.name }}</a></li>
        </ul>
    </nav>
    <hr>
    <div class="columns">
        <div class="column" style="flex: none; width: 190px">
            <nav class="panel">
                <a href="{% url 'project_files' project.account.name project.name %}"
                   class="panel-block{% if project_tab == 'files' %} is-active{% endif %}">
                    Files
                </a>
                <a href="{% url 'project_snapshots' project.account.name project.name %}"
                   class="panel-block{% if project_tab == 'snapshots' %} is-active{% endif %}">
                    Snapshots
                </a>
                {% if project_permissions|project_permissions_contain:'manage' %}
                    <a href="{% url 'project_activity' project.account.name project.name %}"
                       class="panel-block{% if project_tab == 'activity' %} is-active{% endif %}">
                        Activity
                    </a>
                    <a href="{% url 'project_sharing' project.account.name project.name %}"
                       class="panel-block{% if project_tab == 'sharing' %} is-active{% endif %}">
                        Sharing
                    </a>
                    <a href="{% url 'project_settings' project.account.name project.name %}"
                       class="panel-block{% if project_tab == 'settings' %} is-active{% endif %}">
                        Settings
                    </a>
                    <div class="panel-block-secondary{% if project_tab == 'settings' %} is-active{% endif %}">
                        {% if FEATURE_PROJECT_SESSION_SETTINGS %}
                            <a href="{% url 'project_settings_sessions' project.account.name project.name %}"
                               class="panel-block{% if project_subtab == 'sessions' %} is-active{% endif %}">
                                Sessions
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </nav>
        </div>
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <!--h2 class="title">{{ project.name }}</h2-->
                    </div>
                </div>
                <div class="level-right">
                    {% block project_header_right %}{% endblock %}
                </div>
            </div>
            {% block project_content %}{% endblock %}
        </div>
    </div>
{% endblock %}