{% extends 'base.html' %}
{% load humanize %}

{% block title %}Project {{project.pk}}: Files{% endblock %}

{% block content %}
	{% include "projects/_project_header.html" with project=project tab="files" %}

  <a class="button" href="{% url 'filesource_create' project.pk %}">
      Create
  </a>
  <a class="button" href="{% url 'filesource_upload' project.pk %}">
      Upload
  </a>
  {% comment %}
  <div class="dropdown" id="link" @click="active = !active" :class="{ 'is-active':active }">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Link</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="{% url 'project_files_dat' project.pk %}" class="dropdown-item">
          Dat
        </a>
        <a href="{% url 'project_files_dropbox' project.pk %}" class="dropdown-item">
          Dropbox
        </a>
        <a href="{% url 'project_files_github' project.pk %}" class="dropdown-item">
          Github
        </a>
      </div>
    </div>
  </div>
  {% endcomment %}

  <table class="table is-fullwidth">
      <thead>
          <tr>
              <th>Path</th>
              <th>Source</th>
              <th>Type</th>
              <th>Updated</th>
              <th><th>
          </tr>
      </thead>
      <tbody>
          {% for source in project.sources.all %}
          <tr>
              <td>{{ source.path }}</td>                  
              <td>{{ source.type }}</td>
              <td>{{ source.mimetype }}</td>
              <td>{{ source.updated|naturaltime }}</td>
              <td>
                  <a class="icon" href="{% url 'source_update' project.pk source.id %}">
                      <i class="fas fa-cog"></i>
                  </a>
                  <a class="icon has-text-danger" href="{% url 'source_delete' project.pk source.id %}">
                      <i class="fas fa-trash"></i>
                  </a>
              </td>
          </tr>
          {% endfor %}
      <tbody>
  </table>

  <script type="text/javascript">
      new Vue({
        el: '#link',
        data: { active: false }
      })
  </script>
{% endblock %}
