{% extends 'base.html' %}

{% block title %}{{ project.name }} : Overview{% endblock %}

{% block content %}
    {% include "projects/_project_header.html" with project=project tab="overview" %}
    <div class="section">
        <div class="container">
            <p>This project is connected to the account: <strong> {{ project.account.name }}</strong></p>
            <br/>
        </div>
        <div class="columns">
            <div class="column is-9">
                {% if project.description %}
                    <p>{{ project.description }}</p>
                {% else %}
                    <p class="has-text-grey-light">No description yet</p>
                {% endif %}
            </div>
            <div class="column is-2">
                <div class="row">
                    <a class="button is-rounded is-fullwidth is-primary"
                       href="{% url 'checkout_create' %}?project={{ project.id }}" target="_blank" title="Open">
                        <span class="icon is-small">
                          <i class="fa fa-pencil-alt"></i>
                        </span>
                        <span>Open</span>
                    </a>
                </div>
                <div class="row is-top-padding">
                    <a class="button is-rounded is-fullwidth" href="{% url 'project_archive' object.id %}">
                        <span class="icon"><i class="fas fa-download"></i></span>
                        <span>Download</span>
                    </a>
                </div>
                <div class="row is-top-padding">
                    <form method="post" action="{% url "session_start_v1"  project.token cloud_environ %}">
                        <button class="button is-fullwidth" type="submit">
                            <span class="icon is-small"><i class="fas fa-rocket"></i></span>
                            <span>Launch Session</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
