{% extends 'base.html' %}
{% load humanize %}

{% block title %}Project {{project.pk}}: Files{% endblock %}

{% block content %}
	{% include "projects/_project_header.html" with project=project tab="files" %}

  <div class="level">
    <div class="level-right">
      <div class="level-item buttons">
        <a class="button is-primary" href="{% url 'filesource_create' project.pk %}">
            <span class="icon is-small">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </span>
            <span>New</span>
        </a>
        <a class="button is-primary" href="{% url 'filesource_upload' project.pk %}">
            <span class="icon is-small">
              <i class="fas fa-upload" aria-hidden="true"></i>
            </span>
            <span>Upload</span>
        </a>
        <div class="dropdown" id="link" @click="active = !active" :class="{ 'is-active':active }">
          <div class="dropdown-trigger">
            <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
              <span class="icon is-small">
                <i class="fas fa-link" aria-hidden="true"></i>
              </span>
              <span>Link</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="{% url 'dropboxsource_create' project.pk %}" class="dropdown-item">
                <span class="icon is-small">
                  <i class="fab fa-dropbox" aria-hidden="true"></i>
                </span>
                <span>Dropbox</span>
              </a>
              <a href="{% url 'githubsource_create' project.pk %}" class="dropdown-item">
                <span class="icon is-small">
                  <i class="fab fa-github" aria-hidden="true"></i>
                </span>
                <span>Github</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table is-fullwidth">
      <thead>
          <tr>
              <th>Type</th>
              <th>Path</th>
              <th>Source</th>
              <th>Open with...</th>
              <th>Updated</th>
              <th><th>
          </tr>
      </thead>
      <tbody>
          {% for source in project.sources.all %}
          <tr>
              <td>
                {{ source.mimetype }}
              </td>
              
              <td>
                <a href="{% url 'source_open' project.pk source.id %}" target="_blank">{{ source.path }}</a>
              </td>                  
              
              <td>
                {% include 'projects/_source_type_icon.html' with type=source.type %}
              </td>

              <td>
                <div class="select">
                  <select>
                    <option>Code editor</option>
                    <option>Texture+</option>
                  </select>
                </div>
              </td>

              <td>{{ source.updated|naturaltime }}</td>
              
              <td>
                  <a class="icon" href="{% url 'source_update' project.pk source.id %}">
                      <i class="fas fa-cog"></i>
                  </a>
                  <a class="icon has-text-danger" href="{% url 'source_delete' project.pk source.id %}">
                      <i class="fas fa-trash"></i>
                  </a>
              </td>
          </tr>
          {% endfor %}
      <tbody>
  </table>

  <script type="text/javascript">
      new Vue({
        el: '#link',
        data: { active: false }
      })
  </script>
{% endblock %}
