{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block title %}Project {{ project.pk }} : Sharing{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/buefy.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-resource.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/buefy.min.css' %}">
{% endblock %}
{% block content %}
    {% include "projects/_project_header.html" with project=project tab="sharing" %}
    {% crispy form %}

    <section id="project-role">
        <div class="section">
            <form method="POST" action="{% url 'project_sharing_roles' object.id %}">
                {% csrf_token %}
                <div class="columns">
                    <div class="column">
                        <user-autocomplete @username-selected="usernameSelected"></user-autocomplete>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="role_id">
                                        {% for role in all_roles %}
                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <button class="button is-success" name="action" value="add_user_role" type="submit"
                                :disabled="selectedUsername==''">Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Access</th>
            </tr>
            </thead>
            <tbody>
            {% for project_agent_role in project_agent_roles %}
                <tr>
                    <td>{{ project_agent_role.agent_description }}</td>
                    <td>
                        {% if project_agent_role.content_type == user_content_type %}User{% endif %}
                        {% if project_agent_role.content_type == team_content_type %}Team{% endif %}
                    </td>
                    <td>
                        {% include "projects/_project_role_select.html" with project_agent_role_id=project_agent_role.id roles=all_roles current_role=project_agent_role.role agent_type=project_agent_role.content_type agent_id=project_agent_role.agent_id %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <script src="{% static "js/user-search.js" %}"></script>
    <script src="{% static "js/delete-confirm-modal.js" %}"></script>
    <script>
        new Vue({
            el: "#project-role",
            delimiters: ['[[', ']]'],
            data: {
                agentRoles: JSON.parse("{{ project_agent_role_map|escapejs }}"),
                selectedUsername: ''
            },
            methods: {
                roleChanged(projectAgentRoleId) {
                    let roleData = new FormData()
                    roleData.set('action', 'set_role')
                    roleData.set('project_agent_role_id', projectAgentRoleId)
                    roleData.set('role_id', this.agentRoles[projectAgentRoleId])
                    fetch(`{% url 'project_sharing_roles' object.id %}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'X-CSRFToken': utils.cookie('csrftoken'),
                        },
                        credentials: 'same-origin',
                        body: roleData
                    }).then(response => response.json()
                        , failureResponse => {
                            console.log(failureResponse)
                        }).then(responseBody => {
                        let toastClass = responseBody.success ? 'is-success' : 'is-danger'
                        displayToast(responseBody.message, toastClass)
                    })
                },
                usernameSelected(username) {
                    this.selectedUsername = username
                }
            }
        })
    </script>
{% endblock %}
