{% extends 'projects/project_base.html' %}
{% block title %}{{ project.name }} : Overview{% endblock %}

{% block project_content %}
    <div>
        <p>This project is connected to the account:
            <strong>
                <a href="{% url 'account_profile' project.account.name %}">{{ project.account.name }}</a>
            </strong>
        </p>
        <br/>
    </div>
    <div class="columns">
        <div class="column is-three-quarters-desktop">
            {% if project.description %}
                <p>{{ project.description }}</p>
            {% else %}
                <p class="has-text-grey-light">No project description yet</p>
            {% endif %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-12">
            <div id="terminal"
                  style="display: none; width:100%; height:100%; padding: 0.5em; background: black"></div>
        </div>
    </div>
{% endblock %}
