{% extends 'base.html' %}
{% load form_helpers %}

{% block title %}Project{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-three-quarters">
        <h2 class="title">Create a new project</h2>
        <form method="POST" action="{% url 'api-projects-list' %}">
            {% csrf_token %}
            {% render_form project_serializer %}
            {% render_submit icon="fa fa-plus" text="Create" %}
            {% handle_form success_url="/projects/${id}" %}
        </form>
    </div>
</div>
{% endblock %}
