{% extends 'projects/project_base.html' %}
{%  load project_urls %}
{% block title %}Projects{% endblock %}

{% block project_content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li><a href="{% project_url 'project_overview' object %}">{{ object }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Delete</a></li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete project "{{ object }}"?</p>
        <button class="button is-danger" type="submit">Delete</button>
        <a class="button" href="{% project_url 'project_overview' object %}">Cancel</a>
    </form>
{% endblock %}
