{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Project{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vue-resource.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="project-tabs">
        <div class="tabs">
            <ul>
                {% for form in forms %}
                    {% if form.is_base %}
                        <li v-bind:class="{'is-active': tab == '{{ form.id }}'}">
                            <a href="#" @click.prevent="setTab('{{ form.id }}')">{{ form.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% with forms.general as form %}
            <div class="content" v-show="tab == '{{ form.id }}'">
                <form method="POST" action="{% url 'project_general_save' %}" ref="{{ form.id }}"
                      @submit.prevent="submitForm('{{ form.id }}')">
                    {% csrf_token %}
                    <input type="hidden" name="pk" v-model="projectId">
                    {% crispy form.form %}
                    {% include "projects/_project_form_submit.html" with form_id=form.id form_name=form.name %}
                </form>
            </div>
        {% endwith %}

        {% with forms.session_parameters as form %}
            <div class="content" v-show="tab == '{{ form.id }}'">
                <form method="POST" action="{% url 'project_session_parameters_save' %}" ref="{{ form.id }}"
                      @submit.prevent="submitForm('{{ form.id }}')">
                    {% csrf_token %}
                    <input type="hidden" name="pk" v-model="projectId">
                    {% crispy form.form %}
                    <div v-if="systemSessionParams.length" class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p><strong>Preset Session Parameters</strong></p>
                                    <p>You can assign one of the preset Session Parameters, and then change the values
                                        to suit your particular need.</p>
                                    <div class="field is-grouped">
                                        <p v-for="sessionParameters in systemSessionParams" class="control">
                                            <a class="button is-small"
                                               @click="setSystemParameterWithPk(sessionParameters.pk)">
                                                [[ sessionParameters.name ]]
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% include "projects/_project_form_submit.html" with form_id=form.id form_name=form.name %}
                </form>
            </div>
        {% endwith %}

        {% with forms.access as form %}
            <div class="content" v-show="tab == '{{ form.id }}'">
                <form method="POST" action="{% url 'project_access_save' %}" ref="{{ form.id }}"
                      @submit.prevent="submitForm('{{ form.id }}')">
                    <input type="hidden" name="pk" v-model="projectId">
                    {% csrf_token %}
                    {% crispy form.form %}
                    {% include "projects/_project_form_submit.html" with form_id=form.id form_name=form.name %}
                </form>
            </div>
        {% endwith %}

        {% with forms.sessions as form %}
            <div class="content" v-show="tab == '{{ form.id }}'">
                <h4 class="subtitle is-4">Sessions</h4>
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Start Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2">No current sessions
                        <td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endwith %}
    </div>
    <script type="text/javascript">
        (function () {
            const g_systemSessionParams = JSON.parse('{{ system_session_parameters|safe }}')
            const g_projectUpdateUrlFormat = "{% url "project_update" "0" %}"
            const g_data = {
                tab: "general",
                sessionParametersId: "",
                projectId: "{{ project.id|default:"" }}",
                systemSessionParams: g_systemSessionParams,
                spMemory: {{ session_parameters.memory|default:"null" }},
                spCpu: {{ session_parameters.cpu|default:"null" }},
                spNetwork: {{ session_parameters.network|default:"null" }},
                spLifetime: {{ session_parameters.lifetime|default:"null" }},
                spTimeout: {{ session_parameters.timeout|default:"null" }},
                key: "{{ project.key|default:"" }}",
                token: "{{ project.token|default:"" }}",
                previousKey: null,
                generateKey: false,
                formSaving: {},
                formSaveSuccess: {},
                formSaveError: {}
            }

            new Vue({
                el: '#project-tabs',
                delimiters: ['[[', ']]'],
                data: g_data,
                methods: {
                    setTab(tab) {
                        this.tab = tab
                    },
                    setSystemParameterWithPk(pk) {
                        this.applySessionParameters(this.findSystemSessionParameters(pk));
                    },
                    findSystemSessionParameters(parameterId) {
                        for (let i = 0; i < g_systemSessionParams.length; ++i) {
                            if (g_systemSessionParams[i].pk == parameterId)
                                return g_systemSessionParams[i]
                        }

                        return null;
                    },
                    applySessionParameters(sessionParameters) {
                        if (sessionParameters == null) {
                            return
                        }

                        this.spMemory = sessionParameters.memory
                        this.spCpu = sessionParameters.cpu
                        this.spNetwork = sessionParameters.network
                        this.spLifetime = sessionParameters.lifetime
                        this.spTimeout = sessionParameters.timeout
                    },
                    generateKeyChange() {
                        if (this.generateKey) {
                            this.previousKey = this.key
                            this.key = ""
                        } else {
                            this.key = this.previousKey
                        }
                    },
                    updateProjectVariables(projectData) {
                        for (let projectKey in projectData) {
                            if (projectData.hasOwnProperty(projectKey)) {
                                this[projectKey] = projectData[projectKey]

                                if (projectKey === 'key') {
                                    this.generateKey = false
                                    this.previousKey = this['key']
                                }
                            }
                        }
                    },
                    submitForm(formRef) {
                        Vue.set(this.formSaveSuccess, formRef, false)
                        Vue.set(this.formSaveError, formRef, false)
                        let form = this.$refs[formRef]
                        let formData = new FormData(form)
                        Vue.set(this.formSaving, formRef, true)
                        this.$http.post(form.getAttribute('action'), formData).then(
                            response => {
                                Vue.set(this.formSaving, formRef, false)
                                return response.json();
                            },
                            response => {
                                Vue.set(this.formSaving, formRef, false)
                                console.log(response)
                            }
                        ).then(data => {
                            if (data.success ) {
                                let oldIdSet = this.projectId !== ""

                                this.projectId = data['project_id']
                                if (!oldIdSet) {
                                    let projectUpdateUrl = g_projectUpdateUrlFormat.replace("0", this.projectId)
                                    window.history.pushState(this.projectId, "Stencila: Project", projectUpdateUrl)
                                }

                                Vue.set(this.formSaveSuccess, formRef, true)

                                if(typeof data.project !== "undefined") {
                                    this.updateProjectVariables(data.project)
                                }

                                setTimeout(() => {
                                    Vue.set(this.formSaveSuccess, formRef, false)
                                    this.$forceUpdate()
                                }, 3000);
                            } else {
                                this.formSaveError[formRef] = true
                            }

                            let dynamicErrors = form.getElementsByClassName('dynamic-error')

                            for (let errorIndex = 0; errorIndex < dynamicErrors.length; ++errorIndex) {
                                let dynamicError = dynamicErrors[errorIndex]
                                dynamicError.parentNode.removeChild(dynamicError)
                            }

                            for (let errorKey in data.errors) {
                                if (!data.errors.hasOwnProperty(errorKey)) {
                                    continue
                                }

                                let fieldErrors = data.errors[errorKey]

                                let fieldContainer = document.getElementById('div_id_' + errorKey)

                                if (fieldContainer == null) {
                                    continue
                                }

                                let errorContainer = document.createElement('div')
                                errorContainer.classList.add('dynamic-error')
                                let inputElement = fieldContainer.getElementsByTagName('input')[0]
                                let inputNextSibling = inputElement.nextSibling

                                if (inputNextSibling == null) {
                                    fieldContainer.appendChild(errorContainer)
                                } else {
                                    fieldContainer.insertBefore(errorContainer, inputNextSibling)
                                }

                                let messageHtml = ''

                                for(let messageIndex = 0; messageIndex < fieldErrors.length; ++messageIndex) {
                                    let errorData =  fieldErrors[messageIndex]
                                    let messageText = errorData['message']
                                    messageHtml += '<p class="help is-danger">' + messageText + '</p>'
                                }

                                errorContainer.innerHTML = messageHtml
                            }
                        })
                    }
                }
            })
        })();
    </script>
    {% if project.id %}
    <a class="button is-danger" href="{% url 'project_delete' project.id %}" title="Delete">
        <span>Delete</span>
    </a>
    {% endif %}
{% endblock %}