{% extends 'projects/project_base.html' %}
{% load form_helpers project_permissions %}

{% block title %}Project {{ project.name }} : Settings{% endblock %}

{% block project_content %}

    <section class="mb-12">
        <h2 class="title is-4">Identity</h2>
        <h3 class="subtitle is-5">Settings for your project's profile.</h3>
        <p class="mb-4">
            This project's unique, permananent id is <span class="tag">{{ project.pk }}</span>.
            Use it to access this project via the HTTP <a href="{% url 'api-docs' %}">API</a>.
        </p>
        <form method="PATCH" action="{% url 'api-projects-detail' pk=project.pk %}">
            {% csrf_token %}
            {% render_field project_serializer.name %}
            {% render_field project_serializer.description %}
            {% render_submit icon="fa fa-sync" text="Update" %}
            {% handle_form is_update=True %}
        </form>
    </section>

    <section class="mb-12">
        <h2 class="title is-4">Content</h2>
        <h3 class="subtitle is-5">Settings affecting how content is served for your project.</h3>
        <form method="PATCH" action="{% url 'api-projects-detail' pk=project.pk %}">
            {% csrf_token %}
            {% render_field project_serializer.theme %}
            {% render_submit icon="fa fa-sync" text="Update" %}
            {% handle_form is_update=True %}
        </form>
    </section>

    {% if project_permissions|project_permissions_contain:'own' %}
        <section class="">
            <h2 class="title is-4">Destroy</h2>
            <h3 class="subtitle is-5">Delete this project. Forever.</h3>
            <form method="DELETE" action="{% url 'api-projects-detail' pk=project.pk %}">
                {% csrf_token %}
                {% render_form project_destroy_serializer %}
                {% render_submit classes="is-danger" icon="fa fa-trash" text="Destroy" %}
                {# On success, go to home, since project no longer exists #}
                {% handle_form success_url="/" %}
            </form>
        </section>
    {% endif %}

{% endblock %}
