{% extends 'projects/project_base.html' %}
{% load project_urls %}
{% block title %}Project {{ project.pk }} : Published Content{% endblock %}
{% block project_content %}
    <iframe class="published-display" src="{% project_url 'project_published_content_view' project slug %}"></iframe>
    <div class="has-text-right">
        <a href="{% project_url 'project_published_content_view' project slug %}" target="_blank" rel="noopener"
           class="button is-primary">
            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
            <span>Open In New Tab</span>
        </a>
    </div>
{% endblock %}