{% extends 'projects/project_base.html' %}
{% block title %}Project {{ project.pk }} : Published Content{% endblock %}
{% block project_content %}
    <iframe class="published-display" src="{% url 'project_published_content' project.account.name project.name path %}"></iframe>
    <div class="has-text-right">
        <a href="{% url 'project_published_content' project.account.name project.name path %}" target="_blank" rel="noopener"
           class="button is-primary">
            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
            <span>Open In New Tab</span>
        </a>
    </div>
{% endblock %}