{% extends 'base.html' %}

{% block title %}Session Parameter Objects{% endblock %}

{% block content %}
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-5">
                    <strong>{{ object_list|length }}</strong> Session Parameter Object{{ object_list|length|pluralize }}
                </p>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item">
                <a class="button is-success" href="{% url 'sessionparameters_create' %}">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span>New</span>
                </a>
            </p>
        </div>
    </nav>

    {% if object_list %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            {% for session_parameters_object in object_list %}
                <tr>
                    <td>{{ session_parameters_object.pk }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}