{% extends 'base.html' %}
{% load static %}
{% block title %}Edit {{ file_path }}{% endblock %}

{% block content %}
    <form method="post" onsubmit="return sourceEditSubmit();">
        {% csrf_token %}
        <textarea id="file_content" name="file_content" style="display: none;">{{ file_content }}</textarea>
        <div id="editor_container" style="width: 100%; height: 60vh;"></div>
        <input type="submit" class="button is-success" value="Save">
    </form>
    <script src="{% static 'js/monaco-editor/min/vs/loader.js' %}"></script>
    <script>

        var editor;
        require.config({paths: {'vs': '{% static 'js/monaco-editor/min/vs' %}'}});
        let editorTextArea = document.getElementById('file_content');
        require(['vs/editor/editor.main'], function () {
            editor = monaco.editor.create(document.getElementById('editor_container'), {
                language: editorLanguageFromExtension('{{ file_extension }}')
            });
            editor.setValue(editorTextArea.value);
        });
        function editorLanguageFromExtension(extension) {
            var languages = monaco.languages.getLanguages();
            var languagesCount = languages.length;
            for(var i = 0; i < languagesCount; ++i) {
                var languageInfo = languages[i];
                if(languageInfo.extensions.indexOf(extension) !== -1)
                    return languageInfo.id;
            }

            return null;
        }

        function sourceEditSubmit() {
            editorTextArea.value = editor.getValue();
            return true;
        }
    </script>
{% endblock %}
