{% extends 'base.html' %}
{% load static %}
{% block title %}{% if file_editable %}Editing{% else %}Viewing{% endif %} {{ file_path }}{% endblock %}

{% block content %}
    <h2 class="title is-2">{{ project.name }}</h2>
    <h5 class="subtitle is-5">{{ file_path }}</h5>
    {% if not file_editable %}
        <article class="message is-warning">
            <div class="message-header">
                <p>Content not editable</p>
            </div>
            <div class="message-body">
                {% if snapshot %}
                    This file is not editable as it is part of a snapshot.
                {% else %}
                    {% if source.type_name == 'Url' %}
                        This file is not editable as saving changes back to URLs is not supported.
                    {% else %}
                     This file is not editable because you do not have a {{ source.provider_name }} account connected. Add
                        one on the <a href="{% url 'socialaccount_connections' %}">Account Connections Page</a>.
                    {% endif %}
                {% endif %}
            </div>
        </article>
    {% endif %}
    <form method="post" onsubmit="return sourceEditSubmit();">
        {% csrf_token %}
        <textarea id="file_content" name="file_content" class="is-hidden">{{ file_content }}</textarea>
        <div id="editor_container"></div>
        {% if file_editable and has_edit_permission %}
            {% if supports_commit_message %}
                <div class="field">
                    <div class="control">
                        <label class="label" for="id_commit_message">Commit Message (Optional)</label>
                        <input type="text" class="input" placeholder="{{ default_commit_message }}"
                               id="id_commit_message"
                               name="commit_message" value="{{ commit_message }}">
                    </div>
                </div>
            {% endif %}
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Save">
                </div>
                <div class="control">
                    <a href="{% if file_directory %}{% url 'project_files_path' project.account.name project.name file_directory %}{% else %}{% url 'project_files' project.account.name project.name %}{% endif %}"
                       class="button"
                    >Cancel</a>
                </div>
            </div>
        {% endif %}
    </form>
    <script src="https://unpkg.com/monaco-editor@0.20.0/min/vs/loader.js"></script>
    <script>
      var editor
      require.config({paths: {'vs': 'https://unpkg.com/monaco-editor@0.20.0/min/vs/'}})
      let editorTextArea = document.getElementById('file_content')
      require(['vs/editor/editor.main'], function () {
        editor = monaco.editor.create(document.getElementById('editor_container'), {
          language: editorLanguageFromExtension('{{ file_extension }}'),
          readOnly: {% if file_editable and has_edit_permission %}false{% else %}true{% endif %}
        })
        editor.setValue(editorTextArea.value)
      })

      function editorLanguageFromExtension (extension) {
        var languages = monaco.languages.getLanguages()
        var languagesCount = languages.length
        for (var i = 0; i < languagesCount; ++i) {
          var languageInfo = languages[i]
          if (languageInfo.extensions.indexOf(extension) !== -1)
            return languageInfo.id
        }

        return null
      }

      function sourceEditSubmit () {
        editorTextArea.value = editor.getValue()
        return true
      }
    </script>
{% endblock %}
