{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-three-quarters">
        <h2 class="title">Create a new account</h2>
        <p> You can have multiple accounts. When creating an account you will automatically be added as its Administrator. You can
          give other users access to the account in the account settings. Please note that account names must be unique throughout the whole Stencila Hub. </p>
        <br>
        {% crispy form %}
    </div>
</div>
{% endblock %}
