{% extends 'accounts/account_base.html' %}
{% load static %}
{% block title %}Organisation {{ account.name }} : Members{% endblock %}
{% block account_content %}
    <section id="account-access" class="column">
        <delete-confirm-modal
                :delete-modal-visible="deleteModalVisible"
                delete-action="delete_access"
                delete-id-name="user_role_id"
                :delete-id-value="deleteRoleId"
                delete-button-label="Remove"
                @modal-hide="hideDeleteModal()">
            <template slot="title">Remove organisation access?</template>
            <template slot="csrf_token">{% csrf_token %}</template>
            <template slot="body">Are you sure you want to remove access to this organisation for user <em>[[
                deleteRoleUsername ]]</em>?
            </template>
        </delete-confirm-modal>
        <p class="is-uppercase-heading has-bottom-margin">Add people to organisation</p>
        <form method="POST" class="field">
            {% csrf_token %}
            <div class="columns">
                <div class="column is-two-thirds">
                    <user-autocomplete @username-selected="usernameSelected"
                                       :skip-results="currentUsers"></user-autocomplete>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="role_id">
                                    {% for role in all_roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="help tooltip-link">
                            How do organisation roles differ?
                            <span class="tooltip-q">?
                                <div class="tooltip" style="z-index: 100">
                                    <p class="is-uppercase-heading has-bottom-margin">Organisation roles</p>
                                    <p>
                                        Organisation <strong>members</strong> can add projects to the organisation; <strong>admins</strong> can also make
                                        other users members of an organisation, add teams to the organisation, and change organisation settings.
                                    </p>
                                </div>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <button class="button is-primary is-full-width" name="action" value="add_access" type="submit"
                            :disabled="selectedUsername==''">Add User
                    </button>
                </div>
            </div>
        </form>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for access_role in access_roles %}
                <tr>
                    <td>{{ access_role.user.username }}</td>
                    <td>
                        {% include "accounts/_account_role_select.html" with user_role=access_role.role %}
                    </td>
                    <td class="field">
                        {% if access_role.user != request.user %}
                            <button class="button is-danger is-pulled-right"
                                    @click.prevent="showDeleteModal({{ access_role.id }}, '{{ access_role.user.username }}')">
                                Remove&hellip;
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No one has access to this account. You should not be seeing this.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <script src="{% static "js/user-search.js" %}"></script>
    <script src="{% static "js/delete-confirm-modal.js" %}"></script>
    <script>
      new Vue({
        el: '#account-access',
        delimiters: ['[[', ']]'],
        data: {
          deleteModalVisible: false,
          deleteRoleId: null,
          deleteRoleUsername: null,
          selectedUsername: '',
          currentUsers: JSON.parse("{{ current_usernames|escapejs }}"),
          accessRoles: JSON.parse("{{ access_roles_map|escapejs }}")
        },
        methods: {
          usernameSelected (username) {
            this.selectedUsername = username
          },
          showDeleteModal (roleId, roleUsername) {
            this.deleteModalVisible = true
            this.deleteRoleId = roleId
            this.deleteRoleUsername = roleUsername
          },
          hideDeleteModal () {
            this.deleteModalVisible = false
            this.deleteRoleId = null
            this.deleteRoleUsername = null
          },
          accessChanged (accountUserRoleId) {
            let updateData = new FormData()
            updateData.set('action', 'set_role')
            updateData.set('account_user_role_id', accountUserRoleId)
            updateData.set('role_id', this.accessRoles[accountUserRoleId])

            fetch(`{% url 'account_access' account.name %}`, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'X-CSRFToken': utils.cookie('csrftoken'),
              },
              credentials: 'same-origin',
              body: updateData
            }).then(response => response.json()
              , failureResponse => {
                console.log(failureResponse)
              }).then(responseBody => {
                alert(responseBody.message)
              }
            )
          }
        }
      })
    </script>
{% endblock %}
