{% extends 'accounts/account_base.html' %}
{% block title %}Organisation {{ account.name }} : Subscriptions{% endblock %}
{% block account_content %}
    <section class="column">
        <table class="table">
            <thead>
            <tr>
                <th>Plan</th>
                <th>Status</th>
                <th>Billing Start</th>
                <th>Billing End</th>
                <th>Cancellation Date</th>
                <th>Customer</th>
            </tr>
            </thead>
            <tbody>

            {% for account_subscription in account_subscriptions %}
                {% with subscription=account_subscription.subscription %}
                    <tr>
                        <td>
                            <a href="{% url 'account_subscription_detail' account.name subscription.id %}">{{ subscription.plan }}</a>
                        </td>
                        <td>{{ subscription.status|capfirst }}</td>
                        <td>{{ subscription.current_period_start }}</td>
                        <td>{{ subscription.current_period_end }}</td>
                        <td>
                            {% if not subscription.canceled_at %}
                                {% if subscription.cancel_at_period_end %}
                                    End of current billing period
                                {% else %}
                                    &mdash;
                                {% endif %}
                            {% else %}
                                {{ subscription.canceled_at }}
                            {% endif %}
                        </td>
                        <td>{{ subscription.customer }}</td>
                    </tr>
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="6">No current subscriptions</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                </td>
                <td class="has-text-centered">
                    <a class="button is-primary" href="{% url 'account_subscriptions_plan_list' account.name %}">Add
                        Subscription&hellip;</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
