{% extends 'base.html' %}
{% block title %}Account {{account.pk}} : Teams{% endblock %}
{% block content %}

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="title is-2">Accounts</p>
        </div>
    </div>
    <div class="level-right">
        <p class="level-item">
            <a class="button is-primary" href="{% url 'account_create' %}">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>New Account</span>
            </a>
        </p>
    </div>
</div>
<div class="section section--inner">
    {% for account_role in object_list %}
        <a class="box" href="{% url 'account_profile' account_role.account.id %}" title="Open">
            <span>{{ account_role.account }}</span>
            <span class="is-pulled-right">{{ account_role.role }}</span>
        </a>
    {% empty %}
    <div class="column">
        <div class="notification is-warning">You are not a member of any accounts</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
