{% extends "base.html" %}
{% load static %}
{% block title %}Account {{ account.name }} : Members{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/buefy.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-resource.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/buefy.min.css' %}">
{% endblock %}
{% block content %}
    {% include "accounts/_account_nav.html" with account=account tab="members" %}
    <section id="account-access">
        <b-modal :active.sync="deleteModalVisible" :width="640" scroll="keep">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete this access?</p>
            </header>
            <section class="modal-card-body">
                Are you sure you want to remove access to this account for user <em>[[ deleteRoleUsername ]]</em>?
            </section>
            <footer class="modal-card-foot">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_role_id" value="" v-model="deleteRoleId">
                    <button class="button is-danger" type="submit" name="action" value="delete_access">
                        Delete
                    </button>
                    <a class="button" href="#" @click.prevent="hideDeleteModal()">Cancel</a>
                </form>
            </footer>
        </b-modal>
        <div class="section">
            <form method="POST">
                {% csrf_token %}
                <div class="columns">
                    <div class="column">
                        <user-autocomplete @username-selected="usernameSelected"></user-autocomplete>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="role_id">
                                        {% for role in all_roles %}
                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <button class="button is-success" name="action" value="add_access" type="submit" :disabled="selectedUsername==''">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered is-fullwidth">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Access</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for access_role in access_roles %}
                    <tr>
                        <td>{{ access_role.user.username }}</td>
                        <td>
                            {% include "accounts/_role_select.html" with user_role=access_role.role %}
                        </td>
                        <td>
                            {% if access_role.user != request.user %}
                                <button class="button is-danger"
                                        @click.prevent="showDeleteModal({{ access_role.id }}, '{{ access_role.user.username }}')">
                                    Delete&hellip;
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No one has access to this account. You should not be seeing this.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="has-text-right">
                <button class="button is-success" type="submit">Save</button>
            </div>
        </form>
    </section>
    <script src="{% static "js/user-search.js" %}"></script>
    <script>
        new Vue({
            el: '#account-access',
            delimiters: ['[[', ']]'],
            data: {
                deleteModalVisible: false,
                deleteRoleId: null,
                deleteRoleUsername: null,
                selectedUsername: ""
            },
            methods: {
                usernameSelected(username) {
                    this.selectedUsername = username
                },
                showDeleteModal(roleId, roleUsername) {
                    this.deleteModalVisible = true
                    this.deleteRoleId = roleId
                    this.deleteRoleUsername = roleUsername
                },
                hideDeleteModal() {
                    this.deleteModalVisible = false
                    this.deleteRoleId = null
                    this.deleteRoleUsername = null
                }
            }
        })
    </script>
{% endblock %}