{% extends 'base.html' %}
{% block title %}Account {{ account.name }} : Teams{% endblock %}
{% block content %}
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'account_list' %}">Accounts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item">
                <a class="button is-primary" href="{% url 'account_create' %}">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span>New Account</span>
                </a>
            </p>
        </div>
    </div>
    <hr>
    <div class="columns is-centered">
        <div class="column">
            <table class="table is-fullwidth is-item-list">
                <tbody>
                {% for account_role in object_list %}
                    <tr>
                        <td>
                            <a class="is-uppercase-heading"
                               href="{% url 'account_profile' account_role.account.name %}"
                               title="{{ account_role.account }}">
                                {{ account_role.account }}
                            </a>
                            <p class="is-size-7">{{ account_role.role }}</p>
                        </td>
                        <td class="has-text-right">
                            {{ account_role.account.plan.product.name }} Plan
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
