{% extends 'accounts/account_base.html' %}
{% block title %}Account {{ account.name }} : Subscriptions{% endblock %}
{% block account_content %}
    <section class="column">
        <p class="title is-capitalized">Select your Plan</p>
        <p class="has-bottom-margin">Choose the plan that fits your needs best.</p>
        <div class="columns">
            {% for product, plan, is_subscribed  in product_plans %}
                <div class="column">
                    <div class="box">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                <h4 class="title is-4">
                                    {{ product.name }}
                                </h4>
                                <h5 class="subtitle is-5">{{ product.extension.tag_line }}</h5>
                                <br/>
                                </p>
                            </div>
                        </div>
                        {{ product.description|safe }}
                        <nav class="level is-mobile">
                            <div class="level-left">
                            <span class="level-item">
                            {% if product.extension.is_purchasable %}
                                {% if plan.price_description %}
                                    {{ plan.price_description }}
                                {% else %}
                                    ${{ plan.amount }} per {{ plan.interval }}
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                            </span>
                            </div>
                        </nav>
                        {% if is_subscribed %}
                            <button class="button is-disabled">Subscribed</button>
                        {% else %}
                            {% if plan.pk == 0 %}
                                {# TODO: Make this a better UI #}
                               <button class="button is-disabled"
                                       onclick="alert('To switch back to Stencila Basic, unsubscribe from your active Subscriptions.')">Subscribe</button>
                            {% else %}
                                {% if product.extension.is_purchasable %}
                                    <a href="{% url 'account_subscriptions_add' account.name plan.pk %}"
                                       class="button is-primary">Subscribe</a>
                                {% else %}
                                    <a href="mailto:hello@stenci.la"
                                       class="button is-primary">Contact Us To Subscribe</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}