{% extends "base.html" %}
{% load static %}
{% block title %}Team {{ team.id }} : Members {% endblock %}
{% block content %}
    {% include "accounts/_account_nav.html" with account=account tab="teams" %}
    {% include "accounts/_team_nav.html" with account=account team=team team_tab="members" %}

    <section id="member-access">
        {% if is_admin %}
            <b-modal v-cloak :active.sync="deleteModalVisible" :width="640" scroll="keep">
                <header class="modal-card-head">
                    <p class="modal-card-title">Remove this user?</p>
                </header>
                <section class="modal-card-body">
                    Are you sure you want to remove <em>[[ removeUserName ]]</em> from <em>{{ team.name }}</em>?
                </section>
                <footer class="modal-card-foot">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="" v-model="removeUserName">
                        <button class="button is-danger" type="submit" name="action" value="remove_member">
                            Remove
                        </button>
                    </form>
                    <a class="button" href="#" @click.prevent="hideDeleteModal()">Cancel</a>
                </footer>
            </b-modal>
            <form method="post">
                {% csrf_token %}
                <div class="columns is-marginless">
                    <div class="column">
                        <label class="label">Search Username</label>
                    </div>
                    <div class="column"></div>
                </div>
                <div class="columns">
                    <div class="column">
                        <user-autocomplete @username-selected="usernameSelected"></user-autocomplete>
                    </div>
                    <div class="column">
                        <button class="button is-success" name="action" value="add_member" type="submit" :disabled="selectedUsername == ''">Add</button>
                    </div>
                </div>
            </form>
        {% endif %}
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in team.members.all %}
                <tr>
                    <td>{{ member }}</td>
                    <td class="has-text-right">
                        {% if is_admin %}
                            <button class="button is-danger"
                                    @click.prevent="showDeleteModal('{{ member.username }}')">
                                Remove From Team&hellip;
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No members.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% if is_admin %}
        <script src="{% static "js/user-search.js" %}"></script>
        <script>
            new Vue({
                el: '#member-access',
                delimiters: ['[[', ']]'],
                data: {
                    deleteModalVisible: false,
                    removeUserName: null,
                    selectedUsername: ""
                },
                methods: {
                    showDeleteModal(username) {
                        this.deleteModalVisible = true
                        this.removeUserName = username
                    },
                    hideDeleteModal() {
                        this.deleteModalVisible = false
                        this.removeUserName = null
                    },
                        usernameSelected(username) {
                        this.selectedUsername = username
                    }
                }
            })
        </script>
    {% endif %}
{% endblock %}