{% extends "base.html" %}
{% load crispy_forms_tags account_permissions %}
{% block title %}Team{% endblock %}
{% block content %}
    {% include "accounts/_account_header.html" with account=account tab="teams" %}
    {% include "accounts/_team_header.html" with account=account team=team team_tab="metadata" %}
    <form method="POST">
        {% crispy form %}
        {% if account_permissions|permissions_contain:'administer' %}
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Save">
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}
