{% load i18n %}

{% comment %}
A search field for users.

Allows interactive searching for users.
Intended to be used in forms that require a user to be specified
e.g. adding another user to a team, or a project.

Inspired by Github's user search field (amongst others).
{% endcomment %}
<label for="user-search-input" class="label is-sr-only">{% trans "Search users" %}</label>
<div id="user-search" class="dropdown is-expanded">
  <div class="dropdown-trigger">
    <div class="control has-icons-left has-icons-right">
      <input id="user-search-input" class="input" type="text" name="search"
             placeholder="{% trans "Search by username, full name, or email" %}" autocomplete="off"
             hx-trigger="keyup changed delay:500ms" hx-get="/api/users" hx-template="users/_search_results.html"
             hx-indicator="#user-search .htmx-indicator" hx-target="#user-search .dropdown-menu">
      <span class="icon is-small is-left">
        <i class="ri-search-line"></i>
      </span>
      <span class="icon is-small is-right htmx-indicator">
        <i class="ri-loader-line"></i>
      </span>
    </div>
    {% comment %}
    A hidden input to hold the value of the selected user. Will be submitted with the enclosing form.
    The name of this field can be overriden with the teplate variable `id_name`.
    {% endcomment %}
    <input id="user-search-result-id" type="hidden" name="{{ id_name|default:'id' }}">
  </div>
  <div class="dropdown-menu"></div>
  <script>
    var $search = document.querySelector('#user-search')
    // Add query parameters to search
    $search.querySelector('input[name=search]').addEventListener('htmx:configRequest', function(event) {
      event.detail.parameters['limit'] = '30';
    });
    // Update the `input[name=user]` when a dropdown item is selected
    $search.querySelector('.dropdown-menu').addEventListener('click', function(event) {
      var item = htmx.closest(event.target, '.dropdown-item')
      $search.querySelector('input[name=search]').value = item.getAttribute('data-username')
      $search.querySelector('#user-search-result-id').value = item.getAttribute('data-id')
    });

  </script>
</div>
