{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "User settings" %}{% endblock %}

{% block content %}
<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-quarters level-list">
      <h2 class="title">Settings</h2>
      <a href="{% url 'ui-users-username' %}">
        <div class="level">
          <div class="level-left">  
            <span class="icon"><i class="fa fa-user"></i></span>
            <p class="is-uppercase-heading">Username</p>
          </div>
          <div class="level-right">
            <div class="control">
              <span class="icon"><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'account_change_password' %}">
        <div class="level">
          <div class="level-left">
            <span class="icon"><i class="fa fa-key"></i></span>
            <p class="is-uppercase-heading">Password</p>
          </div>
          <div class="level-right">
            <div class="control">
              <span class="icon"><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'account_email' %}">
        <div class="level">
          <div class="level-left">  
            <span class="icon"><i class="fa fa-envelope"></i></span>
            <p class="is-uppercase-heading">Email addresses</p>
          </div>
          <div class="level-right">
            <div class="control">
              <span class="icon"><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'socialaccount_connections' %}">
        <div class="level">
          <div class="level-left">  
            <span class="icon"><i class="fa fa-share-square"></i></span>
            <p class="is-uppercase-heading">Account connections</p>
          </div>
          <div class="level-right">
            <div class="control">
              <span class="icon"><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock %}
