{% extends "base_centered.html" %}
{% load i18n %}

{% block title %}{% trans "Personal settings" %}{% endblock %}

{% block layout_content %}
<h2 class="title">Settings</h2>
<a href="{% url 'ui-users-username' %}" class="list-menu--item">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon"><i class="ri-user-line"></i></span>
      <p class="is-uppercase-heading has-text-weight-semibold">Username</p>
    </div>

    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
  </div>
</a>
<a href="{% url 'account_change_password' %}" class="list-menu--item">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon"><i class="ri-key-line"></i></span>
      <p class="is-uppercase-heading has-text-weight-semibold">Password</p>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
  </div>
</a>
<a href="{% url 'account_email' %}" class="list-menu--item">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon"><i class="ri-mail-line"></i></span>
      <p class="is-uppercase-heading has-text-weight-semibold">Email addresses</p>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
  </div>
</a>
<a href="{% url 'socialaccount_connections' %}" class="list-menu--item">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon"><i class="ri-user-settings-line"></i></span>
      <p class="is-uppercase-heading has-text-weight-semibold">Account connections</p>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>
  </div>
</a>
{% endblock %}
