{% load socialaccount %}

<div class="buttons is-centered">
  <a class="button" title="Github" href="{% provider_login_url 'github' process='login' %}">
    <span class="icon"><i class="fab fa-github"></i></span>
    <span>GitHub</span>
  </a>
  <a class="button" title="Google" href="{% provider_login_url 'google' process='login' %}">
    <span class="icon"><i class="fab fa-google"></i></span>
    <span>Google</span>
  </a>
  <a class="button" title="Twitter" href="{% provider_login_url 'twitter' process='login' %}">
    <span class="icon"><i class="fab fa-twitter"></i></span>
    <span>Twitter</span>
  </a>
  <a class="button" title="ORCID" href="{% provider_login_url 'orcid' process='login' %}">
    <span class="icon"><i class="fab fa-user"></i></span>
    <span>ORCID</span>
  </a>
  <a class="button" title="Facebook" href="{% provider_login_url 'facebook' process='login' %}">
    <span class="icon"><i class="fab fa-facebook"></i></span>
    <span>Facebook</span>
  </a>
  <a class="button" title="LinkedIn" href="{% provider_login_url 'linkedin' process='login' %}">
    <span class="icon"><i class="fab fa-inkedin"></i></span>
    <span>LinkedIn</span>
  </a>
</div>
