{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Join" %}{% endblock %}

{% block main %}

<div class="ui icon message">
	<i class="ui lab icon"></i>
  	<div class="ui content">
	  	<div class="ui header">
	  		Guest join in coming soon!
	  	</div>
		<p>
			With guest join in, you will be able to keep any changes you have made while a guest.
			But we're still working on it!
			In the meantime, please use the <a href="/me/signup" target="_blank">sign up</a> form.
		</p>
	</div>
</div>

{% endblock %}
