////
/// Overrides for Bulma tabs
////

$tabs-toggle-link-active-background-color: #d4d4d4
$tabs-toggle-link-active-border-color: #c4c4c4
$tabs-toggle-link-active-color: $text

.tabs
  // Styles
  a
    text-decoration: none !important

  li
    font-weight: bold
    &.is-active
      a
        border-color: #2468EF
        border-width: 0 0 2px 0
        color: #2468EF


  &.is-toggle
    li
      &.is-active
        a
          background-color: $tabs-toggle-link-active-background-color
          border-color: $tabs-toggle-link-active-border-color
          color: $tabs-toggle-link-active-color
