{% extends './base.html' %}
{% load static %}

{% block title %}Uh oh!{% endblock %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column is-6 is-offset-4 has-text-centered">
      <img class="error-image" src="{% static 'img/dead-document.svg' %}" alt="Oh no!" width="112px" height="28px">
      <h1 class="title has-margin-top">Uh oh!</h1>
      <div class="notification">
        <p>It seems that you have entered an invalid file name for this project or project snapshot.</p>
        <p><strong>{{ file_path }}</strong></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
