.email-settings__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 1rem;
    padding-bottom: 1.25rem;
  }
}

.email-settings__label {
  display: block;
  margin-bottom: 0.25rem;
}
