{% extends 'base.html' %}
{% load account %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Password Change" %}{% endblock %}

{% block content %}
<div class="container" style="max-width: 30em">
    <h3>{% trans "Change your password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="button is-primary" type="submit">{% trans 'Change my password!' %}</button>
    </form>
</div>
{% endblock %}
