{% extends 'base.html' %}

{% load semanticui %}
{% load socialaccount %}

{% block title %}Invitation sign in{% endblock %}

{% block main %}

<style>
	#page .title {
		background: #EEE;
	}
	#page .providers .button {
		margin: 0.2em;
	}
	#page .providers .orcid.button {
		background: #a6ce39;
	}
	#page .ui.form {
		margin-bottom: 1em;
	}
	#page .ui.form input {
		max-width: 50%;
		min-width: 15em;
	}
</style>

<div id="page" class="ui segments">

	<div class="title ui center aligned segment">
		<h4>{{ invitation.inviter.get_full_name|default:invitation.inviter.username }} has invited you to access "{{ invitation.path }}".</h4>
		<h4>To accept this invitation you need to be signed in.</h4>
	</div>

	<div class="ui center aligned segment">
		<p> Sign in using another account.</p>
		<div class="providers">
			<a class="ui orcid button" title="ORCID" href="{% provider_login_url 'orcid' next=next %}">
				<i class="ui user icon"></i>
				ORCID
			</a>
			<a class="ui github button" title="Github" href="{% provider_login_url 'github' next=next %}">
				<i class="ui github icon"></i>
				Github
			</a>
			<a class="ui twitter button" title="Twitter" href="{% provider_login_url 'twitter' next=next %}">
				<i class="ui twitter icon"></i>
				Twitter
			</a>
			<a class="ui facebook button" title="Facebook" href="{% provider_login_url 'facebook' next=next %}">
				<i class="ui facebook icon"></i>
				Facebook
			</a>
			<a class="ui google plus button" title="Google" href="{% provider_login_url 'google' next=next %}">
				<i class="ui google icon"></i>
				Google
			</a>
			<a class="ui linkedin button" title="LinkedIn" href="{% provider_login_url 'linkedin' next=next %}">
				<i class="ui linkedin icon"></i>
				LinkedIn
			</a>
		</div>

	</div>

	<div class="ui center aligned segment">
		<p>Sign in with an existing Stencila username and password.</p>
		<form class="ui form" method="post">
			{% csrf_token %}
			{{ userpass_form|semanticui }}
			<input type="hidden" name="userpass_signin" value="true" />
			<button class="ui positive button" type="submit">Sign me in!</button>
		</form>
		<p><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
	</div>

	{% if express_username %}
	<div class="ui center aligned segment">
		<p>Sign in using the express route*</p>
		<form class="ui form" method="post">
			{% csrf_token %}
			<input type="hidden" name="express_signin" value="true" />
			<button class="ui positive button" type="submit">Just take me there!</button>
		</form>
		<p style="font-size: 0.8em; color: #888;">* We'll create an account for you with the username "{{ express_username }}". You can change this, your email address, and other settings, later.</p>
	</div>
	{% endif %}

</div>

{% endblock %}
