.source-table--file-type {
  width: 1em;
}

a.table-icon-label {
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
