{% comment %} Render an icon representing the type of job {% endcomment %}

<div class="icon is-vcentered has-text-grey dropdown is-hoverable cursor-help">
  <div class="dropdown-trigger">
    <i class="ri-question-line"></i>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content has-text-black">
      <p class="dropdown-item">
        <strong>Reader:</strong> Can view the project, but not make edits or share with others.
      </p>
      <p class="dropdown-item">
        <strong>Author:</strong> Can edit project files, but not share with others.
      </p>
      <p class="dropdown-item">
        <strong>Manager:</strong> Can edit project files, settings, and share with others.
      </p>
      <p class="dropdown-item">
        <strong>Owner:</strong> Can edit project files, settings, share with others, as well as delete the project.
      </p>
    </div>
  </div>
</div>
