{% load i18n %}

<form hx-post="{% url "api-projects-list" %}" hx-template="projects/_create_form.html" hx-redirect="CREATED:Location">

  {% include "serializers/_field.html" with field=serializer.account icon="ri-at-line" %}
  {% include "serializers/_field.html" with field=serializer.name icon="ri-at-line" autofocus=True %}
  {% include "serializers/_field.html" with field=serializer.public icon="ri-globe-line" element="checkbox" %}

  <button class="button is-primary is-fullwidth-mobile" type="submit">
    <span class="icon">
      <i class="ri-add-fill"></i>
    </span>
    <span>{% trans "Create Project" %}</span>
  </button>

</form>
