{% load i18n %}
{% if project.role in 'AUTHOR, MANAGER, OWNER' %}
<div class="dropdown level-item">
  <div class="dropdown-trigger">
    <button class="button is-primary is-small-mobile" aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="icon">
        <i class="ri-add-line"></i>
      </span>
      <span>
        {% trans "New" %}
      </span>
      <span class="icon">
        <i class="ri-arrow-down-s-line"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item" href="{% url 'ui-projects-sources-upload' project.account.name project.name %}">
        <span class="icon">
          <i class="ri-upload-cloud-line"></i>
        </span>
        <span>
          {% trans "Upload" %}
        </span>
      </a>
      <a class="dropdown-item" href="{% url 'ui-projects-sources-create' project.account.name project.name 'url' %}">
        <span class="icon">
          <i class="ri-links-line"></i>
        </span>
        <span>
          {% trans "URL" %}
        </span>
      </a>
      <a class="dropdown-item"
         {# href="{% url 'ui-projects-sources-create' project.account.name project.name 'github' %}" #} disabled>
        <span class="icon">
          <i class="ri-github-line"></i>
        </span>
        <span>
          GitHub
        </span>
      </a>
      <a class="dropdown-item"
         {# href="{% url 'ui-projects-sources-create' project.account.name project.name 'googledocs' %}" #} disabled>
        <span class="icon">
          <i class="ri-google-line"></i>
        </span>
        <span>
          Google Doc
        </span>
      </a>
      <a class="dropdown-item" disabled>
        <span class="icon">
          <i class="ri-drive-line"></i>
        </span>
        <span>
          Google Drive
        </span>
      </a>

      <div class="dropdown dropdown-item px-0 py-0" data-placement="right-start">
        <a class="dropdown-trigger dropdown-item px-0 py-0">
          <div class="level is-mobile dropdown-item">
            <div class="level-left">
              <span class="icon">
                <i class="ri-newspaper-line"></i>
              </span>
              <span>{% trans "From journal…" %}</span>
            </div>
            <div>
              <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu has-text-left" role="menu">
          <div class="dropdown-content">

            <a class="dropdown-item"
               href="{% url 'ui-projects-sources-create' project.account.name project.name 'elife' %}">
              eLife
            </a>
            <a class="dropdown-item" disabled>
              PLOS
            </a>
          </div>
        </div>
      </div>
      {% comment %}
      <a href="#" class="dropdown-item">
        <span class="icon">
          <i class="ri-folder-add-line"></i>
        </span>
        <span>
          {% trans "Folder" %}
        </span>
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        <span class="icon">
          <i class="ri-upload-cloud-2-line"></i>
        </span>
        <span>
          {% trans "File upload" %}
        </span>
      </a>
      {% endcomment %}
    </div>
  </div>
</div>
{% endif %}
