{% load i18n %}

<div class="level align-items-flex-start">
  <div class="level-left is-hidden-mobile">
    <div class="level-item level is-flex has-flex-justify-content-space-between-mobile">
      <div class="level-left">
        {% include "./_project_description.html" %}
      </div>
    </div>
  </div>

  <div class="level-right buttons has-flex-justify-content-end-mobile">
    <a class="button is-small-mobile is-expanded-mobile has-tooltip-bottom has-tooltip-text-centered" disabled
       data-tooltip="This feature is coming soon!">
      <span class="icon">
        <i class="ri-git-branch-line"></i>
      </span>
      <span>
        {% trans "Fork" %}
      </span>
    </a>

    <a class="button is-success is-small-mobile is-expanded-mobile has-tooltip-bottom has-tooltip-text-centered"
       target="_blank" rel="noopener" href="{{ project.content_url }}">
      <span class="icon">
        <i class="ri-play-line"></i>
      </span>
      <span>
        {% trans "Run" %}
      </span>
    </a>
  </div>
</div>
