{% extends '_page_action_bar.html' %}
{% load i18n %}

{% block title %}{{ project.title|default:project.name }}{% endblock %}

{% block action_bar_end %}
<a class="button is-success is-small-mobile is-expanded-mobile has-tooltip-bottom has-tooltip-text-centered" disabled
   data-tooltip="This feature is coming soon!">
  <span class="icon">
    <i class="ri-play-line"></i>
  </span>
  <span>
    {% trans "Run" %}
  </span>
</a>

<a class="button is-small-mobile is-expanded-mobile has-tooltip-bottom has-tooltip-text-centered" disabled
   data-tooltip="This feature is coming soon!">
  <span class="icon">
    <i class="ri-git-branch-line"></i>
  </span>
  <span>
    {% trans "Fork" %}
  </span>
</a>
{% endblock %}

{% block action_bar_after %}
{% if project.description %}
<p>
  {{ project.description }}
</p>
{% elif project.role in 'MANAGER, OWNER' %}
<p>
  <a class="button is-white is-light is-small" href="{% url 'ui-projects-update' project.account.name project.name %}">
    <span class="icon">
      <i class="ri-add-line"></i>
    </span>
    <span>
      {% trans "Add project description" %}
    </span>
  </a>
</p>
{% endif %}
{% endblock %}
