{% load i18n %}

{% with account=project.account role=project.role %}

{% url 'ui-accounts-retrieve' account.name as account_url %}
{% url 'ui-projects-retrieve' account.name project.name as project_url %}
{% url 'ui-projects-sharing' account.name project.name as project_sharing_url %}

<div class="card">
  <div class="card-image">
    <figure class="image is-16by9">
      <img src="{{ project.get_image }}"
           alt="">
    </figure>
  </div>
  <div class="card-content">
    <h3 class="title is-4">
      <a href="{{ project_url }}"
         class="has-text-black has-text-link-hover">
        {{ project.title|default:project.name|default:"Untitled Project" }}
      </a>
    </h3>

    {% if project.description %}
    <p class="subtitle is-6">
      <a href="{{ project_url }}"
         class="has-text-black has-text-link-hover">
        {{ project.description|truncatechars:180 }}
      </a>
    </p>
    {% endif %}

    <a class="media"
       href="{{ account_url }}">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="{{ account.image.medium }}"
               role="presentation"></img>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-6">{{ account.display_name|default:account.name }}</p>
      </div>
    </a>

    {% if project.public == False %}
    <span class="tag is-light">
      <span class="icon">
        <i class="ri-lock-line"></i>
      </span>
      <span>
        {% trans "Private" %}
      </span>
    </span>
    {% endif %}

    {% if role %}
    <a href="{{ project_sharing_url }}"
       <span
       class="tag is-light {% if role == 'MANAGER' %}has-background-warning-light{% elif role == 'OWNER' %}has-background-danger-light{% endif %} has-tooltip-top has-tooltip-text-centered image-tooltip"
       data-tooltip="{% blocktrans %}You are a {{ role }} on this project{% endblocktrans %}">
      <span class="icon is-small">
        <i class="ri-user{% if role == 'MANAGER' %}-star{% elif role == 'OWNER' %}-settings{% endif %}-line"></i>
      </span>
      </span>
    </a>
    {% endif %}
  </div>
</div>

{% endwith %}
