{% comment %}
Form to update the profile related fields fields of a project.

Note: This form uses `hx-redirect` because if any of these fields change the surrounding
page chrome needs to be updated. It redirects using `id`s because it is possible
that names are changed.
{% endcomment %}
<form hx-patch="{% url 'api-projects-detail' project.id %}" hx-template="projects/_update_profile_form.html"
      hx-redirect="UPDATED:{% url 'ui-projects-update' project.account.id project.id %}">
  {% include "serializers/_field.html" with field=serializer.name icon="ri-at-line" %}
  {% include "serializers/_field.html" with field=serializer.description element="textarea" placeholder="Enter a project description" %}
  {% include "forms/_submit.html" with text="Update" classes="is-primary is-fullwidth-mobile" %}
</form>
