{% extends 'base_full.html' %}
{% load i18n stencila static %}

{% block header %}
<div class="column">
  <h1 class="title size-3">
    {{ project.title|default:project.name }}
  </h1>

  {% url 'ui-projects-files-list' project.account.name project.name as project_root%}
  {% if request.path == project_root %}
  <div class="is-hidden-tablet">
    {% include "./_project_description.html" %}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block sidebar_start %}
{% if project.temporary %}
<div class="sidebar__header">
  <a href="{% url 'ui-projects-claim' project.account.name project.name %}">
    <span class="tag is-warning is-light">
      <span class="icon">
        <i class="ri-recycle-line"></i>
      </span>
      <span>
        {% trans "Temporary" %}
      </span>
    </span>
  </a>
</div>
{% endif %}

<div class="menu">
  <ul class="menu-list is-flex-mobile">
    <li class="sidebar__item" id="menu-item-files">
      <a href="{% url 'ui-projects-files-list' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-files' %}">
        <span class="icon">
          <i class="ri-file-3-line"></i>
        </span>
        <span>
          {% trans 'Files' %}
        </span>
      </a>
    </li>

    <li class="sidebar__item" id="menu-item-sources">
      <a href="{% url 'ui-projects-sources-list' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-sources' %}">
        <span class="icon">
          <i class="ri-file-cloud-line"></i>
        </span>
        <span>
          {% trans 'Sources' %}
        </span>
      </a>
    </li>

    {% if project.temporary %}
    <li class="sidebar__item" id="menu-item-snapshots">
      <a href="{% url 'ui-projects-claim' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-claim' %} has-tooltip-bottom has-tooltip-text-centered image-tooltip">
        <span class="icon">
          <i class="ri-handbag-line"></i>
        </span>
        <span>
          {% trans 'Claim' %}
        </span>
      </a>
    </li>
    {% else %}
    <li class="sidebar__item" id="menu-item-snapshots">
      <a href="{% url 'ui-projects-snapshots-list' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-snapshots' %} has-tooltip-bottom has-tooltip-text-centered image-tooltip">
        <span class="icon">
          <i class="ri-archive-line"></i>
        </span>
        <span>
          {% trans 'Snapshots' %}
        </span>
      </a>
    </li>

    {% if project.role in 'AUTHOR, EDITOR, MANAGER, OWNER' %}
    <li class="sidebar__item" id="menu-item-jobs">
      <a href="{% url 'ui-projects-jobs-list' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-jobs' %} has-tooltip-bottom has-tooltip-text-centered image-tooltip">
        <span class="icon">
          <i class="ri-cpu-line"></i>
        </span>
        <span>
          {% trans 'Jobs' %}
        </span>
      </a>
    </li>
    {% endif %}

    {% if project.role in 'MANAGER, OWNER' %}
    <li class="sidebar__item" id="menu-item-sharing">
      <a href="{% url 'ui-projects-sharing' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-sharing' %}">
        <span class="icon">
          <i class="ri-lock-unlock-line"></i>
        </span>
        <span>
          {% trans 'Sharing' %}
        </span>
      </a>
    </li>

    <li class="sidebar__item" id="menu-item-settings">
      <a href="{% url 'ui-projects-update' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-update' %}">
        <span class="icon">
          <i class="ri-settings-4-line"></i>
        </span>
        <span>
          {% trans 'Settings' %}
        </span>
      </a>
    </li>
    {% endif %}
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block hide_sidebar_end %}
{% endblock %}

{% block layout_content %}
{% block projects_content %}{% endblock %}
{% endblock %}
