{% extends 'base_full.html' %}
{% load i18n %}
{% load stencila %}

{% block sidebar_start %}
<div class="menu">
  <ul class="menu-list is-flex-mobile">
    <li class="sidebar__item" id="menu-item-sources">
      <a href="{% url 'ui-projects-retrieve' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-sources' %}">
        <span class="icon">
          <i class="ri-file-line"></i>
        </span>
        <span>
          {% trans 'Sources' %}
        </span>
      </a>
    </li>

    <li class="sidebar__item" id="menu-item-snapshots">
      <a href="{% url 'ui-projects-snapshots-list' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-snapshots' %} has-tooltip-bottom has-tooltip-text-centered image-tooltip">
        <span class="icon">
          <i class="ri-archive-line"></i>
        </span>
        <span>
          {% trans 'Snapshots' %}
        </span>
      </a>
    </li>

    {% if project.role in 'AUTHOR, EDITOR, MANAGER, OWNER' %}
    <li class="sidebar__item" id="menu-item-jobs">
      <a href="{% url 'ui-projects-jobs-list' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-jobs' %} has-tooltip-bottom has-tooltip-text-centered image-tooltip">
        <span class="icon">
          <i class="ri-cpu-line"></i>
        </span>
        <span>
          {% trans 'Jobs' %}
        </span>
      </a>
    </li>
    {% endif %}

    {% if project.role in 'MANAGER, OWNER' %}
    <li class="sidebar__item" id="menu-item-sharing">
      <a href="{% url 'ui-projects-sharing' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-sharing' %}">
        <span class="icon">
          <i class="ri-lock-unlock-line"></i>
        </span>
        <span>
          {% trans 'Sharing' %}
        </span>
      </a>
    </li>

    <li class="sidebar__item" id="menu-item-settings">
      <a href="{% url 'ui-projects-update' project.account.name project.name %}"
         class="panel-block transition-colors {% is_active 'ui-projects-update' %}">
        <span class="icon">
          <i class="ri-settings-4-line"></i>
        </span>
        <span>
          {% trans 'Settings' %}
        </span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block hide_sidebar_end %}
{% endblock %}


{% block layout_content %}
{% block projects_content %}{% endblock %}
{% endblock %}
