{% extends './base.html' %}
{% load i18n %}

{% block title %}{{ project.name }}{% endblock %}

{% block projects_content %}
<div class="level">
  <div class="level-left">
    <div class="level-item level is-flex has-flex-justify-content-space-between-mobile">
      <div class="level-left">
        <h1 class="title level-item mb-0">
          {{ project.title|default:project.name }}
        </h1>
      </div>

    </div>
  </div>

  <div class="level-right buttons has-flex-justify-content-end-mobile">
    <a class="button is-success is-small-mobile is-expanded-mobile has-tooltip-bottom has-tooltip-text-centered image-tooltip"
       disabled data-tooltip="This feature is coming soon!">
      <span class="icon">
        <i class="ri-play-line"></i>
      </span>
      <span>
        {% trans "Run" %}
      </span>
    </a>

    <a class="button is-small-mobile is-expanded-mobile has-tooltip-bottom has-tooltip-text-centered image-tooltip"
       disabled data-tooltip="This feature is coming soon!">
      <span class="icon">
        <i class="ri-git-branch-line"></i>
      </span>
      <span>
        {% trans "Fork" %}
      </span>
    </a>
  </div>
</div>

<p>
  {{ project.description }}
</p>

<hr />

{% include "./sources/_sources.html" with sources=project.sources.all %}

<div id="projects-sources-action-modal">
</div>

{% endblock %}
