{% extends './base.html' %}
{% load i18n %}

{% block title %}{{ project.name }}{% endblock %}

{% block projects_content %}

<div>
  <p>
    {% trans "Sources are remote files you can link to your project." %}
  </p>
  <p>
    {% url 'ui-projects-files-list' project.account.name project.name as files_link %}
    {% blocktrans %}
    When you "pull" down a source a versioned copy is created in the project "<a href="{{ files_link }}"
       class="has-text-grey-dark has-text-link-hover is-underlined">Files</a>". {% endblocktrans %}
  </p>
</div>

<hr />

{% include "./sources/_sources.html" %}

{% endblock %}
