{% extends './base.html' %}
{% load i18n %}

{% block title %}{{ project.name }} {% trans "Settings" %}{% endblock %}

{% block projects_content %}
<h1 class="title is-sr-only-mobile">{% trans "Project Settings" %}</h2>

  {% include "./_update_profile_form.html" %}

  <hr>

  <h2 class="title is-3">{% trans "Content" %}</h2>
  <p class="subtitle is-6">{% trans "Settings affecting how content is served for this project." %}</p>

  {% include "./_update_content_form.html" %}

  <hr />

  <h2 class="title is-4 is-outlined">{% trans "Delete" %}</h2>
  {% include "./_destroy_form.html" with serializer=destroy_serializer %}

  {% endblock %}
