{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Session Template{% endblock %}
{% block content %}
    {% if session_template %}
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'session_template_list' %}">Session Templates</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ session_template }}</a></li>
            </ul>
        </nav>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="button is-primary" type="submit">Save</button>
    </form>
{% endblock %}
