////
/// Addno notes styles for Storybook
////
.addon-notes-container
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol
        margin-bottom: 1em

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-weight: $weight-bold

    ul
        list-style: disc
        padding-left: rem(60)

    table
        @extend .table
