
@import 'bulma/sass/elements/button.sass'

.button
    &.is-round
        border-radius: 50%

    &.is-toolbar
        border-radius: 50%
        background-color: $white
        border-color: rgba($dark, .1)
        font-weight: $weight-bold
        font-size: rem(16)
        display: inline-block
        position: relative
        width: rem(32)
        height: rem(32)

        transition: background-color $normal-speed, color $normal-speed, border-color $normal-speed

        span
            +center-align

        sub,
        sup
            font-size: rem(10)

        .icon,
        .icon:first-child:last-child
            margin-left: 0
            margin-right: 0

    &.is-plain
        background: unset
        border: none
        height: auto
        width: auto
        padding: 0
        line-height: 1em


    .icon
        margin-left: 0
        margin-right: 0
