////
/// A divider element – a horizontal element to divide 2 sections.
/// Ideally this will be used with a container - e.g. <div class="container divider">...
////
.divider
    height: 3px

    max-width: 100%
    width: rem(600)
