////
/// Figure element
////
$figure-shadow-background: rgba($black, 0.1) !default
$figure-shadow-left-offset: 16 !default
$figure-shadow-top-offset: 16 !default
$figure-shadow-img-border: 1px solid rgba($black, 0.05) !default
$figure-shadow-padded-top: 60 !default

figure

    /// Includes a "drop shadow"
    &.shadow
        position: relative
        z-index: 1
        backface-visibility: visible
        display: inline-block

        &:after
            position: absolute
            width: 100%
            height: 100%
            left: rem($figure-shadow-left-offset)
            top: rem(16)
            content: ''
            background: $figure-shadow-background
            display: block
            z-index: 0

        img
            position: relative
            z-index: 1
            border: $figure-shadow-img-border

        &-left
            &:after
                left: rem(-$figure-shadow-left-offset)

        &.no-border
            img
                border: none

.content
    figure
        &.padded
            $offset: 2 * $figure-shadow-left-offset
            margin: rem($figure-shadow-padded-top) rem(-$offset) 0

            +touch
                margin-left: 0
                margin-right: 0
