////
/// Heading - used in top part of section or content area.
////
.heading
    &.has-text-centered
        .has-line
            &:after
                +horizontal-align($position: absolute)

    &.has-text-right
        .has-line
            &:after
                right: 0

    &.has-large-margin-bottom
        margin-bottom: rem(120)

    .small
        font-weight: $weight-semibold
        font-size: rem(14)
        line-height: em(16, 14)
        text-transform: uppercase

        + .title
            margin-top: rem(8)

    .title
        font-weight: $weight-semibold
        text-transform: none
        line-height: em(42, 36)
        margin-bottom: rem(36)

        +touch
            br
                display: none

        &.has-line
            position: relative
            margin-bottom: rem(70)

            &:after
                position: absolute
                content: ''
                display: block
                bottom: rem(-32)
                height: 3px
                width: rem(60)
                background: $toxic-green

            @each $name, $pair in $colors
                $color: nth($pair, 1)
                &--is-#{$name}
                    &:after
                        background: $color
