////
/// Logos layout - for use in a 3 column container
////
$logos-margin-top: 40 !default
$logo-img-max-width: 260 !default

.logos
    margin-top: rem($logos-margin-top)

    & + .logos
        margin-top: rem($logos-margin-top/2)

    a
        display: block
        width: 100%

    img
        width: 100%
        max-width: rem($logo-img-max-width)

    .column
        +touch
            text-align: center !important
            margin-bottom: rem($logos-margin-top/2)
