$navbar-dropdown-background-color: $blue
$navbar-dropdown-item-color: $white
$navbar-dropdown-item-hover-color: $white
$navbar-dropdown-item-hover-background-color: #2568ef
$navbar-dropdown-item-active-color: $white

@import 'bulma/sass/components/navbar.sass'


// .navbar
//     &.is-sticky
//         left: 0
//         position: fixed !important
//         right: 0
//         top: 0
//         z-index: 100
