////
/// @group storybook
/// Section used to group elements in storybook
////
.storybook-section
    margin: rem(20) 0

    &__header
        border-bottom: 1px solid $grey-lighter
        margin-bottom: rem(40)
