////
/// Video - wrapper to contain video
////
.video
    position: relative
    padding-bottom: 56.25%
    padding-top: rem(0)
    height: 0
    margin-top: rem(80)
    margin-bottom: rem(80)
    backface-visibility: visible

    &:after
        position: absolute
        width: 100%
        height: 100%
        left: rem(22)
        top: rem(22)
        content: ''
        background: rgba($black, 0.1)
        display: block
        z-index: 0

    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        background: $light
