{% load i18n %}

<form hx-post="{% url 'api-invites-list' %}" hx-template="invitations/_create.html" hx-redirect="CREATED:{{ next }}">

  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control has-icons-left">
      <input class="input" name="email" id="email" type="email" autofocus="" value="{{ email }}">
      <span class="icon is-left">
        <i class="ri-mail-line"></i>
      </span>
    </div>
    <span class="help">The email address of person you are inviting.</span>
  </div>

  <div class="field">
    <label class="label" for="message">Message</label>
    <div class="control has-icons-left">
      <textarea id="message" class="textarea" name="message">{{ message }}</textarea>
    </div>
    <span class="help">A brief note about what you are inviting them too.</span>
  </div>

  {# Hidden inputs for invite action #}
  {% if action %}
  <input type="hidden" name="action" value="{{ action }}">
  {% for name,value in arguments.items %}
  <input type="hidden" name="{{ name }}" value="{{ value }}">
  {% endfor %}
  {% endif %}

  <button class="button is-primary is-fullwidth-mobile" type="submit">
    <span class="icon">
      <i class="ri-mail-send-fill"></i>
    </span>
    <span>{% trans "Send" %}</span>
  </button>
</form>
