////
/// Overrides for Bulma footer layout
////
$footer-section-color: #08225E !default

.footer
    font-weight: $weight-light
    color: $white
    position: relative
    z-index: 0
    padding: rem(40) rem(20) 0

    +mobile
        text-align: center

    a
        +transition
        font-size: rem(18)
        line-height: em(36, 18)
        color: $white
        font-weight: $weight-semibold
        position: relative
        padding-bottom: rem(3)

        &:after
            +transition($attr: width, $delay: 0.1s)
            position: absolute
            left: 0
            bottom: 0
            width: 0%
            height: rem(3)
            background: $toxic-green
            content: ''
            display: block

        &:hover
            // color: $footer-section-color

            &:after
                width: 100%

        &.button,
        &.footer-logo
            &:after
                display: none

        &.footer-logo
            line-height: 0
            font-size: 0
            display: block

    .button.call-to-action
        &:hover
            color: $primary

    .title
        color: $footer-section-color
        margin-bottom: 0
        font-size: rem(18)
        line-height: em(36, 18)

    &-buttons
        text-align: right

        +mobile
            text-align: center

    &-colophon
        background-color: rgba($footer-section-color, 0.4)
        margin-left: rem(-20)
        margin-right: rem(-20)
        padding-left: rem(20)
        padding-right: rem(20)

        a
            &:hover
                color: $white

        .button
            max-width: rem(100)

        +mobile
            padding-bottom: rem(60)

    &-copyright
        padding-left: rem(80)

        +mobile
            padding-left: 0

    &-links
        padding-bottom: rem(60)

    &-logo
        position: absolute

        +mobile
            position: relative
            padding-top: rem(60)

    &-social
        padding: 0

        a
            font-size: rem(24)
            margin-right: rem(20)
            display: inline
            padding-bottom: rem(8)

            &:last-child
                margin-right: 0
