////
/// Brand Colours
////

$cobalt-blue: #2568ef
$navy-blue: #1c4fb5
$toxic-green: #66ff66
$blend: #0f6860
$apple-green: #66cc66
$pink: #ff6699

$white: #ffffff
$light: #f1f1f2
$dark: #333333
$black: #000000

////
/// Aliases for old colour values.
////
@debug "The colour aliases need to be integrated to use the new colours."
$denim: $navy-blue
$mariner: $navy-blue
$nobel: $light
$white-smoke: $light
$white-lilac: $white
$charcoal: $dark
$green: $toxic-green

////
/// Bulma overrides
////
$primary: $cobalt-blue
$link: $cobalt-blue
$link-invert: $blend
