// Overrides, or definition of new, initial variables
// See https://bulma.io/documentation/overview/variables/#initial-variables for a list
$weight-heavy: 900
$weight-semibold: 700

// Overrides of derived variables
// See https://bulma.io/documentation/overview/variables/#derived-variables for a list
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i,800,800i')
$family-sans-serif: 'Nunito', sans-serif
$family-monospace: monospace
$family-primary: $family-sans-serif


////
/// Component specific overrides.
////
@import 'bulma-overrides/buttons'
@import 'bulma-overrides/content'
@import 'bulma-overrides/footer'
@import 'bulma-overrides/navbar'
@import 'bulma-overrides/section'
