@charset "utf-8";

// Import fonts

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

// Bulma variable overrides
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";

$family-sans-serif: "Lato", sans-serif;
$family-monospace: monospace;
$family-primary: $family-sans-serif;
$family-secondary: "Montserrat", sans-serif;

$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.125rem;
$size-6: 1rem;
$size-7: 0.75rem;

$column-gap: 1.5rem;

$blue: #2568ef;
$white: #ffffff;

$primary: $blue;
$green: #3fa76b;
$red: #e53e3e;
$yellow: #ecc94b;

$white-bis: #f7fafc;
$white-ter: #edf2f7;
$grey-lightest: #e2e8f0;
$grey-lighter: #aeb8c3;
$grey-light: #8495ae;
$grey: #67778e;
$grey-dark: #4a5568;
$grey-darker: #2d3748;
$black-ter: #1a202c;

$navbar-padding-vertical: 0.5rem;
$navbar-item-color: $grey;

$notification-padding: 1rem 2rem 1rem 1rem;

$title-family: $family-secondary;

$footer-background-color: $primary;
$footer-color: $white;
$footer-padding: 2rem 3rem 0.1rem;

$input-placeholder-color: $grey;

$modal-background-background-color: transparentize(darken($blue, 30%), 0.3);

// Import Bulma components
// The following are all the SASS files in Bulma 0.8.2
// To keep the size of compiled, production CSS to a minimum, only
// uncomment the imports that are needed.

@import "../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.scss";
// @import "../../../node_modules/bulma/sass/utilities/animations.sass";
@import "../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../node_modules/bulma/sass/utilities/controls.sass";

@import "../../../node_modules/bulma/sass/base/minireset.sass";
@import "../../../node_modules/bulma/sass/base/generic.sass";
@import "../../../node_modules/bulma/sass/helpers/_all.sass";

@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
// @import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/elements/icon.sass";
@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/elements/notification.sass";
@import "../../../node_modules/bulma/sass/elements/progress.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/other.sass";

@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";
@import "../../../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../../../node_modules/bulma/sass/form/select.sass";
@import "../../../node_modules/bulma/sass/form/file.sass";
@import "../../../node_modules/bulma/sass/form/tools.sass";

@import "../../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
// @import "../../../node_modules/bulma/sass/components/list.sass";
@import "../../../node_modules/bulma/sass/components/media.sass";
@import "../../../node_modules/bulma/sass/components/menu.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../node_modules/bulma/sass/components/pagination.sass";
// @import "../../../node_modules/bulma/sass/components/panel.sass";
// @import "../../../node_modules/bulma/sass/components/tabs.sass";

@import "../../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../../node_modules/bulma/sass/grid/tiles.sass";

// @import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/layout/footer.sass";

// Bulma extensions
@import "../../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

// Custom styles
@import "./accounts/index.scss";
@import "./projects/index.scss";

// =============================================================================
// Custom styles
// =============================================================================
body {
  overflow-x: hidden;
}

.layout-header:empty {
  display: none !important;

  & + .columns {
    margin-top: $block-spacing * -1;
  }
}

.level-item:empty {
  outline: 1px solid red;
}

.level-left {
  &.is-hidden,
  &.is-hidden-mobile {
    & + .level-right {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $tablet) {
  // =============================================================================
  // Customize Bulma: below tablet breakpoint
  // =============================================================================
  // Typography customization
  .title,
  .is-size-3,
  .title.is-3 {
    font-size: 1.125rem;
  }

  .is-4,
  .is-size-4,
  .title.is-4 {
    font-size: 1rem;

    & + .subtitle {
      font-size: 1rem;
    }
  }

  // Add full-width buttons only at mobile breakpoints
  .buttons .button.is-fullwidth-mobile {
    margin-right: 0 !important;
  }

  .input.is-small-mobile,
  .select.is-small-mobile,
  .button.is-small-mobile {
    border-radius: 2px;
    font-size: 0.875rem;
  }

  .control.has-icons-left .input.is-small-mobile ~ .icon,
  .control.has-icons-left .select.is-small-mobile ~ .icon,
  .control.has-icons-right .input.is-small-mobile ~ .icon,
  .control.has-icons-right .select.is-small-mobile ~ .icon {
    font-size: 0.875rem;
  }

  .button.is-fullwidth-mobile {
    display: flex;
    width: 100%;
  }

  .field.has-addons-tablet > .control {
    &:not(:first-child) {
      margin-top: -1px;
    }

    &:not(:first-of-type),
    &:last-child {
      .input,
      .textarea,
      .button,
      .select select {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:not(:last-child) {
      .button,
      .input,
      .textarea,
      .select select {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .field.has-addons-tablet .file-label {
    flex-wrap: wrap;
    width: 100%;

    & > * {
      flex-grow: 1;
      max-width: none;
    }

    .file-cta {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      flex-basis: 100%;
    }

    .file-name {
      border-top: none;
      border-radius: 0;
      border-left: 1px solid $grey-lighter;
      border-right: 1px solid $grey-lighter;
    }
  }

  .is-expanded-mobile {
    flex-grow: 1;

    & > *,
    input,
    select {
      width: 100%;
    }
  }

  .is-sr-only-mobile {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
  }

  .is-inline-block-mobile {
    display: inline-block;
  }

  .width-full-mobile {
    width: 100%;
  }

  // Standardize horizontal alignment between elements in header and body
  .section {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }

  // Fix left alignment of header logo
  .navbar-logo.navbar-item {
    padding-left: $gap / 2;
  }

  .level-left + .level-right {
    margin-top: $gap / 2;
  }

  .level-reverse-mobile {
    display: flex;
    flex-wrap: wrap;

    .level-left,
    .level-right {
      flex-basis: 100%;
    }

    .level-left {
      order: 2;
      margin-top: $gap / 2;
    }

    .level-right {
      margin-top: 0;
    }
  }

  .level-left.buttons,
  .level-right.buttons {
    .button {
      margin-bottom: 0;
    }
  }

  .has-flex-justify-content-space-between-mobile {
    justify-content: space-between;
  }

  .has-flex-justify-content-end-mobile {
    justify-content: flex-end;
  }

  // ===========================================================================
  // Custom elements: mobile breakpoint
  // ===========================================================================

  .layout-header {
    margin: -2.75rem ($gap / 2 * -1) 0 ($gap / 2 * -1);
    border-bottom: 1px solid $white-ter;

    & + .columns {
      margin-top: 0;
    }
  }

  .container > .columns:first > .sidebar__start {
    margin-top: -2.75rem;
  }

  .sidebar__start {
    padding: 0;
  }

  .sidebar__header {
    padding: 0 ($gap * 0.75);
    margin-bottom: $gap / 2;

    h1.is-size-3 {
      font-size: $size-5 !important;
    }

    hr {
      display: none;
    }
  }

  .sidebar__start .menu {
    border-bottom: 1px solid $white-ter;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sidebar__item {
    flex-shrink: 0;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 2rem;
    }

    .icon {
      display: none;
    }
  }
}

@media screen and (max-width: $desktop) {
  .has-dropdown .navbar-dropdown {
    transform: none !important;
    position: relative !important;
  }
}

// =============================================================================
// Customize Bulma
// =============================================================================
// Use custom spinner animation in place of Bulma animations
.button.is-loading::after,
.loader,
.select.is-loading::after,
.control.is-loading::after {
  animation-name: spin;
}

.dropdown.is-expanded {
  &,
  .dropdown-trigger,
  .dropdown-menu {
    width: 100%;
  }
}

.dropdown.is-hoverable:hover
  .dropdown-menu
  .dropdown:not(.is-active)
  .dropdown-menu,
.dropdown.is-active .dropdown-menu .dropdown:not(.is-active) .dropdown-menu {
  display: none;
}

.dropdown.is-hoverable:hover
  .dropdown-menu
  .dropdown.is-hoverable:hover
  .dropdown-menu {
  display: block;
}

// Override Bulma Dropdown positioning as we are using Popper.js to perform the calculations.
// Without this the dropdown positioning jitters and jumps around on activation.
// @see https://popper.js.org
.navbar-dropdown.is-boxed,
.navbar-item.is-active .navbar-dropdown.is-boxed,
.navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,
.navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed,
.navbar.is-spaced .navbar-dropdown,
.navbar.is-spaced .navbar-item.is-active .navbar-dropdown,
.navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown,
.navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown,
.navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown {
  top: 0;
  transform: translate3d(0, 48px, 0);
}

.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
  border-width: 2px;
  height: 0.5em;
  margin-top: -0.35em;
  width: 0.5em;
}

.level .buttons {
  align-items: flex-start;
}

.level .level-left,
.level.is-mobile .level-left,
.level.is-mobile .level-right {
  flex-shrink: 1;
}

.level-left {
  max-width: 100%;

  .level-item:only-child {
    flex-shrink: 1;
  }
}

.navbar-link:not(.is-arrowless)::after {
  border-color: $grey;
}

// Hide border on images with tooltips
.image-tooltip[data-tooltip] {
  border-bottom: none;
}

@media screen and (min-width: $tablet) {
  /** Add a custom `has-addons-tablet` class which only allows multiple input fields to be stacked on mobile, but then
   expanded and unified above `$tablet` breakpoint.
   @see: https://bulma.io/documentation/form/general/#form-addons for original class documentation. */
  .field.has-addons-tablet {
    display: flex;
    justify-content: flex-start;

    .control {
      &:not(:last-child) {
        margin-right: -1px;
      }

      &.is-expanded {
        flex-grow: 1;
        flex-shrink: 1;
      }

      // Remove control element border radiuses to create a seamless control group
      &:first-child:not(:only-child) .button,
      &:first-child:not(:only-child) .input,
      &:first-child:not(:only-child) .select select {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:first-child):not(:last-child) .button,
      &:not(:first-child):not(:last-child) .input,
      &:not(:first-child):not(:last-child) .select select {
        border-radius: 0;
      }

      &:last-child:not(:only-child) .button,
      &:last-child:not(:only-child) .input,
      &:last-child:not(:only-child) .select select {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  // Align individual user role select dropdown to the role dropdown in the user search bar
  .user-role-select {
    min-width: 9.75rem;
  }
}

.field.has-addons-tablet .control {
  &:not(:last-of-type) {
    .file.has-name .file-name {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.control:focus-within ~ .control .button.is-primary.is-outlined {
  background-color: $primary;
  color: $white;
}

.htmx-indicator {
  @extend .has-text-grey;
}

// =============================================================================
// Reusable elements & Utility classes
// =============================================================================

.align-items-flex-start {
  align-items: flex-start;
}

.expand-link {
  position: static;

  &:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.is-underlined {
  text-decoration: underline;
}

.title.secondary {
  color: $grey-dark;
  margin-bottom: 0;
}

.leading-none {
  line-height: 1;
}

.leading-loose {
  line-height: 2;
}

.width-full {
  width: 100%;
}

input[type="checkbox"].toggle {
  @extend .is-sr-only;

  & + label {
    cursor: pointer;
    position: relative;
    padding-bottom: 3rem;

    &:before {
      background: $white;
      border-radius: 4px;
      border: 0.1rem solid transparent;
      bottom: 0.375rem;
      color: $grey;
      content: "\eb99";
      display: block;
      font-family: "remixicon" !important;
      font-weight: bold;
      height: calc(2.5em - 0.75rem);
      line-height: 1.625em;
      position: absolute;
      text-align: center;
      transform: translateX(0.375rem);
      transition: transform 150ms ease-out;
      vertical-align: middle;
      width: 1.5rem;
      z-index: 1;
    }

    &:after {
      background-color: $grey-lighter;
      border-radius: 4px;
      border: 0.1rem solid transparent;
      content: "";
      display: block;
      height: 2.5em;
      bottom: 0;
      position: absolute;
      transition: background-color 150ms ease-out;
      width: 4rem;
      z-index: 0;
    }
  }

  &:checked {
    & + label:before {
      content: "\eb7b";
      color: $success;
      transform: translateX(2rem);
    }

    & + label:after {
      background: $success;
    }
  }

  &.is-inline {
    & + label {
      display: inline-block;
      height: 2.5em;
      line-height: 2.5em;
      padding-bottom: 0;
      vertical-align: top;

      &:before {
        height: calc(100% - 0.75rem);
        top: 0.375rem;
        transform: translateX(-3.75rem);
      }

      &:after {
        height: 100%;
        position: absolute;
        top: 0;
        transform: translateX(-4.25rem);
      }
    }

    &:checked + label:before {
      transform: translateX(-2.25rem);
    }

    &.toggle__label-before {
      & + label {
        &:before {
          right: 0;
          top: 0.5rem;
          transform: translateX(-2rem);
        }

        &:after {
          display: inline-block;
          margin-left: 0.5rem;
          position: relative;
          transform: none;
          vertical-align: middle;
        }
      }

      &:checked {
        & + label:before {
          transform: translateX(-0.5rem);
        }
      }
    }
  }

  &.is-small {
    & + label {
      line-height: 1.5;
      padding-bottom: 1.5em;

      &:before {
        height: calc(1.5em - 0.5rem);
        line-height: 90%;
        bottom: 0.25rem;
        transform: translateX(0.25rem);
      }

      &:after {
        height: 1.5em;
        width: 3rem;
      }
    }

    &:checked + label:before {
      transform: translateX(1.25rem);
    }

    &.is-inline {
      height: 1.5em;

      & + label:before {
        top: 0.25rem;
        transform: translateX(-3.25rem);
      }

      & + label:after {
        transform: translateX(-3.5rem);
      }

      &:checked + label:before {
        transform: translateX(-2.25rem);
      }
    }

    &.toggle__label-before {
      & + label:before {
        top: 0.375rem;
        transform: translateX(-1.25rem);
      }

      & + label:after {
        transform: translateX(0);
      }

      &:checked + label:before {
        transform: translateX(-0.25rem);
      }
    }
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .transition-colors {
    transition-duration: 150ms;
    transition-property: color, background-color;
    transition-timing-function: ease-out;
  }

  @keyframes spin {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

  .animate-spin {
    animation: spin 1.5s linear 0s infinite;
  }
}

.cursor-close {
  cursor: url("../img/close-circle-line.svg"), pointer;
}

.is-vcentered {
  vertical-align: middle;
}

.has-text-nowrap {
  white-space: nowrap;
}

.has-text-ellipsis {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  @extend .transition-colors;
}

a.has-text-link-hover:hover,
.has-text-link-hover:hover {
  @extend .transition-colors;
  color: $link !important;
}

a.list-menu--item {
  &:link,
  &:visited {
    @extend .transition-colors;
    color: $text;
    display: block;
    padding: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:hover {
    background-color: $white-ter;
    color: $link;
  }
}

.list-menu--icon {
  margin-right: 0.5rem;
}

.collection-list--item {
  border-bottom: 1px solid $grey-lightest;
  margin-left: -$gap / 4;
  margin-right: -$gap / 4;

  &:hover,
  &:focus {
    background-color: $white-ter;
  }

  &:last-child {
    border-bottom: none;
  }
}

.collection-list--item-contents {
  display: block;
  padding: ($gap / 2) ($gap / 4);
}

// =============================================================================
// Custom elements
// =============================================================================

.navbar {
  // Add a screen top border
  border-top: 3px solid $blue;
  font-weight: bold;
}

// Vertically align icons and texts in links
a .icon,
a .icon + span,
.navbar-item .icon,
.navbar-item .icon + span,
.navbar-link .icon,
.navbar-link .icon + span {
  vertical-align: middle;
}

.navbar__user-avatar {
  display: inline-block;
  vertical-align: middle;

  & > img {
    max-height: 2rem;
  }
}

.menu-list a.is-active {
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  position: relative;

  &::before {
    background-color: $primary;
    content: "";
    left: 0;
    position: absolute;
  }

  @media screen and (max-width: $tablet) {
    &::before {
      bottom: 0;
      height: 2px;
      width: 100%;
    }
  }

  @media screen and (min-width: $tablet) {
    &::before {
      height: 100%;
      top: 0;
      width: 4px;
    }
  }
}

.dropdown-item[disabled],
.menu-list a[disabled] {
  &,
  &:hover,
  &:focus {
    color: $grey-lighter;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $white;
  }
}

.user-search-item {
  cursor: pointer;
  line-height: 1;

  &:hover {
    background-color: $white-ter;
  }
}

.user-search-item--email {
  &:before {
    content: " · ";
  }
}

#messages {
  // Places messages in the top left
  position: sticky;
  top: calc(#{$navbar-height} + 30px);
  z-index: 100;
}

main {
  // Set the minimum height of the main content so that
  // the footer is pushed to the bottom of the screen
  // with only a 4px line to mirror the screen's top border.
  // See https://github.com/jgthms/bulma/issues/47
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$navbar-height} - 4px);
}

.footer {
  a {
    color: $white;
  }
  .columns a {
    margin: 0.5rem;
  }
}

.illustration-backdrop {
  width: 90%;
  margin: 0 5%;

  @media screen and (min-width: $tablet) {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
