@charset "utf-8";

// Import fonts

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

// Bulma variable overrides

$family-sans-serif: "Lato", sans-serif;
$family-monospace: monospace;
$family-primary: $family-sans-serif;
$family-secondary: "Montserrat", sans-serif;

$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1.125rem;
$size-6: 1rem;
$size-7: 0.75rem;

$blue: #2568ef;
$white: #ffffff;

$primary: $blue;

$navbar-padding-vertical: 0.5rem;

$notification-padding: 1rem 2rem 1rem 1rem;

$title-family: $family-secondary;

$footer-background-color: $primary;
$footer-color: $white;
$footer-padding: 2rem 3rem 0.1rem;

// Import Bulma components
// The following are all the SASS files in Bulma 0.8.2
// To keep the size of compiled, production CSS to a minimum, only
// uncomment the imports that are needed.

@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
// @import "../../../node_modules/bulma/sass/utilities/animations.sass";
@import "../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../node_modules/bulma/sass/utilities/controls.sass";

@import "../../../node_modules/bulma/sass/base/minireset.sass";
@import "../../../node_modules/bulma/sass/base/generic.sass";
@import "../../../node_modules/bulma/sass/base/helpers.sass";

@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
// @import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/elements/icon.sass";
@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/elements/notification.sass";
// @import "../../../node_modules/bulma/sass/elements/progress.sass";
// @import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/other.sass";

@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";
@import "../../../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../../../node_modules/bulma/sass/form/select.sass";
@import "../../../node_modules/bulma/sass/form/file.sass";
@import "../../../node_modules/bulma/sass/form/tools.sass";

@import "../../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
// @import "../../../node_modules/bulma/sass/components/list.sass";
@import "../../../node_modules/bulma/sass/components/media.sass";
@import "../../../node_modules/bulma/sass/components/menu.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../node_modules/bulma/sass/components/pagination.sass";
// @import "../../../node_modules/bulma/sass/components/panel.sass";
// @import "../../../node_modules/bulma/sass/components/tabs.sass";

@import "../../../node_modules/bulma/sass/grid/columns.sass";
// @import "../../../node_modules/bulma/sass/grid/tiles.sass";

// @import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/layout/footer.sass";

// Bulma extensions
@import "../../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

// Custom styles
@import "./users/account/email.scss";
@import "./projects/index.scss";

// =============================================================================
// Custom styles
// =============================================================================
@media screen and (max-width: $tablet) {
  // =============================================================================
  // Customize Bulma
  // =============================================================================
  // Typography customization
  .title,
  .is-size-3,
  .title.is-3 {
    font-size: 1.125rem;
  }

  // Add full-width buttons only at mobile breakpoints
  .buttons .button.is-fullwidth-mobile {
    margin-right: 0 !important;
  }

  .button.is-fullwidth-mobile {
    display: flex;
    width: 100%;
  }

  // Standardize horizontal alignment between elements in header and body
  .section {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }

  // Fix left alignment of header logo
  .navbar-logo.navbar-item {
    padding-left: $gap / 2;
  }

  // ===========================================================================
  // Custom elements: mobile breakpoint
  // ===========================================================================
  .sidebar__start {
    background-color: $white-bis;
    border-bottom: 1px solid $white-ter;
    margin-top: -3rem;
    overflow: auto;
    padding-bottom: $gap / 8;
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar__item {
    flex-shrink: 0;

    &:last-child {
      padding-right: 2rem;
    }

    .icon {
      display: none;
    }
  }
}

// =============================================================================
// Reusable elements & Utility classes
// =============================================================================

@media screen and (prefers-reduced-motion: no-preference) {
  .transition-colors {
    transition-duration: 150ms;
    transition-property: color, background-color;
    transition-timing-function: ease-out;
  }
}

.has-text-link-hover:hover {
  @extends transition-colors;
  color: $link !important;
}

a.list-menu--item {
  &:link,
  &:visited {
    @extend .transition-colors;
    color: $text;
    display: block;
    padding: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:hover {
    background-color: $white-ter;
    color: $link;
  }
}

.list-menu--icon {
  margin-right: 0.5rem;
}

// =============================================================================
// Custom elements
// =============================================================================

.navbar {
  // Add a screen top border
  border-top: 3px solid $blue;
}

// Vertically align icons and texts in links
a .icon,
a .icon + span,
.navbar-item .icon,
.navbar-item .icon + span,
.navbar-link .icon,
.navbar-link .icon + span {
  vertical-align: middle;
}

.navbar__user-avatar {
  display: inline-block;
  vertical-align: middle;
}

.menu-list a.is-active {
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  position: relative;

  &::before {
    background-color: $primary;
    content: "";
    left: 0;
    position: absolute;
  }

  @media screen and (max-width: $tablet) {
    &::before {
      bottom: 0;
      height: 2px;
      width: 100%;
    }
  }

  @media screen and (min-width: $tablet) {
    &::before {
      height: 100%;
      top: 0;
      width: 4px;
    }
  }
}

#messages {
  // Places messages in the top left
  position: sticky;
  top: calc(#{$navbar-height} + 30px);
  z-index: 100;
}

main {
  // Set the minimum height of the main content so that
  // the footer is pushed to the bottom of the screen
  // with only a 4px line to mirror the screen's top border.
  // See https://github.com/jgthms/bulma/issues/47
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$navbar-height} - 4px);
}

.footer {
  a {
    color: $white;
  }
  .columns a {
    margin: 0.5rem;
  }
}
