<!DOCTYPE html>
<html>
	<head>
		<title>500 : Stencila</title>
		<style>
			body {
				text-align:center;
				font-family:sans;
				margin-top: 2em;
			}
			p.code {
				color:#444;
			}
		</style>
	</head>
	<body>
		<p><a href="/"><img src="/static/logo-name-400x88.png"></a></p>
		<p>
			Something, somewhere, went wrong. We're sorry about that.
		</p>
		<p>
			We have been notified and will do our best to rectify the problem as soon as possible.
			<!--{% block dynamic %}{{ comment_end|safe }}
			If you need assistance, you may reference this error using the identifier <strong>{{ request.sentry.id }}</strong>.
			{{ comment_begin|safe }}{% endblock %}-->
		</p>
	</body>
</html>
