<!DOCTYPE html>
<html>
	<head>
		<title>500 : Stencila</title>
		<style>
			body {
				text-align:center;
				font-family:sans;
				line-height: 1.5;
				margin: 2em auto;
				max-width: 40em;
			}
			a {
				text-decoration: none;
    			color: #27C708;
			}
		</style>
	</head>
	<body>
		<p><a href="/"><img src="/static/logo-name-400x88.png" width="200px"></a></p>
		<p>
			Something, somewhere, went wrong.
		</p>
		<p>
			We're sorry about that. We have been notified and will do our best to rectify the problem as soon as possible.
			<!--{{ comment_end|safe }}
			{% if sentry_id %}
				If you need assistance, you may reference this error using the identifier <strong>{{ sentry_id }}</strong>.
			{% endif %}
			{{ comment_begin|safe }}-->
		</p>
		<p>
			<a href="https://twitter.com/intent/tweet?screen_name=stencila&text=Something%20went%20wrong..." class="twitter-mention-button" data-size="large">Tweet us @stencila</a>
		</p>
		<p>
			<a href="https://gitter.im/stencila/hub"><img src="/static/logos/chat-on-gitter.png" alt="Chat with us on Gitter"></a>
		</p>
		<!--{{ comment_end|safe }}{% include "_error_details.html" %}{{ comment_begin|safe }}-->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</body>
</html>
