{% load static %}
<header class="ui fixed main menu">
	<div class="ui container">
		<a href="/" class="ui borderless item">
			<img src="{% static 'logo-name-beta.png' %}" class="ui logo">
		</a>
		<div class="ui right menu">
			<div id="new-dropdown" class="ui simple dropdown item">
				<i id="new-button" class="ui big circle plus icon"></i>
				<div class="ui menu">
					<h4 id="new-header" class="ui item">New...</h4>
					<a class="ui item" href="/stencils/new" target="_blank">Stencil</a>
					<a class="ui item" href="/sheets/new" target="_blank">Sheet</a>
					<a class="ui item" href="/sessions/new" target="_blank">Session</a>
				</div>
			</div>
			{% if user.is_anonymous %}
				<div class="ui item">
					<a class="ui compact green button" href="/me/signup">Sign up</a>
				</div>
				<div class="ui item">
					<a class="ui compact blue button" href="/me/signin">Sign in</a>
				</div>
			{% else %}
				<div class="ui simple dropdown item">
					{{ user.username }}
					<i class="ui dropdown icon"></i>
					<div class="ui menu">
						<a class="ui item" href="/me/signout">Signout</a>
						<a class="ui item" href="/me/email/">Email addresses</a>
						<a class="ui item" href="/me/password/change/">Change password</a>
						<a class="ui item" href="/me/social/connections/">Connected accounts</a>
						{% if user.is_staff %}
							<div class="ui divider"></div>
							<a class="ui item" href="/admin/" target="_blank">Admin</a>
						{% endif %}
					</div>
				</div>
				<a id="intercom" class="ui item" title="Get help">
					<i class="ui comment icon"></i>
				</a>
			{% endif %}
		</div>
	</div>
</header>
