{% load static %}
<header class="ui fixed main menu">
	<div class="ui container">
		<a href="/" class="logo-name ui borderless item">
			<img src="{% static 'logo-name-beta.png' %}" class="ui logo">
		</a>
		<div class="ui right menu">
			<a class="section ui item" href="/about">About</a>
			<a class="section ui item" href="/explore">Explore</a>
			<div class="ui simple dropdown item">
				<i class="ui circular inverted plus icon"></i>
				<div class="ui menu">
					<h4 class="header ui item">New...</h4>
					<a class="ui item" href="/stencils/new" target="_blank">Stencil</a>
					<a class="ui item" href="/sheets/new" target="_blank">Sheet</a>
					<a class="ui item" href="/sessions/new" target="_blank">Session</a>
				</div>
			</div>
			<div class="ui simple dropdown item">
				<i class="ui circular inverted list icon"></i>
				<div class="ui menu">
					<h4 class="header ui item">List...</h4>
					{% comment %}
					<a class="ui item" href="/stencils">Stencils</a>
					<a class="ui item" href="/sheets">Sheets</a>
					{% endcomment %}
					<a class="ui item" href="/sessions">Sessions</a>
				</div>
			</div>
			{% if INTERCOM_ON and user.is_authenticated and not user.details.guest %}
				<a id="intercom" class="ui item" title="Get help, ask us a question">
					<i class="ui circular inverted help icon"></i>
				</a>
			{% endif %}
			{% if user.is_anonymous %}
			    <a class="ui item" href="/me/signin" title="Sign in">
			    	<i class="ui circular inverted sign in icon"></i>
				</a>
			{% else %}
				{% if not user.details.guest %}
					<div class="ui simple dropdown item">
						<a href="/me">{{ user.username }}</a>
						<i class="ui dropdown icon"></i>
						<div class="ui menu">
							{# <a class="ui item" href="/me/settings">Settings</a> #}
							<a class="ui item" href="/me/signout">Signout</a>
							<a class="ui item" href="/me/email/">Email addresses</a>
							<a class="ui item" href="/me/password/change/">Change password</a>
							<a class="ui item" href="/me/social/connections/">Connected accounts</a>
							{% if user.is_staff %}
								<div class="ui divider"></div>
								<a class="ui item" href="/admin/" target="_blank">Admin</a>
							{% endif %}
						</div>
					</div>
				{% else %}
					<div class="ui item">
						<div class="ui basic right pointing label">{{ user.username }}</div>
						<a class="ui compact blue button" href="/me/join">Join</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<script type="text/javascript">
		$('header a[title]').popup();
	</script>
</header>
