{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
	{{ block.super }}
	<style>
		body {
			{# Flex causes a flickering footer on this page (cause of other flex elems?) #}
			display:block;
		}

		header>.ui.container>a.logo-name.item {
			display: none;
		}
		
		{# Interferes with revealed header logo #}
		#HW_badge_cont {
			display: none;
		}

		#main {
			padding: 0;
			color: #555;
		}

		#main #intro .logo.image {
			width: 100%;
			max-width: 30em;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		#main #intro .hero {
			max-width: 50em;
			margin-top: 1em;
			margin-bottom: 1em;
		}
		#main #intro .hero p {
			font-size: 130%;
			text-align: center;
		}

		#main #actions {
			margin: auto 0;
		}

		#main #actions .button {
			margin: 0.3em;
			max-width: 15em;
		}

		#main .ui.segments {
		    border: 0;
		    box-shadow: 0 0 0 0;
		    max-width: 30em;
		    margin: 1em auto 3em auto;
		    font-size: 1.4em;
		}
		#main .go-step {
			margin-top: 1em;
		}
		pre {
		    font-size: 14px;
		    overflow: scroll-x;
		    background: #e0e0e0;
		    color: #5e5e5e;
		    padding: 0.5em;
		    border-radius: 5px;
		    max-width: 25em;
		    display: block;
		    margin: 0.5em auto 1em auto;
		}

		#main .quote p:first-child {
			text-align: left;
			color: #888;
			font-style: italic;
			line-height: 1.2em;
		}
		#main .quote .who {
			color: #333;
			font-size: 0.9em;
			text-align: left;
		}
		#main .funders a img,
		#main .partners a img {
			max-height: 80px;
			max-width: 260px;
			margin: 1em;
		}
	</style>
{% endblock %}

{% block main %}

	<div id="intro">
		<div class="logo ui basic segment">
			<img src="{% static 'logo-name.svg' %}" class="logo ui image">
		</div>
		<div class="hero ui basic center aligned centered segment">
			<h1 class="ui huge header">The office suite for reproducible research</h1>
			<p>
				The calls for research to be transparent and reproducible have never been louder.
				But today's tools for reproducible research can be intimidating - especially if you're not a coder.
				We're building software for reproducible research with the intuitive, visual interfaces that you and your colleagues are used to.
			</p>
		</div>
	</div>

	<div class="ui centered basic segment">
		<img class="ui centered image" src="{% static 'images/desktop-screenshot.png' %}">
	</div>

	<div class="ui centered basic segments">
		<h2 class="ui centered grey header">Roadmap</h1>
		<p class="ui center aligned basic segment">
			Stencila is currently in development. We're working towards a 1.0.0-beta release in March 2018. Check out our <a class="ui" href="https://github.com/stencila/stencila#roadmap">feature status and roadmap</a>.
		</p>
		<p class="ui center aligned basic segment">
	    	Help shape Stencila by joining the community <a class="ui" href="https://community.stenci.la/">forum</a>, contributing <a class="ui" href="https://github.com/stencila">code</a>, or following us on <a class="ui" href="https://twitter.com/intent/follow?screen_name=stencila">Twitter</a>!
		</p>
	</div>

	<div class="funders ui centered basic segment">
		<h2 class="ui centered grey header">Funders</h1>
		<div class="ui centered stackable grid">
			<a href="https://sloan.org/programs/digital-technology/data-and-computational-research">
				<img src="{% static 'logos/sloan.png' %}" class="ui image">
			</a>
		</div>
	</div>
	<div class="partners ui centered basic segment">
		<h2 class="ui centered grey header">Partners</h1>
		<div class="ui centered stackable grid">
			<div class="ui row">
				<a href="https://codeforscience.org">
					<img src="{% static 'logos/css.png' %}" class="ui image">
				</a>
				<a href="http://coko.foundation">
					<img src="{% static 'logos/coko.jpg' %}" class="ui image">
				</a>
			</div>
			<div class="ui row">
				<a href="https://datproject.org">
					<img src="{% static 'logos/dat.png' %}" class="ui image">
				</a>
				<a href="https://elifesciences.org/">
					<img src="{% static 'logos/elife.png' %}" class="ui image">
				</a>
				<a href="http://substance.io">
					<img src="{% static 'logos/substance.svg' %}" class="ui image">
				</a>
			</div>
		</div>
	</div>

	<div class="ui basic center aligned centered segment">
		<div class="ui equal width centered stackable grid basic segment">
			<div class="ui five wide column">
				<div class="quote ui item">
					<div class="ui content">
						<p>"This is an extraordinary and important experiment … making spreadsheets testable, versional, and interoperable with R."</p>
						<p class="who">Ian Mulvany, Head of Technology <a class="ui link" href="https://twitter.com/IanMulvany">@IanMulvany</a></p>
					</div>
				</div>
			</div>
			<div class="ui five wide column">
				<div class="quote ui item">
					<div class="ui content">
						<p>"VisiCalc to Excel to @stencila."</p>
						<p class="who">Lorena Barba, Engineering professor <a class="ui link" href="https://twitter.com/LorenaABarba">@LorenaABarba</a></p>
					</div>
				</div>
			</div>
			<div class="ui five wide column">
				<div class="quote ui item">
					<div class="ui content">
						<p>"Stencila incorporates multi-lingual code syntax and git into their model of how a spreadsheet should look, and the results are compelling."</p>
						<p class="who">RJMetrics <a class="ui link" href="https://blog.rjmetrics.com/2016/03/27/data-science-roundup-27-the-future-of-data-tools-plus-the-misadventures-of-tay/">Data Science Roundup</a></p>
					</div>
				</div>
			</div>
			<div class="ui five wide column">
				<div class="quote ui item">
					<div class="ui content">
						<p>"Bridging the gap between Excel and code. Accessible yet potentially powerful"</p>
						<p class="who">Patrick Lee, Data hacker and developer <a class="ui link" href="https://twitter.com/patleeman">@patleeman</a></p>
					</div>
				</div>
			</div>
			<div class="ui five wide column">
				<div class="quote ui item">
					<div class="ui content">
						<p>"The hybrid spreadsheet/R model in @stencila is a really interesting approach to providing the best features from both worlds"</p>
						<p class="who">Mark Sellors, Technical architect <a class="ui link" href="https://twitter.com/sellorm">@sellorm</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
  		$(document).ready(function() {

			$('#intro .logo').visibility({
				once: false,
				onBottomPassed: function() {
					$('header .logo-name').transition('fade in').css("display","inline-block");
				},
				onBottomPassedReverse: function() {
					$('header .logo-name').transition('fade out');
				}
			});

			$('a[href^="#"]').click(function() {
				$('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top-50},700);
				return false;
			});
		});
	</script>

{% endblock %}
