{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}:Stencila</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
		{% block styles %}
			<link rel="stylesheet" type="text/css" href="{% static 'semantic-ui-css/semantic.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
		{% endblock %}
		{% block scripts %}
			<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
			<script src="{% static 'semantic-ui-css/semantic.min.js' %}"></script>
			<script src="{% static 'base.js' %}"></script>
		{% endblock %}
		{% ifnotequal MODE 'local' %}
			{% include "_pingdom.html" %}
		{% endifnotequal %}
	</head>
	<body>
		{% block header %}
			{% include "_header.html" %}
		{% endblock %}
		<main id="main" class="ui main container">
			{% block main %}
			{% endblock %}
		</main>
		{% block footer %}
			{% include "_footer.html" %}
		{% endblock %}
		{% ifnotequal MODE 'local' %}
			{% include "_google-analytics.html" %}
		{% endifnotequal %}
		{% if INTERCOM_ON and request.user.is_authenticated %}
			{% include "_intercom.html" %}
		{% endif %}
	</body>
</html>
