{% extends 'base.html' %}

{% block title %}{{ request.method }} {{ request.path }}{% endblock %}

{% block styles %}
	{{ block.super }}
	<style>
		#hurry {
			margin: 0 1em 1em 0;
		}
		#json .button {
			background: #ECECEC;
			font-weight: normal;
		}
		#data {
			background: #333;
			color: #EEE;
			padding: 1em;
			border-radius: 5px;
		}
	</style>
{% endblock %}

{% block main %}
<h1>{{ request.method }} {{ request.path }}</h1>

<div class="ui attached icon message">
	<i class="ui configure icon"></i>
	<div class="ui header">
		We haven't setup a HTML display for this data yet. 
	</div>
</div>
<div class="ui attached fluid grey segment">
	<div class="ui one column centered grid">
		<div class="ui center aligned column">
			<div id="hurry" class="ui left labeled button">
				<div class="ui basic right pointing label">
					Want us to do it sooner?
				</div>
				<div class="ui green button">
					Yes, hurry up please!
				</div>
			</div>
			<div id="json" class="ui left labeled button">
				<div class="ui basic right pointing label">
					Want plain JSON?
				</div>
				<div class="ui button">
					Add header  <code>Accept: application/json</code>
				</div>
			</div>
		</div>
	</div>
</div>

<pre id="data">{{ data }}</pre>

<script type="text/javascript">
	$('#hurry .button').click(function(){
		var $button = $(this);
		Stencila.post('events',{
			name: 'default-hurry',
			data: {
				page: window.location.href
			}
		}).always(function(){
			$button
				.text('Thanks for letting us know!')
				.addClass('grey disabled')
				.removeClass('green')
				.off();
		});
	});
</script>

{% endblock %}
