{% load static %}
<header class="ui fixed main menu">
	<div class="ui container">
		<a href="/" class="ui header item">
			<img src="{% static 'logo-name-400x88.png' %}" class="ui logo">
		</a>
		<div class="ui secondary right menu">
			{% if user.is_anonymous %}
				<a class="ui item" href="/me/signup">Signup</a>
				<a class="ui item" href="/me/signin">Signin</a>
			{% else %}
				<div class="ui simple dropdown item">
					{{ user.username }}
					<i class="ui dropdown icon"></i>
					<div class="ui menu">
						<a class="ui item" href="/me/signout">Signout</a>
					</div>
				</div>
				<a id="intercom" class="ui item" title="Get help">
					<i class="ui comment icon"></i>
				</a>
			{% endif %}
		</div>
	</div>
</header>
