body {
	
	display:block;
}

header>.ui.container>a.logo-name.item {
	display: none;
}


#HW_badge_cont {
	display: none;
}

#main {
	padding: 0;
	color: #555;
}

#main #intro .logo.image {
	width: 100%;
	max-width: 30em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#main #intro .hero {
	max-width: 50em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#main #intro .hero p {
	font-size: 130%;
	text-align: center;
}

#main #actions {
	margin: auto 0;
}

#main #actions .button {
	margin: 0.3em;
	max-width: 15em;
}

#main .ui.segments {
    border: 0;
    box-shadow: 0 0 0 0;
    max-width: 30em;
    margin: 1em auto 3em auto;
    font-size: 1.4em;
}
#main .go-step {
	margin-top: 1em;
}
pre {
    font-size: 14px;
    overflow: scroll-x;
    background: #e0e0e0;
    color: #5e5e5e;
    padding: 0.5em;
    border-radius: 5px;
    max-width: 25em;
    display: block;
    margin: 0.5em auto 1em auto;
}

#main .quote p:first-child {
	text-align: left;
	color: #888;
	font-style: italic;
	line-height: 1.2em;
}
#main .quote .who {
	color: #333;
	font-size: 0.9em;
	text-align: left;
}
#main .funders a img,
#main .partners a img {
	max-height: 80px;
	max-width: 260px;
	margin: 1em;
}

