{% load i18n humanize stencila %}

<div class="columns is-relative my-0 py-0 {% if is_list_item %}job-list--item{% endif %}">
  <div class="column">
    <div class="mb-1">
      <span class="has-text-weight-bold is-vcentered">
        {% include "./_job_method_tag.html" %}
        <span class="is-vcentered">{{ job.summary_string }}</span>
      </span>
    </div>

    <div class="job-list--meta mb-2">
      <div class="is-inline-block mr-3">
        {% include "./_job_status_tag.html" %}
      </div>
      
      </span>
      {% if show_sub_jobs == None %}
      <span class="job-list__creator">
        {% if job.creator.personal_account.image.medium %}
        <span class="icon is-vcentered pr-1">
          <img src="{{ job.creator.personal_account.image.medium }}"
               role="presentation"></img>
        </span>
        {% endif %}
        <span class="is-vcentered">
          {{ job.creator.username|default:"Anonymous" }}
        </span>
      </span>

      <span alt="{{ job.created }}">
        <span class="icon is-vcentered">
          <i class="ri-calendar-line"></i>
        </span>
        <span class="is-vcentered">
          {{ job.created|naturaltime }}
        </span>
      </span>
      {% endif %}

      {% if job.runtime_formatted %}
      <span>
        <span class="icon is-vcentered">
          <i class="ri-timer-line"></i>
        </span>
        <span class="is-vcentered">
          {{ job.runtime_formatted }}
        </span>
      </span>
      {% endif %}

      <span alt="Job ID">
        <span class="icon is-vcentered">
          <i class="ri-hashtag"></i>
        </span>
        <span class="is-vcentered">
          {{ job.id }}
        </span>
      </span>
    </div>
  </div>

  <div class="column is-2 job-list-item-buttons">
    {% if job.creator ==  request.user or project.role in "MANAGER,OWNER" %}
    {% if job.is_active %}
      <a hx-patch="{% url 'api-projects-jobs-cancel' job.project.id job.id %}"
         hx-swap="none"
         href="#"
         class="button is-danger is-outlined is-fullwidth is-small has-text-weight-bold job-list-item-buttons--cancel">
        <span class="icon"><i class="ri-stop-line"></i></span>
        <span>{% trans "Cancel" %}</span>
      </a>
    {% endif %}
    {% endif %}
    
    {% if is_list_item %}
      <a href="{% url 'ui-projects-jobs-retrieve' job.project.account.name job.project.name job.id %}"
         class="button is-outlined is-fullwidth is-small has-text-weight-bold primary-link">
        <span class="icon"><i class="ri-eye-line"></i></span>
        <span>{% trans "Details" %}</span>
      </a>
    {% endif %}
  </div>

</div>

{% if show_sub_jobs == True %}
{% with jobs=job.get_children %}
{% if jobs %}
<div class="job-list__sub-jobs">
  {% include "./_job_list.html" with show_sub_jobs=True %}
</div>
{% endif %}
{% endwith %}
{% endif %}
