{% load i18n %}

<div {% if job.is_active %} hx-trigger="every 2s"
     hx-get="{% url 'api-projects-jobs-detail' job.project_id job.id %}{% if next %}?next={{ next }}{% endif %}"
     hx-template="projects/jobs/_progress_buttons.html" hx-swap="outerHTML" {% endif %}>
  <progress class="progress is-vcentered is-primary" value="{{ job.runtime_seconds }}"
            max="{{ runtime_expected|default:60 }}">
    {{ job.runtime_formatted }}
  </progress>
  {% if job.error %}
  <p class="notification is-danger is-expanded">
    {{ job.error.message }}
  </p>
  {% endif %}
  <div class="buttons mt-2">
    <button class="button is-primary is-fullwidth-mobile {% if job.is_active %}is-loading{% endif %}"
            {% if job.is_active %} disabled{% endif %} type="submit">
      {% if not job %}
      <span class="icon">
        <i class="{{ begin_icon }}"></i>
      </span>
      <span>
        {% blocktrans %}{{ begin_text }}{% endblocktrans %}
      </span>
      {% elif job.is_active %}
      <span class="icon">
        <i class="ri-cpu-line"></i>
      </span>
      <span>
        {% blocktrans %}Running{% endblocktrans %}
      </span>
      {% elif job.status == "SUCCESS" %}
      <span class="icon">
        <i class="ri-check-line"></i>
      </span>
      <span>
        {% blocktrans %}Finished{% endblocktrans %}
      </span>
      {% elif job.error %}
      <span class="icon">
        <i class="ri-error-warning-line"></i>
      </span>
      <span>
        {% blocktrans %}Errored{% endblocktrans %}
      </span>
      {% endif %}
    </button>
    <a class="button is-outlined is-fullwidth-mobile" href="{{ next }}">
      <span class="icon">
        <i class="ri-arrow-go-back-line"></i>
      </span>
      {% if job.is_active %}
      <span>{% trans "Cancel" %}</span>
      {% else %}
      <span>{% trans "Close" %}</span>
      {% endif %}
    </a>
  </div>
</div>
