{% comment %}
A partial for displaying a job (with updating, via polling).

This is a partial (a) so that it can be included in pages for other
objects e.g. a page for a source, or a modal and (b) because it
is self-replacing (see below).

If the job is active then will have `hx-trigger="every 2s"` so that it's status,
results etc get updated. Uses `hx-swap="outerHTML"` so that the trigger
is removed when the job is inactive.
{% endcomment %}

{% load i18n humanize stencila %}

<div {% if job.is_active %} hx-trigger="every 3s" hx-get="{% url 'api-projects-jobs-detail' job.project.id job.id %}"
     hx-template="projects/jobs/_retrieve.html" hx-swap="outerHTML" {% endif %}>
  {% include "./_job_item.html" %}

  {% if job.log %}
  <hr />
  <h2 class="title is-4">{% trans "Log" %}</h2>
  {% for log in job.log %}
  <p>Level {{ log.level }}: {{ log.message }}</p>
  {% endfor %}
  {% endif %}

  {% if job.result %}
  <hr />
  <h2 class="title is-4">{% trans "Result" %}</h2>
  <pre>{{ job.result_prettified }}</pre>
  {% endif %}

  {% with children=job.children.all %}
  {% if children %}
  <hr />
  <h2 class="title is-4">{% trans "Sub-Jobs" %}</h2>
  <ol class="job-list">
    {% for child in children %}
    <li>
      {% include "./_job_item.html" with job=child is_list_item=True show_sub_jobs=True %}
    </li>
    {% endfor %}
  </ol>
  {% endif %}
  {% endwith %}

</div>
