
<!-- TODO: Hide tabs based on allowed permission -->
<!-- TODO: Add is-active class based on current tag -->

<aside class="menu">
  <ul class="menu-list is-flex-mobile">
    {% include "accounts/_account_nav_item.html" with permission_required='modify' tab_id='profile' url_name='account_profile' icon_class='profile' tab_name='Profile' %}
    {% include "accounts/_account_nav_item.html" with permission_required='administer' tab_id='members' url_name='account_access' icon_class='user' tab_name='Members' %}
    {% include "accounts/_account_nav_item.html" with permission_required='modify' tab_id='teams' url_name='account_team_list' icon_class='group' tab_name='Teams' %}
    {% include "accounts/_account_nav_item.html" with permission_required='administer' tab_id='subscriptions' url_name='account_subscriptions' icon_class='bank-card' tab_name='Subscriptions' %}
    {% include "accounts/_account_nav_item.html" with permission_required='administer' tab_id='settings' url_name='account_settings' icon_class='settings-4' tab_name='Settings' %}
  </ul>
</aside>
