{% extends 'base_full.html' %}
{% load i18n %}

{% block sidebar_start %}
<div class="is-hidden-mobile">
  {% if account.image %}
  <img src="{{ account.image.large }}" alt="{{ account.name }}"></img>
  {% endif %}
  <h1 class="is-size-3 has-text-weight-bold">{{ account.name }}</h1>

  <p>
    <a href="#" class="has-text-grey has-text-link-hover">
      <span class="icon">
        <i class="ri-links-line"></i>
      </span>
      <span>
        http://stenci.la
      </span>
    </a>
  </p>

  <p>
    <a href="#" class="has-text-grey has-text-link-hover">
      <span class="icon">
        <i class="ri-mail-line"></i>
      </span>
      <span>
        hello@stenci.la
      </span>
    </a>
  </p>

  <hr />
</div>
{% include './_account_sidebar_start.html' with account=account %}
{% endblock %}

{% block hide_sidebar_end %}
{% endblock %}


{% block layout_content %}
<div class="is-hidden-tablet">
  <div class="media is-mobile">
    <div class="media-left">
      {% if account.image %}
      <img src="{{ account.image.medium }}"></img>
      {% endif %}
    </div>
    <div class="media-content">
      <h1 class="is-size-4 has-text-weight-bold">{{ account.name }}</h1>

      <p>
        <a href="#" class="has-text-grey has-text-link-hover">
          <span class="icon">
            <i class="ri-links-line"></i>
          </span>
          <span>
            http://stenci.la
          </span>
        </a>
      </p>

      <p>
        <a href="#" class="has-text-grey has-text-link-hover">
          <span class="icon">
            <i class="ri-mail-line"></i>
          </span>
          <span>
            hello@stenci.la
          </span>
        </a>
      </p>
    </div>
  </div>

  <hr />
</div>

{% block accounts_content %}{% endblock %}

{% endblock %}
