<section class="pricing-faq">
  <h3 class="title is-3 has-text-centered has-text-grey mt-6">
    FAQ
  </h3>

  <h4 class="title is-4 mt-6 mb-1">
    Personal vs Organization plans
  </h4>
  <p>
    Plans can be added to either your personal account, or to an Organization. Organizations allow you to create teams,
    and invite users with different permissions.
  </p>
  <p>
    You can create as many Organizations as you need, but each one will require its own subscription plan.
  </p>

  <h4 class="title is-4 mt-6 mb-1">
    What happens when I reach a plan&rsquo;s limit?
  </h4>
  <p>
    You will never be charged an overage fee. If you reach a storage limit, you will be unable to add more content until
    you free up some space. For compute minutes, you—or people attempting to run your project—will be unable to launch a
    compute session until the next billing cycle.
  </p>
</section>
