{% load stencila i18n %}

<ul class="menu-list is-flex-mobile overflow-x-auto">
  <a href="{% url 'ui-accounts-profile' account.name %}"
     class="list-menu--item {% is_active 'ui-accounts-profile' %}">
    <span class="icon list-menu--icon"><i class="ri-user-line"></i></span>
    <span>
      {% trans 'Profile' %}
    </span>
  </a>
  <a href="{% url 'ui-accounts-publishing' account.name %}"
     class="list-menu--item {% is_active 'ui-accounts-publishing' %}">
    <span class="icon list-menu--icon"><i class="ri-global-line"></i></span>
    <span>
      {% trans 'Publishing' %}
    </span>
  </a>
  <a href="{% url 'account_change_password' %}"
     class="list-menu--item {% is_active 'account_change_password' %}">
    <span class="icon list-menu--icon"><i class="ri-key-line"></i></span>
    <span>
      {% trans 'Password' %}
    </span>
  </a>
  <a href="{% url 'account_email' %}"
     class="list-menu--item {% is_active 'account_email' %}">
    <span class="icon list-menu--icon"><i class="ri-mail-line"></i></span>
    <span>
      {% trans 'Emails' %}
    </span>
  </a>
  <a href="{% url 'socialaccount_connections' %}"
     class="list-menu--item {% is_active 'socialaccount_connections' %}">
    <span class="icon list-menu--icon"><i class="ri-user-settings-line"></i></span>
    <span>
      {% trans 'Connections' %}
    </span>
  </a>
  <a href="{% url 'ui-users-invites-list' %}"
     class="list-menu--item {% is_active 'ui-users-invites' %}">
    <span class="icon list-menu--icon"><i class="ri-mail-star-line"></i></span>
    <span>
      {% trans 'Invites' %}
    </span>
  </a>
  <a href="{% url 'ui-users-features' %}"
     class="list-menu--item {% is_active 'ui-users-features' %}">
    <span class="icon list-menu--icon"><i class="ri-settings-line"></i></span>
    <span>
      {% trans 'Features & privacy' %}
    </span>
  </a>
</ul>
