{% load stencila i18n %}

{% if role %}
<div class="menu">
  <ul class="menu-list is-flex-mobile">
    <li class="sidebar__item">
      <a href="{% url 'ui-accounts-retrieve' account.name %}"
         class="panel-block transition-colors {% is_active 'ui-accounts-retrieve' account.name %}">
        <span class="icon">
          <i class="ri-profile-line"></i>
        </span>
        <span>
          {% trans 'Profile' %}
        </span>
      </a>
    </li>

    <li class="sidebar__item">
      <a href="{% url 'ui-users-list' account.name %}"
         class="panel-block transition-colors {% is_active 'ui-users-list' account.name %}">
        <span class="icon">
          <i class="ri-user-line"></i>
        </span>
        <span>
          {% trans 'Users' %} {% if account.users.count %}<span
                class="tag is-light">{{ account.users.count }}</span>{% endif %}
        </span>
      </a>
    </li>

    <li class="sidebar__item">
      <a href="{% url 'ui-teams-list' account.name %}"
         class="panel-block transition-colors {% is_active 'ui-teams-list' account.name %}">
        <span class="icon">
          <i class="ri-group-line"></i>
        </span>
        <span>
          {% trans 'Teams' %} {% if account.teams.count %}<span
                class="tag is-light">{{ account.teams.count }}</span>{% endif %}
        </span>
      </a>
    </li>

    {% if role in 'MANAGER, ADMIN' %}
    <li class="sidebar__item">
      <a href="{% url 'ui-accounts-update' account.name %}"
         class="panel-block transition-colors {% is_active 'ui-accounts-update' account.name %}">
        <span class="icon">
          <i class="ri-settings-4-line"></i>
        </span>
        <span>
          {% trans 'Settings' %}
        </span>
      </a>
    </li>
    {% endif %}

    {% if role == 'ADMIN' %}
    {% comment %}
    <li class="sidebar__item">
      <a href="#" class="panel-block transition-colors">
        <span class="icon">
          <i class="ri-bank-card-line"></i>
        </span>
        <span>
          {% trans 'Billing' %}
        </span>
      </a>
    </li>
    {% endcomment %}
    {% endif %}
  </ul>
</div>
{% endif %}
