{% comment %}
Profile related fields of an account.

This is a seperate partial to `accounts/_update_profile_form.html`
so that these fields can also be used in `accounts/create.html`.
{% endcomment %}

{% if account.is_personal %}
{% include "serializers/_field.html" with field=serializer.first_name icon="ri-honour-line" %}
{% include "serializers/_field.html" with field=serializer.last_name icon="ri-honour-line" %}
{% else %}
{% include "serializers/_field.html" with field=serializer.display_name icon="ri-honour-line" %}
{% endif %}
{% include "serializers/_field.html" with field=serializer.location icon="ri-map-pin-line" %}
{% include "serializers/_field.html" with field=serializer.website icon="ri-links-line" %}
{% include "serializers/_field.html" with field=serializer.email icon="ri-mail-line" %}
