{% extends 'base_centered.html' %}
{% load i18n %}

{% comment %}
Template for providing a listing of accounts, either personal or
organizational. See use of `is_orgs` and `is_users` below.
These could easily be separated into two separate templates
if necessary.
{% endcomment %}

{% block title %}{% if is_orgs %}{% trans "Organizations" %}{% else %}{% trans "Users" %}{% endif %}{% endblock %}

{% block layout_content %}
  <h2 class="title">
    {% if is_orgs %}{% trans "Organizations" %}{% else %}{% trans "Users" %}{% endif %}
  <h2>

  {% for account in accounts %}
      <a href="{% url 'ui-accounts-retrieve' account.name %}" class="list-menu--item">

  <div class="level is-mobile">
    <div class="level-left">
        {% if account.image %}
          <span class="icon is-medium list-menu--icon">
            <img src="{{ account.image.medium }}">
          </span>
        {% endif %}

        <span class="has-text-weight-bold">
          {{ account.name }}
        </span>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-arrow-right-s-line"></i></span>
      </div>
    </div>

    </div>
      </a>
  {% endfor %}
{% endblock %}
