{% load i18n %}

<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button is-small has-text-weight-bold" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>
        <i class="ri-more-2-line"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu has-text-left" role="menu">
    <div class="dropdown-content">
      {% with open_url=file.open_url %}
      {% if open_url %}
      <a href="{{ open_url }}" target="_blank" rel="noopener" class="dropdown-item">
        <span class="icon">
          <i class="ri-external-link-line"></i>
        </span>
        <span>{% trans "Open" %}</span>
      </a>
      {% endif %}
      {% endwith %}

      {% with download_url=file.download_url %}
      {% if download_url %}
      <a href="{{ download_url }}" class="dropdown-item">
        <span class="icon">
          <i class="ri-download-line"></i>
        </span>
        <span>{% trans "Download" %}</span>
      </a>
      {% endif %}
      {% endwith %}

      {% if project.role in 'AUTHOR, MANAGER, OWNER' %}
      <hr class="dropdown-divider">
      {% if file.id != project.main_id %}
      <a class="dropdown-item" hx-patch="{% url 'api-projects-detail' project.id %}" include-vals="main: {{file.id}}"
         hx-swap="none" hx-redirect="UPDATED:{% url 'ui-projects-files-list' project.account.name project.name %}">
        <span class="icon">
          <i class="ri-honour-line"></i>
        </span>
        <span>{% trans "Main file" %}</span>
      </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
