{% load stencila %}

<div class="dropdown-menu has-text-left" role="menu" {% if id %}id="{{ id }}" {% endif %}>
  {% url 'ui-projects-files-convert' account.name project.name file.path as convert_url %}
  <div class="dropdown-content">
    {% file_format_convert_to_options mimetype=file.mimetype as formats %}
    {% for format in formats %}
    <a href="{{ convert_url }}?next={{ request.path }}&format={{ format.format_id }}" class="dropdown-item">
      <span class="icon"><i class="{{ format.icon_class }}"></i></span>
      <span>{{ format.label }}</span>
      <span class="">({{ format.default_extension }})</span>
    </a>
    {% endfor %}
    <a href="{{ convert_url }}?next={{ request.path }}" class="dropdown-item">
      <span class="icon"><i class="ri-file-3-line"></i></span>
      <span>Other</span>
    </a>
  </div>
</div>
