{% load i18n stencila %}

{% comment %}

1. User enters the new file path, confirms the format and submits
2a. If form is invalid then this template is rerendered with errors
2b. If form is valid, then a `job` is passed to this template and it's progress is displayed
3. When the job ends (success or failure), this page redirects to the files list view
which (if successful) has the new file in it.

{% endcomment %}

<form hx-post="{% url 'api-projects-files-convert' project.id file.id %}" hx-template="projects/files/_convert.html">

  <h1 class="title is-3">{% trans "Convert to..." %}</h1>

  <div class="field has-addons has-addons-centered">
    <div class="control is-expanded">
      <input class="input" name="path" id="path" type="text" placeholder="Path for the new file" autofocus=""
             {% if path %} value="{{ path }}" {% endif %}>
    </div>
    <div class="control">
      <span class="select">
        <select name="format">
          {% file_format_convert_to_options as formats %}
          {% for name, value in formats %}
          <option value="{{value|lower}}" {% if format == value %} selected{% endif %}>{{name}}</option>
          {% endfor %}
        </select>
      </span>
    </div>
  </div>

  {% if not next %}
  {% url 'ui-projects-files-retrieve' project.account.name project.name file.path as next %}
  {% endif %}
  {% include "projects/jobs/_progress_buttons.html" with begin_icon="ri-file-3-line" begin_text="Convert" runtime_expected=5 %}

</form>
