{% load i18n stencila %}

{% comment %}

1. User enters the new file path, confirms the format and submits
2a. If form is invalid then this template is rerendered with errors
2b. If form is valid, then a `job` is passed to this template and it's progress is displayed
3. When the job ends (success or failure), this page redirects to the new file.

{% endcomment %}

<form hx-post="{% url 'api-projects-files-convert' project.id file.id %}"
      hx-vars="next: '{% url 'ui-projects-files-list' project.account.name project.name %}' + document.querySelector('#path').value + '!details'"
      hx-template="projects/files/_convert.html">

  <h1 class="title is-4">{% blocktrans with path=file.path %}Convert <code>{{ path }}</code> to...{% endblocktrans %}
  </h1>

  <div class="field has-addons has-addons-centered">
    <div class="control is-expanded">
      <input class="input" name="path" id="path" type="text" placeholder="Path for the new file" autofocus=""
             {% if path %} value="{{ path }}" {% endif %}>
    </div>
    <div class="control">
      <span class="select">
        <select name="format">
          {% file_format_convert_to_options mimetype=file.mimetype as formats %}
          {% for option in formats %}
          <option value="{{ option.format_id }}" {% if format == option.format_id %} selected{% endif %}>
            {{ option.label }} ({{ option.default_extension }})
          </option>
          {% endfor %}
        </select>
      </span>
    </div>
  </div>

  {% if not prev %}
  {% url 'ui-projects-files-retrieve' project.account.name project.name file.path as prev %}
  {% endif %}

  {% include "projects/jobs/_progress_buttons.html" with begin_icon="ri-file-3-line" begin_text="Convert" runtime_expected=5 %}

</form>
