{% load i18n humanize stencila %}

{% is_active 'ui-projects-files' as is_root_files_list %}

{% if files %}
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr class="table-header is-sr-only">
      <th>
        {% trans "Type" %}
      </th>
      <th>
        {% trans "Path" %}
      </th>
      <th>
        {% trans "Source" %}
      </th>
      <th>
        {% trans "Last modified" %}
      </th>
      <th>
        {% trans "Size" %}
      </th>
    </tr>
  </thead>
  <tbody id="file-list">
    {% for file in files %}
    {% with account=file.project.account project=file.project %}
    <tr>
      <td class="source-table--file-type pr-0 is-vcentered">
        {% if file.is_directory %}
        <span class="has-tooltip-top has-tooltip-text-centered image-tooltip" data-tooltip="Directory">
          <i class="ri-folder-line"></i>
        </span>
        {% else %}
        {% include './_mimetype_icon.html' with mimetype=file.mimetype %}
        {% endif %}
      </td>
      <td class="is-vcentered">
        {% if file.is_directory %}
        <a href="{% url 'ui-projects-files-list' account.name project.name file.path %}">
          {{ file.name }}
        </a>
        {% else %}
        {{ file.name|default:file.path }}
        {% endif %}
      </td>
      <td class="is-vcentered">
        {% if file.is_directory %}
        {% for source in file.source %}
        <a href="{% url 'ui-projects-sources-retrieve' account.name project.name source.id %}">
          {% include '../sources/_sourcetype_icon.html' with sourcetype=source.type_name tooltip=source.address %}
        </a>
        {% endfor %}
        {% else %}
        <a href="{% url 'ui-projects-sources-retrieve' account.name project.name file.source.id %}">
          {% include '../sources/_sourcetype_icon.html' with sourcetype=file.source.type_name tooltip=file.source.address %}
        </a>
        {% endif %}
      </td>
      <td class="is-vcentered">
        {{ file.modified|naturaltime }}
      </td>
      <td class="is-vcentered">
        {{ file.size|format_bytes }}
        {% if file.is_directory %}
        <span class="tag is-light">{{ file.count }}</span>
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% elif is_root_files_list %}
{% include "../_assets_empty_state.html" with asset_type="file" %}
{% endif %}
