{% load i18n humanize stencila %}

{% with account=project.account files_count=files|length %}

<div class="level">
  <div class="level-right">
    <div class="level-item">
      {% if breadcrumbs|length > 1 %}
      <nav class="breadcrumb mb-2"
           aria-label="breadcrumbs">
        <ul>
          {% for breadcrumb in breadcrumbs %}
          <li class="{% if forloop.last %}is-active{% endif %}">
            <a href="{% url 'ui-projects-files-list' project.account.name project.name breadcrumb.1 %}"
               {% if forloop.last %}aria-current="page"
               {% endif %}>
              {% if forloop.first %}
              <span class="icon">
                <i class="ri-home-line"></i>
              </span>
              {% else %}
              {{ breadcrumb.0 }}
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <form class="field width-full">
        <label class="is-sr-only"
               for="file-filter">
          {% trans "File filter" %}
        </label>
        <div class="control has-icons-left has-icons-right is-expanded">
          <input id="file-filter"
                 class="input is-small-mobile"
                 type="text"
                 name="search"
                 placeholder="{% trans "Filter files by name…" %}"
                 hx-trigger="keyup changed delay:500ms"
                 hx-get="{% url 'api-projects-files-list' project.id %}?prefix={{ prefix }}{% if source %}&source={{ source.id }}{% endif %}{% if snapshot %}&snapshot={{ snapshot.id }}{% endif %}"
                 hx-template="projects/files/_list.html"
                 hx-indicator="#file-filter-indicator"
                 hx-select="#file-table"
                 hx-target="#file-table">
          <span class="icon is-small is-left">
            <i class="ri-filter-line"></i>
          </span>
          <span id="file-filter-indicator"
                class="icon is-small is-right htmx-indicator">
            <i class="ri-loader-line"></i>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<table id="file-table"
       class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr class="table-header">
      <th>
        {% trans "Type" %}
      </th>
      <th>
        {% trans "Path" %}
      </th>
      <th class="is-sr-only-mobile">
        {% trans "Last modified" %}
      </th>
      <th class="is-sr-only-mobile">
        {% trans "Size" %}
      </th>
      <th>
        <span class="is-sr-only">
          {% trans "Actions" %}
          <span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for file in files|slice:":100" %}
    <tr>
      <td class="source-table--file-type pr-0 is-vcentered">
        {% if file.is_directory %}
        <span class="has-tooltip-top has-tooltip-text-centered image-tooltip has-tooltip-bottom has-text-weight-bold"
              data-tooltip="Directory with {{file.count}} file{{ file.count|pluralize }}">
          <i class="ri-folder-line"></i>
        </span>
        {% else %}
        {% include './_format_icon.html' with mimetype=file.mimetype %}
        {% endif %}
      </td>
      <td class="is-vcentered table-icon-label has-text-black has-text-weight-bold">
        {% if snapshot %}

        {# The below links do not work for files or directories in a snapshot so skip them here #}
        <span>{{ file.name }}</span>

        {% else %}

        {% if file.is_directory %}
        <a href="{% url 'ui-projects-files-list' account.name project.name file.path %}"
           class="has-text-black has-text-link-hover">
          {{ file.name }}
        </a>
        {% else %}
        <a href="{% url 'ui-projects-files-retrieve' account.name project.name file.path %}"
           class="has-text-black has-text-link-hover">
          {{ file.name|default:file.path }}
        </a>
        {% if project.main and project.main == file.path %}
        <span class="tag is-primary is-light">{% trans 'Main' %}</span>
        {% endif %}
        {% endif %}

        {% endif %}
      </td>

      {% comment %}
      This section is for visualization of pipelines (sources and upstream files) and needs
      reconsideration and optimization so that it will work efficiently with a large number of files.

      {% flag 'ui-pipelines' %}
      <td class="is-vcentered">
        {% if is_root_files_list and not file.is_directory %}
        {% if source %}
        <a href="{% url 'ui-projects-sources-retrieve' account.name project.name source.address %}"
           class="has-text-black has-text-link-hover">
          {% include '../sources/_source_type_icon.html' with type=source.type_name tooltip=source.address %}
        </a>
        {% elif upstreams %}
        <span>
          {% for upstream in upstreams %}
          <a href="{% url 'ui-projects-files-retrieve' account.name project.name upstream.path %}"
             class="has-text-black has-text-link-hover">
            {% include '../files/_format_icon.html' with mimetype=upstream.mimetype tooltip=upstream.path %}
          </a>
          {% endfor %}
          {% endif %}
        </span>
        {% endif %}
      </td>
      {% endflag %}

      {% endcomment %}

      <td class="is-vcentered is-sr-only-mobile">
        {{ file.modified|naturaltime }}
      </td>
      <td class="is-vcentered is-sr-only-mobile">
        {{ file.size|format_bytes }}
      </td>
      <td class="has-text-right is-vcentered"
          style="weight: 1em;">
        {% if not file.is_directory and not snapshot %}
        {% include "./_actions_menu.html" %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if files_count > 100 %}
<p class="notification is-warning">
  {% trans 'The maximum number of files that can be listed is currently 100.' %}
</p>
{% endif %}

{% endwith %}
