{% extends '../base.html' %}
{% load i18n %}

{% block title %}Files : {{ project.name }}{% endblock %}

{% block projects_content %}

{% if breadcrumbs|length == 1 %}
{% include '../_project_hero.html' %}
<hr />
{% endif %}

<div class="level level-reverse-mobile">
  <div class="level-left">
  </div>

  {% if project.role in 'AUTHOR, MANAGER, OWNER' %}
  <div class="level-right buttons has-flex-justify-content-end-mobile is-flex">
    <a class="button is-small-mobile is-expanded-mobile" hx-post="{% url 'api-projects-snapshots-list' project.id %}"
       hx-swap="none" hx-redirect="CREATED:Location">
      <span class="icon">
        <i class="ri-camera-line"></i>
      </span>
      <span>
        {% trans "Snapshot" %}
      </span>
    </a>

    <div class=" is-expanded-mobile">
      {% include '../sources/_create_menu.html' with classes="width-full" %}
    </div>
  </div>
  {% endif %}
</div>

{% if files %}
{% include './_list.html' %}
{% else %}
{% include "../_assets_empty_state.html" with asset_type="file" %}
{% endif %}

{% endblock %}
