{% extends 'base_centered.html' %}
{% load i18n %}

{% block title %}{% trans "Upload file" %}{% endblock %}

{% block layout_content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <h1 class="title is-3">{% trans "Upload file" %}</h1>

  <div class="field">
    <div class="control">
      <input class="input" type="text" value="{{ path }}" readonly>
    </div>
  </div>

  <div class="field has-addons-tablet">
    <div class="control">
      <div class="file has-name">
        <label class="file-label">
          <input class="file-input" type="file" name="file">
          <span class="file-cta">
            <span class="file-icon">
              <i class="ri-file-upload-line"></i>
            </span>
            <span class="file-label">
              {% trans "Choose a file…" %}
            </span>
          </span>
          <span class="file-name">
            {% trans "No file chosen" %}
          </span>
        </label>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary is-fullwidth-mobile" type="submit">
        {% trans "Upload" %}
      </button>
    </div>
  </div>

</form>
{% endblock %}
