@import "./teams/index.scss";
@import "./users/email.scss";

// =============================================================================
// Pricing
// =============================================================================
.pricing-table {
  margin: 0;
}

.pricing-table__item {
  border-radius: 4px;
  border: 1px solid $grey-lightest;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: $gap / 2;
  text-align: center;

  p {
    margin-bottom: $gap / 4;

    * {
      vertical-align: middle;
    }
  }
}

.pricing-table__price {
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.pricing-table__frequency {
  padding-left: 0.25rem;
  line-height: 1;
  font-variant: small-caps;
  text-transform: lowercase;
}

.and-more {
  color: $grey;
  letter-spacing: 1px;
  line-height: 1;
  position: relative;

  &:after {
    background-color: $grey-lightest;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 60%;
    width: 100%;
  }

  span {
    background-color: $white;
    font-variant: small-caps;
    padding: 0 .5rem;
    position: relative;
    text-transform: lowercase;
    z-index: 1;
  }
}

.pricing-faq {
  & > * {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
}

// =============================================================================
// Invitations
// =============================================================================
.invite-list-item {
  padding: ($gap / 2) ($gap / 4);
  border-bottom: 1px solid $grey-lightest;


  &:last-child {
    border-bottom: none;
  }

  @media screen and (max-width: $tablet) {
    .level-left + .level-right {
      margin-top: $gap / 4;
    }
  }

  .tag {
    height: 2.5em;
  }
}
