@import "./teams/index.scss";
@import "./users/email.scss";

// =============================================================================
// Pricing Table
// =============================================================================
.pricing-table {
  margin: 0;
}

.pricing-table__item {
  border: 1px solid $grey-lightest;
  border-radius: 4px;
  padding: $gap / 2;

  p {
    margin-bottom: $gap / 4;

    * {
      vertical-align: middle;
    }
  }
}

// =============================================================================
// Invitations
// =============================================================================
.invite-list-item {
  padding: ($gap / 2) ($gap / 4);
  border-bottom: 1px solid $grey-lightest;


  &:last-child {
    border-bottom: none;
  }

  @media screen and (max-width: $tablet) {
    .level-left + .level-right {
      margin-top: $gap / 4;
    }
  }

  .tag {
    height: 2.5em;
  }
}
