{% extends "base_centered.html" %}
{% load i18n %}
{% block title %}{% trans "Manage account connections" %}{% endblock %}

{% block layout_content %}
<h1 class="title">
  <span class="icon">
    <i class="ri-external-link-line"></i>
  </span>
  <span>
    {% trans "External account connections" %}
  </span>
</h1>
{% if form.accounts %}
<p class="help mb-3">
  {% blocktrans %}The following external accounts are connect to your Stencila Hub account.{% endblocktrans %}
</p>
<form method="post" action="{% url 'socialaccount_connections' %}">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div id="errorMsg">{{ form.non_field_errors }}</div>
  {% endif %}

  {% for base_account in form.accounts %}
  {% with base_account.get_provider_account as account %}
  {% with account.get_brand as provider %}
  <div class="field">
    <div class="level is-mobile">
      <div class="level-left">
        <span class="icon list-menu--icon">
          {% if provider.id in "github,google,twitter" %}
          <i class="ri-{{provider.id}}-line"></i>
          {% else %}
          <i class="ri-shield-user-line"></i>
          {% endif %}
        </span>
        <p class="is-uppercase-heading has-text-weight-semibold">
          {{ provider.name }}
        </p>
      </div>
      <div class="level-right">
        <div class="control">
          <label class="radio" for="id_account_{{ base_account.id }}">
            <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}" />
          </label>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}
  {% endwith %}
  {% endfor %}

  <div class="level is-mobile">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="field">
        <div class="control">
          <input type="submit" class="button is-danger" value="{% trans 'Remove' %}">
        </div>
      </div>
    </div>
  </div>
</form>
{% else %}
<p class="help">{% trans 'You currently have no social network accounts connected to this account.' %}</p>
{% endif %}

<hr />

<h2 class="title is-5">{% trans 'Connect an external account' %}</h2>
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<a title="{{brand.name}}" class="list-menu--item socialaccount_provider {{provider.id}} {{brand.id}}"
   href="{% provider_login_url provider.id openid=brand.openid_url process='connect' action='reauthenticate' %}">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon list-menu--icon">
        {% if brand.name|lower in "github,google,twitter" %}
        <i class="ri-{{brand.name|lower}}-line"></i>
        {% else %}
        <i class="ri-shield-user-line"></i>
        {% endif %}
      </span>
      <p class="is-uppercase-heading has-text-weight-semibold">{{brand.name}}</p>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-add-line"></i></span>
      </div>
    </div>
  </div>
</a>
{% endfor %}
{% endif %}
<a title="{{provider.name}}" class="list-menu--item socialaccount_provider {{provider.id}}"
   href="{% provider_login_url provider.id process='connect' scope=scope auth_params=auth_params action='reauthenticate' %}">
  <div class="level is-mobile">
    <div class="level-left">
      <span class="icon list-menu--icon">
        {% if provider.name|lower in "github,google,twitter" %}
        <i class="ri-{{provider.name|lower}}-line"></i>
        {% else %}
        <i class="ri-shield-user-line"></i>
        {% endif %}
      </span>
      <p class="is-uppercase-heading has-text-weight-semibold">{{provider.name}}</p>
    </div>
    <div class="level-right">
      <div class="control">
        <span class="icon"><i class="ri-add-line"></i></span>
      </div>
    </div>
  </div>
</a>
{% endfor %}

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
