{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<section class="section">
  <h3 class="title is-3">{% trans "Sign Up" %}</h3>

  <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
    {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
  </p>

  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {% include "forms/form.html" with form=form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button is-primary" type="submit">{% trans "Sign me up!" %}</button>
  </form>
</section>
{% endblock %}
