////
/// Variables - overrides & additions.
////

/// Bulma settings
$body-background-color: $light

/// Bluma menu.
$menu-item-active-color: $primary
$menu-item-active-background-color: $light

/// Bulma forms
$input-shadow: none
$input-border-color: rgba($black, 0.1)
$input-focus-border-color: $primary
$input-focus-box-shadow-color: transparent
$label-color: rgba($black, 0.5)

/// Colours
$link: $dark

/// Drop down


/// Hamburger
$hamburger-layer-border-radius: 0
$hamburger-layer-color: $primary
$hamburger-hover-opacity: 1.0
$hamburger-padding-x: 0
$hamburger-padding-y: 10px
$hamburger-layer-width: 30px
$hamburger-layer-height: 4px
$hamburger-layer-spacing: 4px