////
/// Variables - overrides & addtions.
////

/// Bluma menu.
$menu-item-active-color: $primary
$menu-item-active-background-color: $light

/// Drop down


/// Hamburger
$hamburger-layer-border-radius: 0
$hamburger-layer-color: $primary
$hamburger-hover-opacity: 1.0
$hamburger-padding-x: 0
$hamburger-padding-y: 10px
$hamburger-layer-width: 30px
$hamburger-layer-height: 4px
$hamburger-layer-spacing: 4px