////
/// Variables - overrides & addtions.
////

/// Bluma menu.
$menu-item-active-color: $primary
$menu-item-active-background-color: $light

/// Drop down

/// Hamburger
$hamburger-layer-border-radius: 0
$hamburger-layer-color: rgba($black, 0.2)
$hamburger-active-layer-color: $primary
$hamburger-padding-x: 0
$hamburger-padding-y: 10px
$hamburger-layer-width: 30px
$hamburger-layer-height: 2px
$hamburger-layer-spacing: 8px