{% extends 'open/main.html' %}
{% block main %}
    <iframe class="open-embed" id="article_display_{{ public_id }}" src="{{ raw_source }}"></iframe>
    {% if user_owns_conversion %}
        {% if log_messages %}
            <div class="modal" id="warnings_modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">
                           <span class="icon has-text-warning is-large">
                               <i class="fas fa-exclamation-triangle"></i></span>
                            WARNINGS
                        </p>
                        <button class="delete" aria-label="close" id="warnings_modal_close"></button>
                    </header>
                    <section class="modal-card-body">
                        <ul>
                            {% for log_message in log_messages %}
                                <li><strong>{{ log_message.level_to_name }}</strong> {{ log_message.message }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        {% endif %}
        <footer class="footer conversions-footer">
            <div class="is-pulled-right">
                {% if log_messages %}
                    <button class="button is-borderless" id="warnings_button">
                        <span class="icon has-text-warning"><i class="fas fa-exclamation-triangle"></i></span>
                        <span class="is-borderless-text">{{ log_messages|length }} warning{{ log_messages|pluralize }}</span>
                    </button>
                {% endif %}
                <button class="button is-primary">
                    <span class="icon"><i class="far fa-comment-alt"></i></span>
                    <span>Feedback</span>
                </button>
            </div>
        </footer>
    {% endif %}
    <script type="text/javascript">
      let conversionsFooter = document.querySelector('.conversions-footer')
      let pageFooter
      let pageFooterPosition = -1
      let conversionFooterOriginalBottom = -1

      {% if log_messages %}
        document.getElementById('warnings_button').onclick = function () {
          document.getElementById('warnings_modal').classList.add('is-active')
        }

        document.getElementById('warnings_modal_close').onclick = function () {
          document.getElementById('warnings_modal').classList.remove('is-active')
        }
      {% endif %}

      const parentTitleEl = document.querySelector('title')

      window.history.replaceState(history.state, parentTitleEl.textContent, window.location.href.split('?')[0])
      const articleDisplay = document.getElementById('article_display_{{ public_id }}')

      function updateParentTitle () {
        let subTitle = articleDisplay.contentDocument.querySelector('title')
        if (subTitle)
          parentTitleEl.textContent = 'Open : Stencila : ' + subTitle.textContent
        articleDisplay.style.height = `${articleDisplay.contentWindow.document.body.scrollHeight}px`
        updatePageFooterPosition()
        scrollChange()
      }

      function updatePageFooterPosition () {
        if (!pageFooter) return
        pageFooterPosition = pageFooter.getBoundingClientRect().top
        if (conversionFooterOriginalBottom === -1)
          conversionFooterOriginalBottom = parseInt(getComputedStyle(conversionsFooter).getPropertyValue('bottom'))
      }

      function scrollChange () {
        if (pageFooterPosition === -1) return

        const windowBottom = window.innerHeight + window.scrollY

        if (windowBottom > pageFooterPosition) {
          conversionsFooter.style.bottom = (windowBottom - pageFooterPosition) + conversionFooterOriginalBottom + 'px'
        } else {
          conversionsFooter.style.bottom = conversionFooterOriginalBottom + 'px'
        }
      }

      articleDisplay.onload = function () {
        updateParentTitle()
      }

      document.onscroll = scrollChange
      window.onresize = function () {
        updatePageFooterPosition()
        scrollChange()
      }

      window.onload = function () {
        const pageFooters = document.querySelectorAll('footer')
        pageFooter = pageFooters[pageFooters.length - 1]
        updateParentTitle()
      }
    </script>
{% endblock %}