{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
       <div class="container">
            <h1 class="title is-2">About</h1>
            Stencila Hub brings you <a href="https://stenci.la/">Stencila</a> with its all available feature
            without the need to install anything on your machine. All you need is an up-to-date
            browser and stable internet connection.
            <br/>
            Stencila Hub provides you with the native Stencila editor and the standard Stencila
            execution engines for various programming languages. This means you can start your
            data analysis straight away. By setting up an account on Stencila Hub, you will be able
            to set up projects which you can share with your collaborators (as long as they have
            an account on the Hub), add data and analysis files from different sources and track
            the changes done to the project.
            <br/>
            You can chose whether your projects on Stencila Hub are publicly visible or only
            accessible to those who collaborate on them. Public projects are a great way to turn
            your reports into interactive publications.
            <br />
            Learn more on <a href="{% url 'help' %}">how to use Stencila Hub.</a>
       </div>
{% endblock %}
