{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
       <div class="container">

             <h1 class="title is-2">Contact</h1>
             <h1 class="title is-4">Chat</h1>
             <p> Contact us on <a href="https://gitter.im/stencila/stencila">Stencila Gitter chat</a>
                 This chat channel is open to anyone. You can ask for help, provide comments and feeback.
                 Come and say hello! <br/>
                 Please note that we require everyone to obey the <a href="https://stenci.la/community/code-of-conduct.html">
                 Stencila's Code of Conduct</a>.
               </p> <br/>
              <h1 class="title is-4">Forum </h1>
               <p> Stencila is a community-driven project and we want to hear back from you. You can
                   comment, ask for help, make suggestions about the project or report your experiences
                   through our <a href="http://community.stenci.la/">Community Forum</a>.
              </p> <br/>
               <h1 class="title is-4">Email</h1>
              <p> Send us a message to <a mailto="hello@stenci.la">hello AT stenci.la</a>.
              </p><br/>
              <h1 class="title is-4">GitHub</h1>
              <p> You can file in issues related to the Stencila Hub via <a href="https://github.com/stencila/hub/issues/new">
                its repository</a>.
              </p><br/>
              <p>  <h1 class="title is-4">Twitter</h1>
               You can <a href="https://twitter.com/stencila">find us on Twitter</a> too.
           </p> <br/>
       </div>
{% endblock %}
