{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
       <div class="container">
         <div class="columns">

           <div class="column">
             <h1 class="title is-2">Contact</h1>
             <p>
               Stencila is a community-driven project and we want to hear back from you. You can
               comment, ask for help, make suggestions about the project or report your experiences
               through our <a href="http://community.stenci.la/">Community Forum</a>.
               <br>
               <br>
             </p>
             <p>
               Join us also on <a href="https://gitter.im/stencila/stencila">Stencila Gitter chat</a>
                 This chat channel is open to anyone who wants to or already
               uses Stencila, would like to develop Stencila or is already a contributor. Come and say hello!
               <br>
               <br>
             </p>
             <p>
                 You can <a href="https://twitter.com/stencila">find us on Twitter</a> too or
                   simply talk to us via <a mailto="community@stenci.la">email</a>.
             </p>

           </div>
         </div>
       </div>
{% endblock %}
