////
/// Overrides for Bulma navbar component
////

/// Variables to overide
$stencila-navbar-item-padding-right: 20 !default
$stencila-navbar-item-padding-left: 20 !default
$stencila-navbar-item-font-size: 16 !default
$stencila-navbar-item-line-height: 18 !default
$stencila-navbar-active-background-line: $toxic-green !default
$stencila-navbar-burger-height: 80px !default

.navbar
    align-items: center
    box-shadow: 0 rem(6) rem(12) rgba($black, 0.1)

    +touch
        min-height: 0

    .container
        display: flex
        margin: 0 auto
        position: relative

        +touch
            flex-direction: column

        .navbar-brand
          margin-left: 0

        .navbar-menu
          margin-right: 0


.navbar-menu
    align-items: center

    +touch
        position: relative
        min-height: 100%
        height: 100%

.navbar-start
    margin: 0 rem(40)
    justify-content: center
    height: 100%

    +touch
        position: relative
        justify-content: center

    .navbar-item
        height: 100%

.navbar-end
    height: 100%
    align-items: center
    margin-right: 0

    .button
        transition: border-color $fast-speed, color $fast-speed

    +touch
        text-align: center
        margin-right: 0
        margin-bottom: rem(20)

        .button
            margin-left: auto
            margin-right: auto

.navbar-item,
.navbar-link
  padding-left: rem($stencila-navbar-item-padding-left)
  padding-right: rem($stencila-navbar-item-padding-right)

.navbar-brand
  min-height: 0

.navbar-item
    // +transition($speed: 0.1s)
    font-size: rem($stencila-navbar-item-font-size)
    line-height: em($stencila-navbar-item-line-height, $stencila-navbar-item-font-size)
    font-weight: $weight-semibold
    position: relative

    +touch
        text-align: center
        margin-bottom: rem(20)
        margin-top: rem(10)

    &:after
        // +transition($speed: 0.1s)
        content: ''
        display: block
        width: 0
        height: 3px
        position: absolute
        left: 0
        bottom: 0
        background: $stencila-navbar-active-background-line

        +touch
            display: none

    &:hover
        &:after
            width: 100%

    &.is-active
        pointer-events: none

        &:after
            width: 100%

.navbar-logo
    padding: rem(18) 0
    line-height: 0
    font-size: 0
    margin-left: 0

    +touch
        width: rem(120)
        padding: 0
        margin: 0 0 0 rem($stencila-navbar-item-padding-left)

    &:hover
        &:after
            display: none

.navbar-burger
    +touch
      +hamburger($stencila-navbar-burger-height)

html,
body
    &.has-navbar-fixed-top-touch
        +touch
            padding-top: rem($stencila-navbar-burger-height)
