////
/// Overrides for Bulma button
////

$panel-block-active-border-left-color: #2468EF
$panel-block-active-background-color: #EDEDED

.panel-block
    border-color: #E5E5E5
    border-right: none
    border-left: none
    font-size: 16px
    font-weight: bold

    &.is-active
        border-left: 2px solid $panel-block-active-border-left-color
        color: $panel-block-active-border-left-color
        background-color: $panel-block-active-background-color
